@import url(default.css);
@import url(font.css);
@import url(common.css);

header{
    position: fixed; /* 무조건 body를 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    color: #fff;
    width: 100%;
    height: 100px;
    display: flex; /* logo, gnb, util를 좌우 정렬 */
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
header .logo a{
    display: block;
    width: 213px;
    height: 49px;
    background: url(../images/logo_w.svg) center center / cover;
}
header .gnb .gnb_wrap ul.dapth1{ /* 1차 메뉴 */
    display: flex; /* li를 좌우배치 */
}
header .gnb .gnb_wrap ul.dapth1 > li > a{
    display: block;
    line-height: 100px; /* header 높이만큼 */
    font-size: 20px;
    font-family: 'TTHakgyoansimTtwimteulR';
    padding: 0 25px; /* 좌우 여백의 반땡 */
    margin: 29px 0 0 0;
}
header .gnb .gnb_wrap ul.dapth1 > li:has(ul.dapth2) > a{
    /* has라는 클래스를 적용해서 하위메뉴 유무로 나눠 구분해 줄 수 있음. */
    color: red; 
}
header .gnb .gnb_wrap ul.dapth1 > li > ul.dapth2{ /* 2차 메뉴 */
    display: none;
}
header .util .searh .search_open{
    display: block;
    width: 43px;
    height: 43px;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_38_1229' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_38_1229)'%3E%3Cpath d='M11.7813 20.6875C9.30208 20.6875 7.20313 19.8281 5.48438 18.1094C3.76563 16.3906 2.90625 14.2917 2.90625 11.8125C2.90625 9.33333 3.76563 7.23438 5.48438 5.51562C7.20313 3.79688 9.30208 2.9375 11.7813 2.9375C14.2604 2.9375 16.3594 3.79688 18.0781 5.51562C19.7969 7.23438 20.6563 9.33333 20.6563 11.8125C20.6563 12.75 20.526 13.6458 20.2656 14.5C20.0052 15.3542 19.625 16.1146 19.125 16.7812L25.9375 23.5938C26.25 23.9062 26.4063 24.2917 26.4063 24.75C26.4063 25.2083 26.25 25.5938 25.9375 25.9062C25.625 26.2188 25.2396 26.375 24.7813 26.375C24.3229 26.375 23.9375 26.2188 23.625 25.9062L16.8438 19.125C16.2188 19.6042 15.4531 19.9844 14.5469 20.2656C13.6406 20.5469 12.7188 20.6875 11.7813 20.6875ZM11.7813 17.375C13.3438 17.375 14.6615 16.8385 15.7344 15.7656C16.8073 14.6927 17.3438 13.375 17.3438 11.8125C17.3438 10.25 16.8073 8.93229 15.7344 7.85938C14.6615 6.78646 13.3438 6.25 11.7813 6.25C10.2188 6.25 8.90104 6.78646 7.82813 7.85938C6.75521 8.93229 6.21875 10.25 6.21875 11.8125C6.21875 13.375 6.75521 14.6927 7.82813 15.7656C8.90104 16.8385 10.2188 17.375 11.7813 17.375Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    margin: 29px 0 0 0;
}
header .gnb .gnb_open,
header .gnb .gnb_close{
    display: none; /* 모바일에서만 보이게 */
}



.visual .swiper-slide{
    height: 900px;
    color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.visual .swiper-slide.bg1{
    background-image: url(../images/visual_bg01.jpg);
}
.visual .swiper-slide.bg2{
    background-image: url(../images/visual_bg02.jpg);
}
.visual .swiper-slide.bg3{
    background-image: url(../images/visual_bg03.jpg);
}
.visual .swiper-slide.bg4{
    background-image: url(../images/visual_bg04.jpg);
}
.visual .swiper-slide h3{
    font-size: 50px;
    font-family: 'TTHakgyoansimTtwimteulR';
    color: #EB9D00;
    line-height: 1.2;
    margin: 434px 0 13px 0;
}
.visual .swiper-slide.bg3 h3,
.visual .swiper-slide.bg4 h3{
    font-size: 50px;
    font-family: 'TTHakgyoansimTtwimteulR';
    color: #fff;
    line-height: 1.2;
    margin: 434px 0 13px 0;
}
.visual .btn_wrap{
    position: relative; /* swiper를 기준으로 정렬 */
    left: 0;
    bottom: 42px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
    gap: 8px;
}
.visual .btn_wrap button{
    width: 20px;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.visual .btn_wrap button.btn_prev{
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_35_711' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_35_711)'%3E%3Cpath d='M7.375 8.125H9.375C9.55208 8.125 9.70052 8.0651 9.82031 7.94531C9.9401 7.82552 10 7.67708 10 7.5C10 7.32292 9.9401 7.17448 9.82031 7.05469C9.70052 6.9349 9.55208 6.875 9.375 6.875H7.375L7.9375 6.3125C8.05208 6.19792 8.10938 6.05208 8.10938 5.875C8.10938 5.69792 8.05208 5.55208 7.9375 5.4375C7.82292 5.32292 7.67708 5.26562 7.5 5.26562C7.32292 5.26562 7.17708 5.32292 7.0625 5.4375L5.4375 7.0625C5.3125 7.1875 5.25 7.33333 5.25 7.5C5.25 7.66667 5.3125 7.8125 5.4375 7.9375L7.0625 9.5625C7.17708 9.67708 7.32292 9.73438 7.5 9.73438C7.67708 9.73438 7.82292 9.67708 7.9375 9.5625C8.05208 9.44792 8.10938 9.30208 8.10938 9.125C8.10938 8.94792 8.05208 8.80208 7.9375 8.6875L7.375 8.125ZM7.5 13.75C6.63542 13.75 5.82292 13.5859 5.0625 13.2578C4.30208 12.9297 3.64062 12.4844 3.07812 11.9219C2.51562 11.3594 2.07031 10.6979 1.74219 9.9375C1.41406 9.17708 1.25 8.36458 1.25 7.5C1.25 6.63542 1.41406 5.82292 1.74219 5.0625C2.07031 4.30208 2.51562 3.64062 3.07812 3.07812C3.64062 2.51562 4.30208 2.07031 5.0625 1.74219C5.82292 1.41406 6.63542 1.25 7.5 1.25C8.36458 1.25 9.17708 1.41406 9.9375 1.74219C10.6979 2.07031 11.3594 2.51562 11.9219 3.07812C12.4844 3.64062 12.9297 4.30208 13.2578 5.0625C13.5859 5.82292 13.75 6.63542 13.75 7.5C13.75 8.36458 13.5859 9.17708 13.2578 9.9375C12.9297 10.6979 12.4844 11.3594 11.9219 11.9219C11.3594 12.4844 10.6979 12.9297 9.9375 13.2578C9.17708 13.5859 8.36458 13.75 7.5 13.75ZM7.5 12.5C8.89583 12.5 10.0781 12.0156 11.0469 11.0469C12.0156 10.0781 12.5 8.89583 12.5 7.5C12.5 6.10417 12.0156 4.92188 11.0469 3.95313C10.0781 2.98438 8.89583 2.5 7.5 2.5C6.10417 2.5 4.92188 2.98438 3.95313 3.95313C2.98438 4.92188 2.5 6.10417 2.5 7.5C2.5 8.89583 2.98438 10.0781 3.95313 11.0469C4.92188 12.0156 6.10417 12.5 7.5 12.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_next{
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_35_714' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_35_714)'%3E%3Cpath d='M7.625 8.125L7.0625 8.6875C6.94792 8.80208 6.89063 8.94792 6.89063 9.125C6.89063 9.30208 6.94792 9.44792 7.0625 9.5625C7.17708 9.67708 7.32292 9.73438 7.5 9.73438C7.67708 9.73438 7.82292 9.67708 7.9375 9.5625L9.5625 7.9375C9.6875 7.8125 9.75 7.66667 9.75 7.5C9.75 7.33333 9.6875 7.1875 9.5625 7.0625L7.9375 5.4375C7.82292 5.32292 7.67708 5.26562 7.5 5.26562C7.32292 5.26562 7.17708 5.32292 7.0625 5.4375C6.94792 5.55208 6.89063 5.69792 6.89063 5.875C6.89063 6.05208 6.94792 6.19792 7.0625 6.3125L7.625 6.875H5.625C5.44792 6.875 5.29948 6.9349 5.17969 7.05469C5.0599 7.17448 5 7.32292 5 7.5C5 7.67708 5.0599 7.82552 5.17969 7.94531C5.29948 8.0651 5.44792 8.125 5.625 8.125H7.625ZM7.5 13.75C6.63542 13.75 5.82292 13.5859 5.0625 13.2578C4.30208 12.9297 3.64062 12.4844 3.07812 11.9219C2.51562 11.3594 2.07031 10.6979 1.74219 9.9375C1.41406 9.17708 1.25 8.36458 1.25 7.5C1.25 6.63542 1.41406 5.82292 1.74219 5.0625C2.07031 4.30208 2.51562 3.64062 3.07812 3.07812C3.64062 2.51562 4.30208 2.07031 5.0625 1.74219C5.82292 1.41406 6.63542 1.25 7.5 1.25C8.36458 1.25 9.17708 1.41406 9.9375 1.74219C10.6979 2.07031 11.3594 2.51562 11.9219 3.07812C12.4844 3.64062 12.9297 4.30208 13.2578 5.0625C13.5859 5.82292 13.75 6.63542 13.75 7.5C13.75 8.36458 13.5859 9.17708 13.2578 9.9375C12.9297 10.6979 12.4844 11.3594 11.9219 11.9219C11.3594 12.4844 10.6979 12.9297 9.9375 13.2578C9.17708 13.5859 8.36458 13.75 7.5 13.75ZM7.5 12.5C8.89583 12.5 10.0781 12.0156 11.0469 11.0469C12.0156 10.0781 12.5 8.89583 12.5 7.5C12.5 6.10417 12.0156 4.92188 11.0469 3.95313C10.0781 2.98438 8.89583 2.5 7.5 2.5C6.10417 2.5 4.92188 2.98438 3.95313 3.95313C2.98438 4.92188 2.5 6.10417 2.5 7.5C2.5 8.89583 2.98438 10.0781 3.95313 11.0469C4.92188 12.0156 6.10417 12.5 7.5 12.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_stop{
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_35_717' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_35_717)'%3E%3Cpath d='M6.25 10C6.42708 10 6.57552 9.9401 6.69531 9.82031C6.8151 9.70052 6.875 9.55208 6.875 9.375V5.625C6.875 5.44792 6.8151 5.29948 6.69531 5.17969C6.57552 5.0599 6.42708 5 6.25 5C6.07292 5 5.92448 5.0599 5.80469 5.17969C5.6849 5.29948 5.625 5.44792 5.625 5.625V9.375C5.625 9.55208 5.6849 9.70052 5.80469 9.82031C5.92448 9.9401 6.07292 10 6.25 10ZM8.75 10C8.92708 10 9.07552 9.9401 9.19531 9.82031C9.3151 9.70052 9.375 9.55208 9.375 9.375V5.625C9.375 5.44792 9.3151 5.29948 9.19531 5.17969C9.07552 5.0599 8.92708 5 8.75 5C8.57292 5 8.42448 5.0599 8.30469 5.17969C8.1849 5.29948 8.125 5.44792 8.125 5.625V9.375C8.125 9.55208 8.1849 9.70052 8.30469 9.82031C8.42448 9.9401 8.57292 10 8.75 10ZM7.5 13.75C6.63542 13.75 5.82292 13.5859 5.0625 13.2578C4.30208 12.9297 3.64062 12.4844 3.07812 11.9219C2.51562 11.3594 2.07031 10.6979 1.74219 9.9375C1.41406 9.17708 1.25 8.36458 1.25 7.5C1.25 6.63542 1.41406 5.82292 1.74219 5.0625C2.07031 4.30208 2.51562 3.64062 3.07812 3.07812C3.64062 2.51562 4.30208 2.07031 5.0625 1.74219C5.82292 1.41406 6.63542 1.25 7.5 1.25C8.36458 1.25 9.17708 1.41406 9.9375 1.74219C10.6979 2.07031 11.3594 2.51562 11.9219 3.07812C12.4844 3.64062 12.9297 4.30208 13.2578 5.0625C13.5859 5.82292 13.75 6.63542 13.75 7.5C13.75 8.36458 13.5859 9.17708 13.2578 9.9375C12.9297 10.6979 12.4844 11.3594 11.9219 11.9219C11.3594 12.4844 10.6979 12.9297 9.9375 13.2578C9.17708 13.5859 8.36458 13.75 7.5 13.75ZM7.5 12.5C8.89583 12.5 10.0781 12.0156 11.0469 11.0469C12.0156 10.0781 12.5 8.89583 12.5 7.5C12.5 6.10417 12.0156 4.92188 11.0469 3.95313C10.0781 2.98438 8.89583 2.5 7.5 2.5C6.10417 2.5 4.92188 2.98438 3.95313 3.95313C2.98438 4.92188 2.5 6.10417 2.5 7.5C2.5 8.89583 2.98438 10.0781 3.95313 11.0469C4.92188 12.0156 6.10417 12.5 7.5 12.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play{
    display: none; /* 정지 버튼을 눌렀을때만 나오게 */
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_45_440' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_45_440)'%3E%3Cpath d='M6.73438 9.67188L9.60938 7.76563C9.70313 7.70313 9.75 7.61458 9.75 7.5C9.75 7.38542 9.70313 7.29687 9.60938 7.23437L6.73438 5.32813C6.63021 5.25521 6.52344 5.2474 6.41406 5.30469C6.30469 5.36198 6.25 5.45313 6.25 5.57813V9.42187C6.25 9.54687 6.30469 9.63802 6.41406 9.69531C6.52344 9.7526 6.63021 9.74479 6.73438 9.67188ZM7.5 13.75C6.63542 13.75 5.82292 13.5859 5.0625 13.2578C4.30208 12.9297 3.64062 12.4844 3.07812 11.9219C2.51562 11.3594 2.07031 10.6979 1.74219 9.9375C1.41406 9.17708 1.25 8.36458 1.25 7.5C1.25 7.16667 1.27604 6.83333 1.32812 6.5C1.38021 6.16667 1.45833 5.83854 1.5625 5.51563C1.61458 5.34896 1.72135 5.23698 1.88281 5.17969C2.04427 5.1224 2.19792 5.13542 2.34375 5.21875C2.5 5.30208 2.61198 5.42448 2.67969 5.58594C2.7474 5.7474 2.75521 5.91667 2.70313 6.09375C2.64063 6.32292 2.59115 6.55469 2.55469 6.78906C2.51823 7.02344 2.5 7.26042 2.5 7.5C2.5 8.89583 2.98438 10.0781 3.95313 11.0469C4.92188 12.0156 6.10417 12.5 7.5 12.5C8.89583 12.5 10.0781 12.0156 11.0469 11.0469C12.0156 10.0781 12.5 8.89583 12.5 7.5C12.5 6.10417 12.0156 4.92188 11.0469 3.95313C10.0781 2.98438 8.89583 2.5 7.5 2.5C7.25 2.5 7.0026 2.51823 6.75781 2.55469C6.51302 2.59115 6.27083 2.64583 6.03125 2.71875C5.85417 2.77083 5.6875 2.76563 5.53125 2.70313C5.375 2.64063 5.26042 2.53125 5.1875 2.375C5.11458 2.21875 5.11198 2.0599 5.17969 1.89844C5.2474 1.73698 5.36458 1.63021 5.53125 1.57813C5.84375 1.46354 6.16667 1.38021 6.5 1.32812C6.83333 1.27604 7.16667 1.25 7.5 1.25C8.36458 1.25 9.17708 1.41406 9.9375 1.74219C10.6979 2.07031 11.3594 2.51562 11.9219 3.07812C12.4844 3.64062 12.9297 4.30208 13.2578 5.0625C13.5859 5.82292 13.75 6.63542 13.75 7.5C13.75 8.36458 13.5859 9.17708 13.2578 9.9375C12.9297 10.6979 12.4844 11.3594 11.9219 11.9219C11.3594 12.4844 10.6979 12.9297 9.9375 13.2578C9.17708 13.5859 8.36458 13.75 7.5 13.75ZM3.4375 4.375C3.17708 4.375 2.95573 4.28385 2.77344 4.10156C2.59115 3.91927 2.5 3.69792 2.5 3.4375C2.5 3.17708 2.59115 2.95573 2.77344 2.77344C2.95573 2.59115 3.17708 2.5 3.4375 2.5C3.69792 2.5 3.91927 2.59115 4.10156 2.77344C4.28385 2.95573 4.375 3.17708 4.375 3.4375C4.375 3.69792 4.28385 3.91927 4.10156 4.10156C3.91927 4.28385 3.69792 4.375 3.4375 4.375Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1024px){ /* 중간 사이즈로 pc랑 모바일 사이 사이즈*/
    .visual .swiper-slide{
        height: 850px; 
    }
    .visual .swiper-slide h3{
        font-size: 40px;
        line-height: 1.2;
        margin: 353px 0 5px 0;
    }   
    .visual .swiper-slide.bg3 h3,
    .visual .swiper-slide.bg4 h3{
        font-size: 40px;
        line-height: 1.2;
        margin: 338px 0 5px 0;
    }
    .visual .btn_wrap{
        left: 0;
        bottom: 35px;
        width: 100%;
    } 
}/* media pc랑 모바일 사이 */

@media screen and (max-width:768px){ /* visual 모바일 */
            .visual .swiper-slide{
                height: 750px;
            }
            .visual .swiper-slide h3{
                font-size: 30px;
                line-height: 1.2;
                margin: 141px 0 5px 0;
            }   
            .visual .swiper-slide.bg3 h3,
            .visual .swiper-slide.bg4 h3{
                font-size: 30px;
                line-height: 1.2;
                margin: 338px 0 5px 0;
            }
            .visual .btn_wrap{
                left: 0;
                bottom: 30px;
                width: 100%;
            }
            .visual .btn_wrap button.btn_prev{
                display: none;
            }
            .visual .btn_wrap button.btn_next{
                display: none;
            }
}/* media visual 모바일*/




footer{
    margin: 1000px 0 0 0;
}