/*웹 폰드를 선언*/
@font-face {
    font-family: "Eulyoo1945";
	font-style: normal;
    font-weight: 300;
    src: url('../font/Eulyoo1945-Regular.eot');
    src:url('font/Eulyoo1945-Regular.eot?#iefix') format('embedded-opentype'), /* 뒤에 붙은 것은 고정값 지우면 안됨*/
    url('../font/Eulyoo1945-Regular.woff2') format('woff2'),
    url('../font/Eulyoo1945-Regular.woff') format('woff');
}
@font-face {
    font-family: "Eulyoo1945";
	font-style: normal;
    font-weight: 500;
    src: url('../font/Eulyoo1945-SemiBold.eot');
    src:url('../font/Eulyoo1945-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../font/Eulyoo1945-SemiBold.woff2') format('woff2'),
    url('../font/Eulyoo1945-SemiBold.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), 
	url(../font/Pretendard-Regular.woff2) format('woff2'), 
	url(../font/Pretendard-Regular.woff) format('woff');
}

