@import url(default.css);
@import url(font.css);
@import url(common.css);

.eulyoo_font{
    font-family: "Eulyoo1945";
    font-weight: 500;
    line-height: 1.4;
}

header{
    position: absolute; /* wrap 을 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100; /* 중첩될 수 있기때문에 */
    width: 100%; /* wrap 기준으로 100% margin 주면안됨 무조건 padding*/
    height: 100px;
    color: #fff;
    display: flex; /* logo,gnb,tnb 를 좌우로 배치 */
    justify-content: space-between; /* 좌우양쪽 끝 */
    align-items: center; /* 위아래 가운데 */
    padding: 0 20px; /* logo,tnb 좌우 여백*/
}
header .logo a{
    display: block;
    font-size: 0; /* 이미지 하단에 존재하는 행간 삭제, 반드시 이미지를 감싸는 요소에게 적용해야함*/
    line-height: 0;
}
header .gnb .gnb_open,
header .gnb .gnb_close{
    display: none; /* 모바일에서만 보이게 하기 위해 숨김 */
}
header .gnb .gnb_wrap ul{
    display: flex; /* li를 좌우로 배치 */
}
header .gnb .gnb_wrap ul li a{
    display: block;
    font-size: 22px;
    line-height: 100px; /* header 높이와 같은값으로 행간을 줌*/
    padding: 0 22px; /*둘 사이의 여백의 반*/
}
header .tnb{
    display: flex; /* mypage,search 좌우배치 */
    gap: 9px; /* mypage,search 사이의 여백 */
}
header .tnb .mypage,
header .tnb .search{
    width: 30px;
    height: 30px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
}
header .tnb .mypage{
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_27_938' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_27_938)'%3E%3Cpath d='M15 15C13.625 15 12.4479 14.5104 11.4688 13.5313C10.4896 12.5521 10 11.375 10 10C10 8.625 10.4896 7.44792 11.4688 6.46875C12.4479 5.48958 13.625 5 15 5C16.375 5 17.5521 5.48958 18.5312 6.46875C19.5104 7.44792 20 8.625 20 10C20 11.375 19.5104 12.5521 18.5312 13.5313C17.5521 14.5104 16.375 15 15 15ZM5 22.5V21.5C5 20.7917 5.18229 20.1406 5.54688 19.5469C5.91146 18.9531 6.39583 18.5 7 18.1875C8.29167 17.5417 9.60417 17.0573 10.9375 16.7344C12.2708 16.4115 13.625 16.25 15 16.25C16.375 16.25 17.7292 16.4115 19.0625 16.7344C20.3958 17.0573 21.7083 17.5417 23 18.1875C23.6042 18.5 24.0885 18.9531 24.4531 19.5469C24.8177 20.1406 25 20.7917 25 21.5V22.5C25 23.1875 24.7552 23.776 24.2656 24.2656C23.776 24.7552 23.1875 25 22.5 25H7.5C6.8125 25 6.22396 24.7552 5.73438 24.2656C5.24479 23.776 5 23.1875 5 22.5ZM7.5 22.5H22.5V21.5C22.5 21.2708 22.4427 21.0625 22.3281 20.875C22.2135 20.6875 22.0625 20.5417 21.875 20.4375C20.75 19.875 19.6146 19.4531 18.4688 19.1719C17.3229 18.8906 16.1667 18.75 15 18.75C13.8333 18.75 12.6771 18.8906 11.5312 19.1719C10.3854 19.4531 9.25 19.875 8.125 20.4375C7.9375 20.5417 7.78646 20.6875 7.67188 20.875C7.55729 21.0625 7.5 21.2708 7.5 21.5V22.5ZM15 12.5C15.6875 12.5 16.276 12.2552 16.7656 11.7656C17.2552 11.276 17.5 10.6875 17.5 10C17.5 9.3125 17.2552 8.72396 16.7656 8.23438C16.276 7.74479 15.6875 7.5 15 7.5C14.3125 7.5 13.724 7.74479 13.2344 8.23438C12.7448 8.72396 12.5 9.3125 12.5 10C12.5 10.6875 12.7448 11.276 13.2344 11.7656C13.724 12.2552 14.3125 12.5 15 12.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .tnb .search{
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_27_935' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_27_935)'%3E%3Cpath d='M11.875 20C9.60417 20 7.68229 19.2135 6.10938 17.6406C4.53646 16.0677 3.75 14.1458 3.75 11.875C3.75 9.60417 4.53646 7.68229 6.10938 6.10938C7.68229 4.53646 9.60417 3.75 11.875 3.75C14.1458 3.75 16.0677 4.53646 17.6406 6.10938C19.2135 7.68229 20 9.60417 20 11.875C20 12.7917 19.8542 13.6562 19.5625 14.4687C19.2708 15.2812 18.875 16 18.375 16.625L25.375 23.625C25.6042 23.8542 25.7188 24.1458 25.7188 24.5C25.7188 24.8542 25.6042 25.1458 25.375 25.375C25.1458 25.6042 24.8542 25.7188 24.5 25.7188C24.1458 25.7188 23.8542 25.6042 23.625 25.375L16.625 18.375C16 18.875 15.2812 19.2708 14.4687 19.5625C13.6562 19.8542 12.7917 20 11.875 20ZM11.875 17.5C13.4375 17.5 14.7656 16.9531 15.8594 15.8594C16.9531 14.7656 17.5 13.4375 17.5 11.875C17.5 10.3125 16.9531 8.98438 15.8594 7.89062C14.7656 6.79688 13.4375 6.25 11.875 6.25C10.3125 6.25 8.98438 6.79688 7.89062 7.89062C6.79688 8.98438 6.25 10.3125 6.25 11.875C6.25 13.4375 6.79688 14.7656 7.89062 15.8594C8.98438 16.9531 10.3125 17.5 11.875 17.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

@media screen and (max-width:640px){ /*header 모바일*/
    header{
        height: 60px; /* 모바일에서의 header 높이*/
        padding: 0 0 0 20px; /* logo,tnb 좌우 여백*/
    }
    header .logo a img{
        width: 137px; /* 로고 이미지는 넓이를 꼭 줘야함 */
    }
    header .gnb .gnb_open{
        display: block; /* none -> block 숨김요소 보이게 */
        width: 60px; /* header 높이와 동일하게 */
        height: 60px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_27_1048' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_27_1048)'%3E%3Cpath d='M5.5 17C5.08333 17 4.72917 16.8542 4.4375 16.5625C4.14583 16.2708 4 15.9167 4 15.5C4 15.0833 4.14583 14.7292 4.4375 14.4375C4.72917 14.1458 5.08333 14 5.5 14H18.5C18.9167 14 19.2708 14.1458 19.5625 14.4375C19.8542 14.7292 20 15.0833 20 15.5C20 15.9167 19.8542 16.2708 19.5625 16.5625C19.2708 16.8542 18.9167 17 18.5 17H5.5ZM5.5 10C5.08333 10 4.72917 9.85417 4.4375 9.5625C4.14583 9.27083 4 8.91667 4 8.5C4 8.08333 4.14583 7.72917 4.4375 7.4375C4.72917 7.14583 5.08333 7 5.5 7H18.5C18.9167 7 19.2708 7.14583 19.5625 7.4375C19.8542 7.72917 20 8.08333 20 8.5C20 8.91667 19.8542 9.27083 19.5625 9.5625C19.2708 9.85417 18.9167 10 18.5 10H5.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap{
        display: none; /* 숨김처리 */
    }
    header .tnb{
        display: none; /* 숨김처리 */
    }
}/*media 모바일 header*/


.visual{
    height: 100vh; /* 브라우저의 높이에 맞춰서 */
    min-height: 530px; /* 최소높이를 정해줘야함(안그러면 글자가 잘림)*/
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
}
.visual h2{
    font-size: 50px;
    padding: 40vh 0 20px 0;
}
/* <<제목과 본문이 하단에 내리 꽂는 경우!!>>
.visual .wrapper{
    height: 100vh; 브라우저의 높이에 맞춰서 
    display : flex;
    justify-content : flex-end;
}
.visual p{
    margin: 0 0 10vh 0 여백도 같은 단위를 주는게 좋음
*/

@media screen and (max-width:640px){ /*모바일 visual*/
                    .visual{
                        height: auto;
                        min-height: 0; /* 모바일은 최소높이가 항상 0 */
                    }
                    .visual.wrapper{
                        height: 600px;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        padding: 0 0 57px 0;
                    }
                    .visual h2{
                        font-size: 30px;
                        padding: 210px 0 15px 0;
                    }
                    .visual h2 br{ 
                        display: none;
                    }
                    .visual p {
                        padding: 0 0 100px 0;
                        font-size: 16px;
                    }
                    /* / 줄바꿈이 있을때는 모바일에서는 절대 (삭제)를 해줘야함!! /
                    .visual p br{ 
                        display: none; (줄바꿈 삭제)
                    }*/
}/*media 모바일 visual*/

.book{
    margin: 287px 0 0 0; /*블러(그림자*/
}
.book .book_wrap{
    width: calc(50% + 630px);
    position: relative;
    left: calc(50% - 630px);
    display: flex; /* tit , list  좌우배치 */
    justify-content: space-between;
}
.book .book_wrap .tit h2{
    font-size: 50px;
    color: #1d1d1d;
    margin: 10px 0 18px 0;
}
.book .book_wrap .list{
    width: calc(100% - 287px);
    /* book_wrap 의 넓이를 100%로 하고 왼쪽 tit의 넓이를 빼기 */
    overflow-x: hidden; 
    /* auto를 주게되면 사진 밑에 가로 스크롤 바가 생김*/
    padding: 10px 10px 10px 0; /* !!그림자값 만큼 여백을 만들어줘야함!!  */
}
.book .book_wrap .list ul{
    display: flex; /* li를 좌우 정렬 */
    gap: 36px; /* li 사이의 여백 */
    width: 2208px;
    /*
        li의 넓이 * li 의 갯수 = 240px * 8 = 1920
        사이의 여백 * li의 갯수 = 36 * 8 = 288 
        1920 + 288 = 2208
    */
}
.book .book_wrap .list ul li{
    width: 240px;
    /* 책 아랫 정렬 밑의 여백을 똑같이 맞춰 줘야만 가능한 것 */
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.book .book_wrap .list ul li a{
    display: block;
}
.book .book_wrap .list ul li a .photo{
    overflow: hidden;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.25);
    /* 그림자 주는방법 */
}
.book .book_wrap .list ul li a .photo img{ /*overflow 주면 작살남*/
    width: 100%; 
    /* 높이는 알아서 들어갈거임. 
       - 책은 이미지 전체가 나와야 하기 때문에 object-fit 안줌. 100%로 적용하는것임*/
    vertical-align: top;   
    /* 이미지에 vertical-align을 주면 이미지 하단에 행간이 사라짐 */
}
.book .book_wrap .list ul li a h3{
    margin: 25px 0 7px 0;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    /* 책이 윗정렬 되어있으면 제한 안줘도 됨.
        아랫정렬일 경우에만  */

    /* 1줄 제한  display: block;안주면 한줄 제한 안됨 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    */

    /* 2줄제한 
    line-height: 1.3;
    height: 2.8em; 행간 x 줄수 (단위는 em)
    overflow: hidden;
    */
}
.book .book_wrap .list ul li a strong{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    /* 책이 윗정렬 되어있으면 제한 안줘도 됨.
       아랫정렬일 경우에만  */
    
    /* 1줄 제한  display: block;안주면 한줄 제한 안됨
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    */

    /* 2줄제한 
    line-height: 1.3;
    height: 2.8em; 행간 x 줄수 (단위는 em)
    overflow: hidden;
    */
}
.book .book_wrap .more{
    position: absolute; /* book_wrap 을 기준으로 정렬 */
    top: 250px;
    left: 0;
    color: #645A4E;
    border: 1px solid #645A4E;
    transition: 0.5s;
    /*
    border: 1px solid #645A4E;
    padding: 13px 43px 10px 10px;
    */
}
.book .book_wrap .more::after{
    content: "";
    position: absolute;
    right: 6px;
    top: 6px;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_27_949' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_27_949)'%3E%3Cpath d='M11 13H6C5.71667 13 5.47917 12.9042 5.2875 12.7125C5.09583 12.5208 5 12.2833 5 12C5 11.7167 5.09583 11.4792 5.2875 11.2875C5.47917 11.0958 5.71667 11 6 11H11V6C11 5.71667 11.0958 5.47917 11.2875 5.2875C11.4792 5.09583 11.7167 5 12 5C12.2833 5 12.5208 5.09583 12.7125 5.2875C12.9042 5.47917 13 5.71667 13 6V11H18C18.2833 11 18.5208 11.0958 18.7125 11.2875C18.9042 11.4792 19 11.7167 19 12C19 12.2833 18.9042 12.5208 18.7125 12.7125C18.5208 12.9042 18.2833 13 18 13H13V18C13 18.2833 12.9042 18.5208 12.7125 18.7125C12.5208 18.9042 12.2833 19 12 19C11.7167 19 11.4792 18.9042 11.2875 18.7125C11.0958 18.5208 11 18.2833 11 18V13Z' fill='%23645A4E'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.5s;
}

@media screen and (min-width:641px){ /* pc형 book */
    /***************오버하면 아랫 선이 나타나는 애니메이션 효과*******************/
        .book .book_wrap .list ul li a h3 span{
            position: relative; /* after 정렬의 기준*/
        }
        .book .book_wrap .list ul li a h3 span::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: -3px;
            width: 0;
            height: 1px;
            background-color: #1d1d1d;
            transition: 0.5s;
        }
        .book .book_wrap .list ul li a:hover h3 span::after{
            width: 100%; /* span태그를 기준으로 넓이 100%  */
        }
        .book .book_wrap .more:hover{
            color: #F0EDE4;
            background-color: #645A4E;
        
            /*
            border: 1px solid #645A4E;
            padding: 13px 43px 10px 10px;
            */
        }
        .book .book_wrap .more:hover::after{
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_27_949' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_27_949)'%3E%3Cpath d='M11 13H6C5.71667 13 5.47917 12.9042 5.2875 12.7125C5.09583 12.5208 5 12.2833 5 12C5 11.7167 5.09583 11.4792 5.2875 11.2875C5.47917 11.0958 5.71667 11 6 11H11V6C11 5.71667 11.0958 5.47917 11.2875 5.2875C11.4792 5.09583 11.7167 5 12 5C12.2833 5 12.5208 5.09583 12.7125 5.2875C12.9042 5.47917 13 5.71667 13 6V11H18C18.2833 11 18.5208 11.0958 18.7125 11.2875C18.9042 11.4792 19 11.7167 19 12C19 12.2833 18.9042 12.5208 18.7125 12.7125C18.5208 12.9042 18.2833 13 18 13H13V18C13 18.2833 12.9042 18.5208 12.7125 18.7125C12.5208 18.9042 12.2833 19 12 19C11.7167 19 11.4792 18.9042 11.2875 18.7125C11.0958 18.5208 11 18.2833 11 18V13Z' fill='%23F0EDE4'/%3E%3C/g%3E%3C/svg%3E%0A");
        
        }
}/*media pc형 book*/

@media screen and (max-width:640px){ /* 모바일 book */
                        .book{
                            margin: 111px 0 0 0; /*블러(그림자*/
                        }
                        .book .book_wrap{
                            width: auto;
                            left: auto;
                            display: block; /* tit , list  좌우배치 flex 해지 하기위해 */

                        }
                        .book .book_wrap .tit{
                            margin: 0 60px 0 20px;
                        }
                        .book .book_wrap .tit h2{
                            font-size: 30px;
                            margin: 0;
                        }
                        .book .book_wrap .tit h2 br{
                            display: none; /* 줄바꿈 삭제*/
                        }
                        .book .book_wrap .tit p{
                            display: none; /* 숨김 */
                        }
                        .book .book_wrap .list{
                            width: auto;
                            overflow-x: auto; 
                            padding: 41px 0 10px 20px;
                        }
                        .book .book_wrap .list ul{
                            gap: 23px; /* li 사이의 여백 */
                            width: 1784px;
                            /*
                                li의 넓이 * li 의 갯수 = 200px * 8 = 1600
                                사이의 여백 * li의 갯수 = 23 * 8 = 184
                                1600 + 184 = 1784
                            */
                        }
                        .book .book_wrap .list ul li{
                            width: 200px;
                        }
                        .book .book_wrap .list ul li a .photo img{ /*overflow 주면 작살남*/
                            width: 100%; 
                            /* 높이는 알아서 들어갈거임. 
                            - 책은 이미지 전체가 나와야 하기 때문에 object-fit 안줌. 100%로 적용하는것임*/
                            vertical-align: top;   
                            /* 이미지에 vertical-align을 주면 이미지 하단에 행간이 사라짐 */
                        }
                        .book .book_wrap .list ul li a h3{
                            margin: 21px 0 5px 0;
                            font-size: 18px;
                        }
                        .book .book_wrap .more{
                            left: auto;
                            right: 20px;
                            top: 5px;
                            width: 67px;
                            height: 29px;
                            color: #645A4E;
                        }
                        .book .book_wrap .more::after{
                            content: "";
                            position: absolute;
                            right: 0;
                            top: 3px;
                            width: 20px;
                            height: 20px;
                            padding: 0;
                        }
}/*media 모바일 book*/

.interview{
    margin: 173px 0 0 0;
    padding: 125px 0 147px 0 ;
    background-color: #F0EDE4;
}

.interview .tit{
    text-align: center;
}
.interview .tit h2{
    font-size: 50px;
    color: #645A4E;
    margin: 0 0 5px 0;
}
.interview .tit p{
    color: #645A4E;
    display: block;
}
.interview .list{
    margin: 60px 0 0 0;
}
.interview .list ul{
    display: flex; /* li를 좌우정렬 */
    justify-content: space-between;
}
.interview .list ul li{
    width: calc(33.33% - 40px);
    /* 100% 한줄에 나오는 / li의 갯수 = 33.33
       한줄의 여백의 합 / 한줄에 나오는 li의 갯수 * 100  = 120/3 = 40 */
}
.interview .list ul li:nth-child(2){
    margin: 99px 0 0 0;
}
.interview .list ul li a{
    display: block; /* 내부에 있는 넓이를 보장해주기 위해 적용  */
    position: relative; /* txt,txt_over 정렬의 기준 */
}
.interview .list ul li a .photo{
    position: relative; /* before 정렬의 기준 */
    overflow: hidden;
    width: 400px;
    height: 440px;
    border-radius: 50px 0 50px 0;
}
.interview .list ul li:nth-child(2) a .photo{
    /* 디자인이 무조건 두번째 요소는 스타일이 다름 */
    border-radius: 0 50px 0 50px;
}
.interview .list ul li a .photo::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 100%;
    height: 60%;
    /* 이미지 보다 순서를 위로 올리기 위해 
       z-index가 없는 것 보다 있으면 무조건 위
       z-index가 서로 있으면 높은 숫자가 위로 올라감
       z-index값은 position값이 필수!!    
    */
    z-index: 10; 
                                 /* 아래 색           위에 색     */
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
    transition: 0.5s;
}
.interview .list ul li a .photo img{
    filter: grayscale(1); /* 흑백 100% */
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.interview .list ul li a .txt{
    position: absolute; /* a를 기준으로 정렬  */
    left: 46px;
    bottom: 36px;
    width: calc(100% - 100px);
    z-index: 11; 
    /*
        z-index는 숫자가 높은게 위로 올라감. 
        하나라도 주어진 값이 있으면 그 위로 올리려면 숫자를 더 크게 써야함.
    */
    transition: 0.5s;
}
.interview .list ul li a .txt::after{
    content: "";
    position: absolute;
    right: 153px;
    top: 48px;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_27_1158' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_27_1158)'%3E%3Cpath d='M13.75 16.25H7.5C7.14583 16.25 6.84896 16.1302 6.60938 15.8906C6.36979 15.651 6.25 15.3542 6.25 15C6.25 14.6458 6.36979 14.349 6.60938 14.1094C6.84896 13.8698 7.14583 13.75 7.5 13.75H13.75V7.5C13.75 7.14583 13.8698 6.84896 14.1094 6.60938C14.349 6.36979 14.6458 6.25 15 6.25C15.3542 6.25 15.651 6.36979 15.8906 6.60938C16.1302 6.84896 16.25 7.14583 16.25 7.5V13.75H22.5C22.8542 13.75 23.151 13.8698 23.3906 14.1094C23.6302 14.349 23.75 14.6458 23.75 15C23.75 15.3542 23.6302 15.651 23.3906 15.8906C23.151 16.1302 22.8542 16.25 22.5 16.25H16.25V22.5C16.25 22.8542 16.1302 23.151 15.8906 23.3906C15.651 23.6302 15.3542 23.75 15 23.75C14.6458 23.75 14.349 23.6302 14.1094 23.3906C13.8698 23.151 13.75 22.8542 13.75 22.5V16.25Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.interview .list ul li a .txt strong{
    font-size: 30px;
    color: #fff;
}
.interview .list ul li a .txt_over{
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    bottom: -91px;
    width: calc(100% - 23px);
    background-color: #C2B299;
    color: #645A4E;
    z-index: 12; 
    padding: 45px 45px 45px 54px;
    border-radius: 50px 0 50px 0;
    opacity: 0;
    /* 부드럽게 나타났다가 사라지는건 display:none;으로는 구현 x
        opercity 0 -> 1로변경
        opercity는 공간을 차지함 --- 주의 */
    transition: 0.5s;
}
.interview .list ul li:nth-child(2) a .txt_over{
    border-radius: 0 50px 0 50px;
    left: 44px;
}
.interview .list ul li a .txt_over h3{
    font-size: 30px;
    margin: 0 0 16px 0;
}
.interview .list ul li a .txt_over p{
    /* 2줄로 제한 -- 절대로 padding주면 안됨!!! */
    line-height: 1.5;
    height: 3em; /* 행간 * 줄수 (단위는 em) */
    overflow: hidden;
    /* 줄바꿈 해지 
        word-break: normal; */

    /* ... 만드는 방법 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 줄수 */
}
.interview .list ul li a .txt_over span{
    display: inline-block; /* block을 주면 여백이 옆으로 엄청 커짐 */
    padding: 14px 31px 0 0 ;
    position: relative; /*after정렬의 기준*/
}
.interview .list ul li a .txt_over span::after{
    content: "";
    position: absolute;
    right: 3px;
    top: 18px;
    width: 15px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_27_1158' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_27_1158)'%3E%3Cpath d='M13.75 16.25H7.5C7.14583 16.25 6.84896 16.1302 6.60938 15.8906C6.36979 15.651 6.25 15.3542 6.25 15C6.25 14.6458 6.36979 14.349 6.60938 14.1094C6.84896 13.8698 7.14583 13.75 7.5 13.75H13.75V7.5C13.75 7.14583 13.8698 6.84896 14.1094 6.60938C14.349 6.36979 14.6458 6.25 15 6.25C15.3542 6.25 15.651 6.36979 15.8906 6.60938C16.1302 6.84896 16.25 7.14583 16.25 7.5V13.75H22.5C22.8542 13.75 23.151 13.8698 23.3906 14.1094C23.6302 14.349 23.75 14.6458 23.75 15C23.75 15.3542 23.6302 15.651 23.3906 15.8906C23.151 16.1302 22.8542 16.25 22.5 16.25H16.25V22.5C16.25 22.8542 16.1302 23.151 15.8906 23.3906C15.651 23.6302 15.3542 23.75 15 23.75C14.6458 23.75 14.349 23.6302 14.1094 23.3906C13.8698 23.151 13.75 22.8542 13.75 22.5V16.25Z' fill='%23645A4E'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.interview .more{
    display: none; /* 모바일에서만 더보기 메뉴 나오게 */
}

@media screen and (min-width:641px){/* pc 형 interview */
    /*******마우스로 오버했을때 나타나는 효과********/
            .interview .list ul li a:hover .photo::before{
                opacity: 0;
            }
            .interview .list ul li a:hover .photo img{
                filter: grayscale(0); /* 흑백 0% */
            }
            .interview .list ul li a:hover .txt{
                opacity: 0;
            }
            .interview .list ul li a:hover .txt_over{
                opacity: 1;
                bottom: -61px;
            }
}/* media pc형 interview  */

@media screen and (max-width:640px){/* 모바일 interview */
                        .interview{
                            margin: 170px 0 0 0;
                            padding: 123px 0 200px 0 ;
                        }
                        .interview .wrapper{
                            position: relative;
                        }
                        .interview .tit {
                            text-align: left;
                        }
                        .interview .tit h2{
                            font-size: 28px;
                            margin: 0;
                        }
                        .interview .tit p{
                            display: none;
                        }
                        .interview .list{
                            margin: 24px 0 0 0;
                        }
                        .interview .list ul{
                            display: block; 
                        }
                        .interview .list ul li{
                            width: auto;
                        }
                        .interview .list ul li:nth-child(2),
                        .interview .list ul li:nth-child(3){
                            display: none;
                        }
                        .interview .list ul li a .photo{
                            width: 92.81%;
                            border-radius: 25px 0 25px 0;
                        }
                        .interview .list ul li a .photo::before{
                            display: none;
                        }
                        .interview .list ul li a .photo img{
                            filter: grayscale(0); /* 흑백 100% */
                        }
                        .interview .list ul li a .txt{
                            display: none;
                        }
                        .interview .list ul li a .txt_over{
                            /*bottom: -91px;
                            width: 92.81%;
                            padding: 27px 22px 23px 34px;
                            border-radius: 25px 0 25px 0;
                            opacity: 1;*/
                            bottom: -91px;
                            width: 84.81%;
                            left: -1px;
                            padding: 27px 19px 23px 35px;
                            border-radius: 25px 0 25px 0;
                            opacity: 1;
                        }
                        .interview .list ul li a .txt_over h3{
                            font-size: 30px;
                            margin: 0 0 16px 0;
                        }
                        .interview .more{
                            display: block; /* 나타남 */
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            background-color: #645A4E;
                            background-position: center center;
                            background-repeat: no-repeat;
                            background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_27_1158' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_27_1158)'%3E%3Cpath d='M13.75 16.25H7.5C7.14583 16.25 6.84896 16.1302 6.60938 15.8906C6.36979 15.651 6.25 15.3542 6.25 15C6.25 14.6458 6.36979 14.349 6.60938 14.1094C6.84896 13.8698 7.14583 13.75 7.5 13.75H13.75V7.5C13.75 7.14583 13.8698 6.84896 14.1094 6.60938C14.349 6.36979 14.6458 6.25 15 6.25C15.3542 6.25 15.651 6.36979 15.8906 6.60938C16.1302 6.84896 16.25 7.14583 16.25 7.5V13.75H22.5C22.8542 13.75 23.151 13.8698 23.3906 14.1094C23.6302 14.349 23.75 14.6458 23.75 15C23.75 15.3542 23.6302 15.651 23.3906 15.8906C23.151 16.1302 22.8542 16.25 22.5 16.25H16.25V22.5C16.25 22.8542 16.1302 23.151 15.8906 23.3906C15.651 23.6302 15.3542 23.75 15 23.75C14.6458 23.75 14.349 23.6302 14.1094 23.3906C13.8698 23.151 13.75 22.8542 13.75 22.5V16.25Z' fill='%23C2B299'/%3E%3C/g%3E%3C/svg%3E%0A");
                        }
                        .interview .more span{
                            display: none;
                        }
    
}/* media 모바일 interview  */

.story{
    margin: 184px 0 0 0;
}
.story .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.story .tit h2{
    font-size: 50px;
    color: #1d1d1d;
}
.story .list{
    margin: 102px 0 0 0;
}
.story .list ul{
    display: flex; /* li 를 좌우 배치*/
    justify-content: space-between;
}
.story .list ul li{
    width: calc(25% - 18px);
    /* 100 / 한줄에 보이는 li의 갯수 
        100 / 4 = 25% 
        한줄의 여백의 총합 (24px * 3개)  * 한줄에 보이는 li의 갯수
        24 * 3 = 72 / 4 = 18  */
    border: 1px solid #F1F1F1;
}
.story .list ul li a{
    display: block;
}
.story .list ul li a .photo{
    overflow: hidden;
    height: 266px; /* 짧은 사진 높이 */
}
.story .list ul li.long a .photo{
    height: 396px; /* 긴 사진 높이 */
}
.story .list ul li a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.story .list ul li a .txt{
    padding: 18px 22px 22px 18px;
}
.story .list ul li a .txt strong{
    display: block;
    color: #645A4E;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.story .list ul li a .txt h3 {
    font-size: 20px;
    color: #2E2C2D;
    margin: 7px 0 15px 0;

    /* 1줄제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.story .list ul li a .txt p {
    /* 7줄 제한 -- 절대 padding주면 안됨 */
    line-height: 1.5;
    height: 10.5em; /* 행간*줄수 (단위는 em) */
    overflow: hidden;

    /* 2줄 이상으로 제한할때 끝에 ... 추가하는 코드 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7; /* 줄수 */

    word-break: normal;
}
.story .list ul li.long a .txt p{
    height: 3em;
    -webkit-line-clamp: 2;
}
.story .more{
    position: absolute;/* wrapper의 정렬의 기준 */
    right: 0;
    top: 19px;
    color: #1d1d1d;
    padding: 0 27px 0 0;
}
.story .more::after{
    content: "";
    position: absolute;
    right: 6px;
    top: 6px;
    width: 24px;
    height: 24px;
    background-size: 30px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_27_949' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_27_949)'%3E%3Cpath d='M11 13H6C5.71667 13 5.47917 12.9042 5.2875 12.7125C5.09583 12.5208 5 12.2833 5 12C5 11.7167 5.09583 11.4792 5.2875 11.2875C5.47917 11.0958 5.71667 11 6 11H11V6C11 5.71667 11.0958 5.47917 11.2875 5.2875C11.4792 5.09583 11.7167 5 12 5C12.2833 5 12.5208 5.09583 12.7125 5.2875C12.9042 5.47917 13 5.71667 13 6V11H18C18.2833 11 18.5208 11.0958 18.7125 11.2875C18.9042 11.4792 19 11.7167 19 12C19 12.2833 18.9042 12.5208 18.7125 12.7125C18.5208 12.9042 18.2833 13 18 13H13V18C13 18.2833 12.9042 18.5208 12.7125 18.7125C12.5208 18.9042 12.2833 19 12 19C11.7167 19 11.4792 18.9042 11.2875 18.7125C11.0958 18.5208 11 18.2833 11 18V13Z' fill='%23645A4E'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (min-width:641px){ /*pc형 story*/
            /**********마우스 오버시 나오는 효과************/
            .story .list ul li a:hover .photo img{
                transform: scale3d(1.2, 1.2, 1);
                         /*일반적으로 많이 주는 값 1.2 */
            }
            .story .list ul li a .txt h3 span{
                position: relative; /* after 기준의 정렬 */
            }
            .story .list ul li a .txt h3 span::after{
                content: "";
                position: absolute; 
                left: 0;
                bottom: -3px;
                width: 0;
                height: 1px;
                background-color: #1d1d1d;
                transition: 0.5s;
            }
            .story .list ul li a:hover .txt h3 span::after{
                width: 100%;
            }
}/* media pc형 story */

@media screen and (max-width:640px){/* 모바일 story*/
                        .story{
                            margin: 95px 0 0 0;
                        }
                        .story .tit h2{
                            font-size: 30px;
                        }
                        .story .list{
                            margin: 41px 0 0 0;
                        }
                        .story .list ul{
                            display: block; /* flex 해지*/
                        }
                        .story .list ul li{
                            width: auto;
                            border: 0; /* 4곳에 들어간 border 삭제 */
                            border-bottom: 1px solid #645A4E;
                            padding: 20px 0;
                        }
                        .story .list ul li:first-child{ /* 첫번째 목록에 적용하는것 */
                            border-top: 1px solid #645A4E; /* 위에만 줄 만드는거  */
                        }
                        .story .list ul li a{
                            display: flex;
                            flex-direction: row-reverse; /* 좌우반전 */
                            justify-content: space-between;
                            align-items: center;
                        }
                        .story .list ul li a .photo{
                            width: 42%;
                            height: 105px; /* 짧은 사진 높이 */
                            /*width: 138px;*/
                        }
                        .story .list ul li.long a .photo{
                            height: 105px; /* 긴 사진 높이 */
                        }
                        .story .list ul li a .txt{
                            width: 57.5%;
                            /*width: calc(100% - 152px);*/
                            padding: 0;
                        }
                        .story .list ul li a .txt strong{
                            /* 1 줄 제 한 ㅡ> 무제한 ( 여러줄 허용 )*/
                            white-space: normal; /* 여러줄 허용 */
                            overflow: visible; /* 넘치는 요소 안자름. */
                            text-overflow: ellipsis;
                        }
                        .story .list ul li a .txt h3 {
                            font-size: 18px;
                            margin: 17px 0 0 0;

                            /* 1 줄 제 한 ㅡ> 무제한 ( 여러줄 허용 )*/
                            white-space: normal; /* 여러줄 허용 */
                            overflow: visible; /* 넘치는 요소 안자름. */
                            text-overflow: ellipsis;
                        }
                        .story .list ul li a .txt p {
                            display: none; /* 글 없애기 */
                        }
                        .story .list ul li.long a .txt p{
                            height: 3em;
                            -webkit-line-clamp: 2;
                        }
                        .story .more{
                            right: 0;
                            top: 4px;
                            width: 30px;
                            height: 30px;
                            background-color: #F1F1F1;
                            border-radius: 50%;
                            padding: 0;
                            /*position: absolute;/* wrapper의 정렬의 기준 
                            right: 0;
                            top: 16px;
                            color: #645A4E;
                            padding: 0 27px 0 0;*/
                        }
                        .story .more::after{
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-size: 16px;
                            /*content: "";
                            position: absolute;
                            right: 6px;
                            top: 6px;
                            width: 20px;
                            height: 20px;
                            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_27_949' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_27_949)'%3E%3Cpath d='M11 13H6C5.71667 13 5.47917 12.9042 5.2875 12.7125C5.09583 12.5208 5 12.2833 5 12C5 11.7167 5.09583 11.4792 5.2875 11.2875C5.47917 11.0958 5.71667 11 6 11H11V6C11 5.71667 11.0958 5.47917 11.2875 5.2875C11.4792 5.09583 11.7167 5 12 5C12.2833 5 12.5208 5.09583 12.7125 5.2875C12.9042 5.47917 13 5.71667 13 6V11H18C18.2833 11 18.5208 11.0958 18.7125 11.2875C18.9042 11.4792 19 11.7167 19 12C19 12.2833 18.9042 12.5208 18.7125 12.7125C18.5208 12.9042 18.2833 13 18 13H13V18C13 18.2833 12.9042 18.5208 12.7125 18.7125C12.5208 18.9042 12.2833 19 12 19C11.7167 19 11.4792 18.9042 11.2875 18.7125C11.0958 18.5208 11 18.2833 11 18V13Z' fill='%23645A4E'/%3E%3C/g%3E%3C/svg%3E%0A");
                            background-position: center center;
                            background-repeat: no-repeat;*/
                        }
                        .story .more span{
                            display: none;
                        }
}/* media 모바일 story */


footer{
    margin: 206px 0 0 0;
    background-color: #C2B299;
    color: #645A4E;
    padding: 75px 0 84px 0; /* 양옆은 같은게 좋음 */

}
footer .wrapper{
    display: flex; /* f_info ,slogan 좌우 배치*/
    justify-content: space-between;
    position: relative; /* copyright 정렬의 기준 */
}
footer .slogan{
    font-size: 25px;
}
footer .f_info h3{
    font-size: 20px;
    margin: 0 0 6px 0;
}
footer .f_info address,
footer .f_info ul.tel{
    margin-bottom: 65px; /* 하단에만 여백을 주는 것 */
}
footer .f_info ul.sns{
    display: flex;
    gap: 20px;
}
footer .copyright{
    position: absolute; /* wrapper를 기준으로 정렬 */
    left: 0;
    bottom: 0;
}
footer .copyright .f_logo{
    margin: 0 0 21px 0;
}
footer .copyright .f_logo img{
    width: 203px;

}
@media screen and (max-width:640px){/* 모바일 footer */
                    footer{
                        margin: 112px 0 0 0;
                        padding: 67px 0 84px 0; /* 양옆은 같은게 좋음 */
                    
                    }
                    footer .wrapper{
                        display: block; /* f_info ,slogan 위아래 배치 */
                    }
                    footer .slogan{
                        font-size: 18px;
                        margin: 0 0 33px 0;
                    }
                    footer .f_info h3{
                        font-size: 16px;
                        margin: 0 0 15px 0;
                    }
                    footer .f_info address,
                    footer .f_info ul.tel{
                        margin-bottom: 26px; /* 하단에만 여백을 주는 것 */
                    }
                    footer .copyright{
                        position: relative; /* absolute 해제 */
                        left: auto;
                        bottom: auto;
                        margin: 73px 0 0 0;
                    }
                    footer .copyright .f_logo{
                        margin: 0 0 21px 0;
                    }
                    footer .copyright .f_logo img{
                        width: 162px;
                    
                    }
}/* media 모바일 footer */