@import url(default.css);
@import url(font.css);
@import url(common_full.css);

.tour{
    margin: 150px 0;
}
.tour .tit h2{
    color: #234F3D;
    line-height: 1.2;
}
.tour .tit p{
    color: #1d1d1d;
    line-height: 1.2;
    font-weight: 800;
    font-size: 50px;
    margin: 20px 0 0 0;
}
.tour .list{
    margin: 53px 0 0 0;
}
.tour .list ul{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.tour.acc01 .list ul li{
    /* width: 15%; */
    flex: 1 1 0%; /* = flex: 1%; */
    transition: 0.5s;
    /* 넓이 / 1260 * 100  (15)*/
}
.tour.acc01 .list ul li.on{
    flex: 3 1 0%; /* = flex: 3%; */
    /* 넓이 / 1260 * 100  (49)*/
}
.tour.acc02 .list ul li{
    /* width: calc(25% - 18px); */
    /* ( 24 + 24 + 24 ) / 4 = 18  */
    flex: 1 1 0%; /* = flex: 1%; */
    transition: 0.5s;
}
.tour.acc02 .list ul li.on{
    flex: 3 1 0%;
}
.tour .list ul li a{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 405px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 0 49px 44px 30px;
}
.tour .list ul li.list01 a{
    background: url(../images/tour_list01.jpg);
}
.tour .list ul li.list02 a{
    background: url(../images/tour_list02.jpg);
}
.tour .list ul li.list03 a{
    background: url(../images/tour_list03.jpg);
}
.tour .list ul li.list04 a{
    background: url(../images/tour_list04.jpg);
}
.tour .list ul li a h3{
    font-size: 20px;
    font-weight: 800;
}
.tour .list ul li a p{
    margin: 10px 0 0 0;
    display: none;
}
@media screen and (max-width:1024px){
    .tour{
        margin: 75px 0;
    }
    .tour .tit h2{
        color: #234F3D;
        line-height: 1.2;
    }
    .tour .tit p{
        color: #1d1d1d;
        line-height: 1.2;
        font-weight: 800;
        font-size: 50px;
        margin: 10px 0 0 0;
    }
    .tour .list{
        margin: 53px 0 0 0;
    }
    .tour .list ul{
        flex-direction: column;
        gap: 16px;
    }
    .tour.acc01 .list ul li{
        width: 100%;
        /* auto 안됨 */
    }
    .tour.acc01 .list ul li.on{
        width: 100%;
        /* auto 안됨 */
    }
    .tour.acc02 .list ul li{
        width: 100%;
        /* auto 안됨 */
    }
    .tour .list ul li a{
        height: 200px;
        padding: 0 25px 22px 15px;
    }
    .tour .list ul li a h3{
        font-size: 20px;
        font-weight: 800;
    }
    .tour .list ul li a p{
        margin: 5px 0 0 0;
        display: block;
    }
}/* media */