@import url(default.css);
@import url(font.css);
@import url(common_full.css);


/* 아래로 스크롤 하면 글자에 색이 차례로 들어오는 효과  */
.visual{
    height: 800px;
    background: url(../images/inter01.jpg) no-repeat center center / cover;
}
.slogan{
    margin: 212px 0 200px 0;
}
.slogan .wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.slogan p{
    color: #ddd;
    font-size: 60px;
    font-weight: 800;
    line-height: 1.5;
    position: relative; /* span 태그의 정렬의 기준 */
}
.slogan p span{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0; /* p 태그를 중심으로 50% */
    overflow: hidden;
    /* 줄바꿈 금지 */
    white-space: nowrap; /* span 태그는 absolute를 해서 줄바꿈이 되서 넓이가 좁으면 내려감 */
    color: #E95A1A;
}
@media screen and (max-width:768px) {
    .slogan p{
        color: #ddd;
        font-size: 40px;
    }
}
/*********************** banner ************************/
.banner{
    display: flex;
    justify-content: center;
}
.banner .photo{
    overflow: hidden;
    height: 361px;
    width: 50%;
    /* 늘어나는 이미지는 시간을 짧게 줘야함 
       - 안그러면 이미지가 부자연스럽게 늘어나기 때문 */
    transition: 0.2s; 
}
.banner .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*********************** life ************************/
.life{
    padding: 181px 0 300px 0;
    color:#767676;
    transition: 0.5s;
}
.life h2{
    color: #1d1d1d;
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    margin: 0 0 33px 0;
}

.life.dark{
    background-color: #1d1d1d;
    color: rgba(255, 255, 255, 0.6);
}
.life.dark h2{
    color: #fff;
    transition: 0.5s;
}
/************** medi 사진 모서리에 라운드 준 뒤에 글자 쓰는 것. 메디모아 사이트 참고**************/
.medi{
    margin: 40px 30px 100px 30px;
}
/* ↓ 사진을 클립 패스 해서 내가 원하는 모양대로 자르는것 */
.medi .bg{
    height: 760px;
    background: url(../images/inter03.jpg)no-repeat center center / cover;
    clip-path: path('M2042 344L795.5 1L1014 263.5L933.5 344L689 115.5L2 594L1149.5 576L1982 552.5L2042 344Z');
}
/* ↓ 내가 원하는 사진의 모서리에 둥글게 덮어서 그 사이에 글자 쓰는 방법 */
.medi .photo{
    overflow: hidden;
    height: 760px;
    border-radius: 20px;
    position: relative; /* h2 정렬의 기준 */
}
.medi .photo h2{
    position: absolute;
    left: -1px;
    bottom: -1px;
    color: #E95A1A;
    background-color: #fff;
    font-size: 30px;
    font-weight: 800;
    line-height: 1.2;
    padding: 20px 40px 20px 20px;
    border-radius: 0 20px 0 0;
}
.medi .photo h2::after{
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 20px;
    height: 20px;
    background: url(../images/inter_conner.png)no-repeat left bottom / contain;
}
.medi .photo h2::before{
    content: "";
    position: absolute;
    left: 0;
    top: -20px;
    width: 20px;
    height: 20px;
    background: url(../images/inter_conner.png)no-repeat left bottom / contain;
}
.medi .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:768px) {
    /* ↓ 내가 원하는 사진의 모서리에 둥글게 덮어서 그 사이에 글자 쓰는 방법 */
    .medi .photo{
        height: 400px;
        border-radius: 10px;
    }
    .medi .photo h2{
        font-size: 20px;
        padding: 10px 25px 10px 10px;
        border-radius: 0 10px 0 0;
    }
    .medi .photo h2::after{
        right: -10px;
        width: 10px;
        height: 10px;
    }
    .medi .photo h2::before{
        left: 0;
        top: -10px;
        width: 10px;
        height: 10px;
    }
}

/* svg 아이콘 색상을 css로 바꾸는 방법 */
.icon{
    margin: 50px 0 500px 0;
    text-align: center;
}
.icon button{
    width: 100px;
    height: 100px;
    background-color: #1d1d1d;
    mask-image: url("data:image/svg+xml,%3Csvg width='152' height='152' viewBox='0 0 152 152' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_5_55' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='152' height='152'%3E%3Crect width='151.378' height='151.378' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_5_55)'%3E%3Cpath d='M75.6889 132.455C66.1226 132.455 57.7916 129.433 50.6958 123.389C43.5999 117.344 39.4738 109.644 38.3175 100.288C30.7486 98.8159 24.5726 95.1366 19.7895 89.2497C15.0064 83.3628 12.6148 76.6349 12.6148 69.066C12.6148 60.3408 15.6897 52.9558 21.8394 46.9112C27.9891 40.8666 35.4266 37.8443 44.1518 37.8443H59.9204C60.7613 37.8443 61.4972 37.529 62.1279 36.8982C62.7587 36.2675 63.0741 35.5316 63.0741 34.6906C63.0741 33.8496 62.7587 33.1138 62.1279 32.483C61.4972 31.8523 60.7613 31.5369 59.9204 31.5369H50.4592C48.6721 31.5369 47.1741 30.9325 45.9652 29.7236C44.7563 28.5146 44.1518 27.0166 44.1518 25.2295C44.1518 23.4424 44.7563 21.9444 45.9652 20.7355C47.1741 19.5266 48.6721 18.9221 50.4592 18.9221H59.9204C64.3355 18.9221 68.0674 20.4464 71.116 23.495C74.1646 26.5436 75.6889 30.2754 75.6889 34.6906C75.6889 39.1058 74.1646 42.8377 71.116 45.8863C68.0674 48.9349 64.3355 50.4591 59.9204 50.4591H44.1518C38.8957 50.4591 34.4279 52.2462 30.7486 55.8204C27.0693 59.3946 25.2296 63.7573 25.2296 68.9083C25.2296 73.1132 26.4385 76.924 28.8564 80.3405C31.2742 83.757 34.4805 86.096 38.4752 87.3575C40.1571 78.422 44.4409 71.0896 51.3265 65.3604C58.2121 59.6312 66.2278 56.7666 75.3735 56.7666C77.476 56.7666 79.5522 56.9242 81.6021 57.2396C83.652 57.555 85.5705 57.9755 87.3576 58.5011C88.1986 58.1857 89.0133 57.9229 89.8017 57.7127C90.5901 57.5024 91.4048 57.3185 92.2458 57.1608C93.0868 57.0031 93.9803 56.898 94.9265 56.8454C95.8726 56.7928 96.8187 56.7666 97.7648 56.7666C105.439 56.7666 112.062 59.4472 117.633 64.8085C123.205 70.1698 125.99 76.7926 125.99 84.6768C125.99 85.6229 125.964 86.4639 125.912 87.1998C125.859 87.9357 125.728 88.5138 125.517 88.9343L131.509 94.4533C133.927 96.5558 135.714 98.9999 136.871 101.786C138.027 104.571 138.605 107.489 138.605 110.537C138.605 116.634 136.476 121.812 132.219 126.069C127.961 130.327 122.837 132.455 116.845 132.455H75.6889ZM75.6889 119.841H116.845C119.368 119.841 121.549 118.921 123.389 117.081C125.228 115.241 126.148 113.06 126.148 110.537C126.148 109.171 125.885 107.909 125.36 106.753C124.834 105.596 124.098 104.598 123.152 103.757L111.326 93.0341C112.167 91.8778 112.745 90.6163 113.06 89.2497C113.376 87.8831 113.533 86.4639 113.533 84.9922C113.533 80.577 112.009 76.8714 108.96 73.8754C105.912 70.8794 102.18 69.3814 97.7648 69.3814C93.3496 69.3814 89.6177 70.9057 86.5691 73.9542C83.5206 77.0028 81.9963 80.7347 81.9963 85.1499C81.9963 86.5165 82.1277 87.8042 82.3905 89.0132C82.6533 90.2221 83.0475 91.4047 83.5731 92.5611C84.309 94.2431 84.493 95.925 84.125 97.607C83.7571 99.289 82.8373 100.55 81.3655 101.391C79.8938 102.232 78.3432 102.469 76.7138 102.101C75.0844 101.733 73.8492 100.813 73.0082 99.3415C71.7467 97.134 70.8269 94.795 70.2487 92.3246C69.6705 89.8542 69.3815 87.3049 69.3815 84.6768C69.3815 81.9436 69.7494 79.3155 70.4853 76.7926C71.2211 74.2696 72.3249 71.8518 73.7966 69.5391C67.4892 69.5391 62.0228 72.0095 57.3974 76.9503C52.772 81.8911 50.4592 87.778 50.4592 94.611C50.4592 98.0801 51.1163 101.365 52.4303 104.466C53.7444 107.567 55.5577 110.248 57.8704 112.508C60.1832 114.768 62.8638 116.556 65.9124 117.87C68.961 119.184 72.2198 119.841 75.6889 119.841ZM107.226 113.533C105.439 113.533 103.941 112.929 102.732 111.72C101.523 110.511 100.918 109.013 100.918 107.226C100.918 105.439 101.523 103.941 102.732 102.732C103.941 101.523 105.439 100.918 107.226 100.918C109.013 100.918 110.511 101.523 111.72 102.732C112.929 103.941 113.533 105.439 113.533 107.226C113.533 109.013 112.929 110.511 111.72 111.72C110.511 112.929 109.013 113.533 107.226 113.533Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
}
.icon button:hover{
    background-color: #E95A1A;
}