/*모든페이지에 공통으로 들어가는 기본 스타일*/
body{
    font-family: "Pretendard";
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5; /*배수*/
    color: #666666;
    word-break: keep-all;
}
.wrapper{
    width: 1260px;
    margin: 0 auto; /*가운데*/
}
#wrap{
    min-width: 1308px;
    /*
        1260 + 24(왼) + 24(오) = 1308 [동양생명 스타일]
        1260 + 30(왼) + 30(오) = 1320 [네이버스타일]
    */
    position: relative; /*header 정렬의 기준*/
}
@media screen and (max-width:640px) { /*모바일 스타일 코딩*/
    /*브라우저 넓이가 640px 이하에서만 적용되는 스타일 */
    body{
        font-size: 16px;
    }
    .wrapper{
        width: auto; /*100%절대 안됨. 20%여백을 띄워서 줘야 하기 때문 */
        margin: 0 20px; 
        /*좌우 여백 20px ,(padding은 안됨. 중첩되기 때문) 
          모든 모바일 홈페이지는 여백을 줌*/
    }
    #wrap{
        min-width: 0;
    } 
}
/*글자를 숨겨야 하는 경우 blind 클래스를 적용함*/
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    color: transparent;
}