@font-face {
	font-family: 'PT';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../font/Pretendard-Regular) format('woff2'), url(../font/Pretendard-Regular) format('woff');
    /* local 내 컴퓨터에 프리텐다드가 깔려 있다면 그걸 먼저 쓰라는 말 */
}
@font-face {
	font-family: 'PT';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../font/Pretendard-Bold) format('woff2'), url(../font/Pretendard-Bold) format('woff');
    /* local 내 컴퓨터에 프리텐다드가 깔려 있다면 그걸 먼저 쓰라는 말 */
}
body{
    /* sans-serif 고딕 serif 명조 */
    font-family: "PT", "sans-serif";
    color: #55555;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    word-wrap: keep-all; /* 줄바쭘 시 단어별로 떨어짐 */

}
.about h1{
    font-size: 50px;
    line-height: 1.3;
    letter-spacing: -0.03;
    margin: 148px 0 17px 0;

}
.about p {
    margin: 0;
}
.about .photo {
    margin: 64px 0 0 0;
}
.invest h1{
    font-size: 17px;
    font-weight: 400;
    color: #00a384;
    margin: 166px 0 11px 0;
}
.invest p {
    
}