@import url(default.css);
@import url(font.css);
@import url(common.css);

.section_tit{
    font-family: 'Gmarket Sans';
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.05em;
    color: #1d1d1d;
    font-size: 50px;
}
@media screen and (max-width:640px){
                        .section_tit{
                            font-size: 16px;
                        }
}/*@media*/


header{
    height: 100px;
    position: absolute;/* wrap을 기준으로 정렬 */
    left: 0;
    top: 0;
    color: #fff;
    width: 100%;
    z-index: 100; /* 밑위에 배치 */
}
header .wrapper{
    display: flex; /* logo / gnb / tnb 좌우 배치 */
    justify-content: space-between; /* 좌우 끝 정렬 */
    align-items: center; /* 위아래 가운데 정렬 */
    padding: 12px 0 0 0;
}
header .gnb .gnb_open,
header .gnb .gnb_close{
    display: none; /* 모바일에서만 보이게 할것임 */
}
header .gnb .gnb_wrap ul{
    display: flex; /* li 좌우배치 */
}
header .gnb .gnb_wrap ul li a{
    display: block;
    font-family: 'Gmarket Sans';
    font-weight: 400;
    line-height: 100%; /*header의 높이 만큼 행간을줌 -그럼 글자의 높이가 header와 같아지고
    위아래 가운데 글자가 들어감 (하위에 메뉴를 나타나게 하기 위한 방법)*/
    letter-spacing: -0.05em;
    font-size: 20px;
    padding: 0 23px; /*글자 사이의 여백의 반 49/2 =23.5*/
}
header .tnb{
    display: flex; /* mypage / lang 좌우배치 */
    gap: 3px;
}
header .tnb .mypage{
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_69_12' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_69_12)'%3E%3Cpath d='M15 15C13.625 15 12.4479 14.5104 11.4688 13.5313C10.4896 12.5521 10 11.375 10 10C10 8.625 10.4896 7.44792 11.4688 6.46875C12.4479 5.48958 13.625 5 15 5C16.375 5 17.5521 5.48958 18.5312 6.46875C19.5104 7.44792 20 8.625 20 10C20 11.375 19.5104 12.5521 18.5312 13.5313C17.5521 14.5104 16.375 15 15 15ZM5 25V21.5C5 20.7917 5.18229 20.1406 5.54688 19.5469C5.91146 18.9531 6.39583 18.5 7 18.1875C8.29167 17.5417 9.60417 17.0573 10.9375 16.7344C12.2708 16.4115 13.625 16.25 15 16.25C16.375 16.25 17.7292 16.4115 19.0625 16.7344C20.3958 17.0573 21.7083 17.5417 23 18.1875C23.6042 18.5 24.0885 18.9531 24.4531 19.5469C24.8177 20.1406 25 20.7917 25 21.5V25H5ZM7.5 22.5H22.5V21.5C22.5 21.2708 22.4427 21.0625 22.3281 20.875C22.2135 20.6875 22.0625 20.5417 21.875 20.4375C20.75 19.875 19.6146 19.4531 18.4688 19.1719C17.3229 18.8906 16.1667 18.75 15 18.75C13.8333 18.75 12.6771 18.8906 11.5312 19.1719C10.3854 19.4531 9.25 19.875 8.125 20.4375C7.9375 20.5417 7.78646 20.6875 7.67188 20.875C7.55729 21.0625 7.5 21.2708 7.5 21.5V22.5ZM15 12.5C15.6875 12.5 16.276 12.2552 16.7656 11.7656C17.2552 11.276 17.5 10.6875 17.5 10C17.5 9.3125 17.2552 8.72396 16.7656 8.23438C16.276 7.74479 15.6875 7.5 15 7.5C14.3125 7.5 13.724 7.74479 13.2344 8.23438C12.7448 8.72396 12.5 9.3125 12.5 10C12.5 10.6875 12.7448 11.276 13.2344 11.7656C13.724 12.2552 14.3125 12.5 15 12.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 20px; /* 1개만 쓰면 넓이임, 높이는 비율에 맞춰서 알아서 들어감 */
    background-repeat: no-repeat;
    background-position: center center;
}
header .tnb .lang{
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_23_2656' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_23_2656)'%3E%3Cpath d='M15 27.5C13.2917 27.5 11.6771 27.1719 10.1562 26.5156C8.63542 25.8594 7.30729 24.9635 6.17188 23.8281C5.03646 22.6927 4.14063 21.3646 3.48438 19.8438C2.82812 18.3229 2.5 16.7083 2.5 15C2.5 13.2708 2.82812 11.651 3.48438 10.1406C4.14063 8.63021 5.03646 7.30729 6.17188 6.17188C7.30729 5.03646 8.63542 4.14063 10.1562 3.48438C11.6771 2.82812 13.2917 2.5 15 2.5C16.7292 2.5 18.349 2.82812 19.8594 3.48438C21.3698 4.14063 22.6927 5.03646 23.8281 6.17188C24.9635 7.30729 25.8594 8.63021 26.5156 10.1406C27.1719 11.651 27.5 13.2708 27.5 15C27.5 16.7083 27.1719 18.3229 26.5156 19.8438C25.8594 21.3646 24.9635 22.6927 23.8281 23.8281C22.6927 24.9635 21.3698 25.8594 19.8594 26.5156C18.349 27.1719 16.7292 27.5 15 27.5ZM15 24.9375C15.5417 24.1875 16.0104 23.4063 16.4062 22.5938C16.8021 21.7812 17.125 20.9167 17.375 20H12.625C12.875 20.9167 13.1979 21.7812 13.5938 22.5938C13.9896 23.4063 14.4583 24.1875 15 24.9375ZM11.75 24.4375C11.375 23.75 11.0469 23.0365 10.7656 22.2969C10.4844 21.5573 10.25 20.7917 10.0625 20H6.375C6.97917 21.0417 7.73438 21.9479 8.64062 22.7188C9.54688 23.4896 10.5833 24.0625 11.75 24.4375ZM18.25 24.4375C19.4167 24.0625 20.4531 23.4896 21.3594 22.7188C22.2656 21.9479 23.0208 21.0417 23.625 20H19.9375C19.75 20.7917 19.5156 21.5573 19.2344 22.2969C18.9531 23.0365 18.625 23.75 18.25 24.4375ZM5.3125 17.5H9.5625C9.5 17.0833 9.45312 16.6719 9.42188 16.2656C9.39062 15.8594 9.375 15.4375 9.375 15C9.375 14.5625 9.39062 14.1406 9.42188 13.7344C9.45312 13.3281 9.5 12.9167 9.5625 12.5H5.3125C5.20833 12.9167 5.13021 13.3281 5.07812 13.7344C5.02604 14.1406 5 14.5625 5 15C5 15.4375 5.02604 15.8594 5.07812 16.2656C5.13021 16.6719 5.20833 17.0833 5.3125 17.5ZM12.0625 17.5H17.9375C18 17.0833 18.0469 16.6719 18.0781 16.2656C18.1094 15.8594 18.125 15.4375 18.125 15C18.125 14.5625 18.1094 14.1406 18.0781 13.7344C18.0469 13.3281 18 12.9167 17.9375 12.5H12.0625C12 12.9167 11.9531 13.3281 11.9219 13.7344C11.8906 14.1406 11.875 14.5625 11.875 15C11.875 15.4375 11.8906 15.8594 11.9219 16.2656C11.9531 16.6719 12 17.0833 12.0625 17.5ZM20.4375 17.5H24.6875C24.7917 17.0833 24.8698 16.6719 24.9219 16.2656C24.974 15.8594 25 15.4375 25 15C25 14.5625 24.974 14.1406 24.9219 13.7344C24.8698 13.3281 24.7917 12.9167 24.6875 12.5H20.4375C20.5 12.9167 20.5469 13.3281 20.5781 13.7344C20.6094 14.1406 20.625 14.5625 20.625 15C20.625 15.4375 20.6094 15.8594 20.5781 16.2656C20.5469 16.6719 20.5 17.0833 20.4375 17.5ZM19.9375 10H23.625C23.0208 8.95833 22.2656 8.05208 21.3594 7.28125C20.4531 6.51042 19.4167 5.9375 18.25 5.5625C18.625 6.25 18.9531 6.96354 19.2344 7.70312C19.5156 8.44271 19.75 9.20833 19.9375 10ZM12.625 10H17.375C17.125 9.08333 16.8021 8.21875 16.4062 7.40625C16.0104 6.59375 15.5417 5.8125 15 5.0625C14.4583 5.8125 13.9896 6.59375 13.5938 7.40625C13.1979 8.21875 12.875 9.08333 12.625 10ZM6.375 10H10.0625C10.25 9.20833 10.4844 8.44271 10.7656 7.70312C11.0469 6.96354 11.375 6.25 11.75 5.5625C10.5833 5.9375 9.54688 6.51042 8.64062 7.28125C7.73438 8.05208 6.97917 8.95833 6.375 10Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 20px; /* 1개만 쓰면 넓이임, 높이는 비율에 맞춰서 알아서 들어감 */
    background-repeat: no-repeat;
    background-position: center center;
}
@media screen and (max-width:640px){
                        header{
                            height: 55px;
                        }
                        header .wrapper{
                            margin-right: 0;
                            /* 오른쪽 여백만 삭제 - 메뉴열기 버튼이 오른쪽까지 배치되게 하려고 */
                        }
                        header .logo a img{
                            width: 78px;
                        }
                        header .gnb .gnb_open{
                            display: block; /* 모바일에서만 보이게 할것임 */
                            width: 110px;
                            height: 55px;
                            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_36_4517' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_36_4517)'%3E%3Cpath d='M5.5 17C5.08333 17 4.72917 16.8542 4.4375 16.5625C4.14583 16.2708 4 15.9167 4 15.5C4 15.0833 4.14583 14.7292 4.4375 14.4375C4.72917 14.1458 5.08333 14 5.5 14H18.5C18.9167 14 19.2708 14.1458 19.5625 14.4375C19.8542 14.7292 20 15.0833 20 15.5C20 15.9167 19.8542 16.2708 19.5625 16.5625C19.2708 16.8542 18.9167 17 18.5 17H5.5ZM5.5 10C5.08333 10 4.72917 9.85417 4.4375 9.5625C4.14583 9.27083 4 8.91667 4 8.5C4 8.08333 4.14583 7.72917 4.4375 7.4375C4.72917 7.14583 5.08333 7 5.5 7H18.5C18.9167 7 19.2708 7.14583 19.5625 7.4375C19.8542 7.72917 20 8.08333 20 8.5C20 8.91667 19.8542 9.27083 19.5625 9.5625C19.2708 9.85417 18.9167 10 18.5 10H5.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
                            background-position: center center;
                            background-repeat: no-repeat;
                            background-size: 24px;
                        }
                        header .gnb .gnb_wrap{
                            display: none; /*숨김*/
                        }
                        header .tnb{
                            display: none; /*숨김*/
                        }
}/*@media*/




.visual{
    background: url(../images/visual_bg03.jpg) no-repeat center center / cover;
    color: #fff;
    height: 950px;
}   
.visual h2{
    color: #fff;
    font-size: 70px;  
    padding: 280px 0 5px 280px; /*???*/
}
.visual p{
    padding: 0 0 0 280px;
}


@media screen and (max-width:640px){
                        .visual{
                            height: auto;/*높이를 안준 것 처럼 - 콘텐츠 길이만큼 늘어남*/
                            padding: 0 0 150px 0;
                        }   
                        .visual h2{
                            font-size: 30px;  
                            padding: 215px 0 5px 47px;
                        }
                        .visual p{
                            padding: 0 0 0 47px;
                            font-size: 16px;
                        }
                        .visual h2 br{
                            display: none;   /*줄바꿈 삭제*/
                        }
}/*@media*/

.project{
    margin: 171px 0 0 0;
}
.project .wrapper{
    display: flex; /*tit/list 좌우 배치*/
    justify-content: space-between;
    align-items: flex-start; /* tit의 높이를 존재하는 만큼만 주기 위해서*/
}   
.project .tit{
    position: sticky;/*감싸는 wrapper를 기준으로 정렬 무조건*/
    top: 20px;
    /*  
        좌우 정렬 값 주면 안됨...
        top값은 상단에 고정 되었을때 위치값
        (list가 공간을 차지 하지 못하고 flex에서 벗어나 버리기 때문)

        <<sticky의 단점>>
        감싸는 요소중에 단 한개라도 overflow:hidden;값을 가지고 있으면
        적용 안됨. 사실상 못쓴다고 생각하면 됨
    */
}
.project .tit h2{
    color: #354325;
    margin: 0 0 10px 0;
}
.project .list{
    width: 56.98%; /* 712/1260*100 = 56.98 소수점 두자리수 까지*/
    margin: 16px 0 0 0;
}
.project .list ul{
    display: flex;
    flex-wrap: wrap;/*2줄 허용*/
    gap: 24px 24px;
    margin: 315px 0 0 0;
}
.project .list ul li{
    width: calc(50% - 12px);
    /* 100% / 한줄에 보일 li 갯수 = 100% / 2 = 50% 
       한줄에 있는 여백의 총합 / 한줄에 보일 li의 갯수 = 24px / 2 = 12px*/
}
.project .list ul li:nth-child(even){ 
    /*even - 짝수 , odd - 홀수 */
    transform: translateY(-181px);
}
.project .list ul li a{
    display: block;
    position: relative; /* txt 정렬의 기준*/
}
.project .list ul li a .photo{
    overflow: hidden;
    border-radius: 10px;
    height: 500px; /*photo의 라운드가 잘리는것을 해결하는 방법 (여백때문에 짤린거 복원됨)*/
    position: relative; /* before 정렬의 기준!*/
}
.project .list ul li a .photo img{
    /* 이미지를 감싸는 영역 photo 사이즈 만큼만 나오게 리사이즈*/
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project .list ul li a .txt{
    position: absolute; /* a를 기준으로 정렬 */
    left: 30px;
    bottom: -60px;
    width: 100%;
    padding: 0 30px;
    color: #fff;
    transition: 0.5s;
}
.project .list ul li a .txt h3{
    font-family: 'Gmarket Sans';
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.05em;
    color: #fff;
    font-size: 30px;
}
.project .list ul li a .txt p{
    opacity: 0;
    margin: 10px 0;
    color: rgba(255, 255, 255, 0.8);
    transition: 0.5s;
}
.project .list ul li a .txt span{
    opacity: 0; 
    display: inline-block;
    /*숨김 - display : none;은 아예 태그가 존재하지 않는 것
                             것 처럼 코딩됨*/
    color: rgba(255, 255, 255, 0.6);
    padding: 0 24px 0 0;
    font-size: 16px;
    position: relative; /*after 정렬의 기준*/
    transition: 0.5s;
}
.project .list ul li a .txt span::after{
    content: "";
    position: absolute;
    right: -7px;
    top: 0;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_23_1215' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_23_1215)'%3E%3Cpath d='M11 11.825V21C11 21.2833 11.0958 21.5208 11.2875 21.7125C11.4792 21.9042 11.7167 22 12 22C12.2833 22 12.5208 21.9042 12.7125 21.7125C12.9042 21.5208 13 21.2833 13 21V11.825L14.9 13.7C15.0833 13.8833 15.3125 13.9792 15.5875 13.9875C15.8625 13.9958 16.1 13.9 16.3 13.7C16.4833 13.5167 16.575 13.2833 16.575 13C16.575 12.7167 16.4833 12.4833 16.3 12.3L12.7 8.7C12.5 8.5 12.2667 8.4 12 8.4C11.7333 8.4 11.5 8.5 11.3 8.7L7.7 12.3C7.51667 12.4833 7.42083 12.7125 7.4125 12.9875C7.40417 13.2625 7.5 13.5 7.7 13.7C7.88333 13.8833 8.11667 13.975 8.4 13.975C8.68333 13.975 8.91667 13.8833 9.1 13.7L11 11.825ZM12 4C9.76667 4 7.875 4.775 6.325 6.325C4.775 7.875 4 9.76667 4 12C4 12.55 4.05417 13.0917 4.1625 13.625C4.27083 14.1583 4.43333 14.675 4.65 15.175C4.76667 15.4583 4.80417 15.7417 4.7625 16.025C4.72083 16.3083 4.59167 16.5583 4.375 16.775C4.175 16.975 3.92917 17.0208 3.6375 16.9125C3.34583 16.8042 3.125 16.5917 2.975 16.275C2.65833 15.5917 2.41667 14.8958 2.25 14.1875C2.08333 13.4792 2 12.75 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.025 5.825 4.925 4.925C5.825 4.025 6.88333 3.3125 8.1 2.7875C9.31667 2.2625 10.6167 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 12.75 21.9208 13.4875 21.7625 14.2125C21.6042 14.9375 21.3583 15.6417 21.025 16.325C20.875 16.625 20.6542 16.825 20.3625 16.925C20.0708 17.025 19.825 16.975 19.625 16.775C19.425 16.575 19.2958 16.3333 19.2375 16.05C19.1792 15.7667 19.2083 15.4917 19.325 15.225C19.5583 14.7083 19.7292 14.1792 19.8375 13.6375C19.9458 13.0958 20 12.55 20 12C20 9.76667 19.225 7.875 17.675 6.325C16.125 4.775 14.2333 4 12 4Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.project .list ul li a .photo::before{ /*????*/
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #354325;
    opacity: 0;
    transition: 0.5s;
}


@media screen and (min-width:641px){ /* pc 형 project*/
            /***************오버했을때 (641px 이상)에서만 작동하는것*******************/
            .project .list ul li a:hover .photo::before{
                opacity: 0.9;
            }
            .project .list ul li a:hover .txt{
                bottom: 52px;
            }
            .project .list ul li a:hover .txt p{
                opacity: 1; /* none 으로 숨긴건 흔히 block으로 다시 보이게 함*/
            }
            .project .list ul li a:hover .txt span{
                opacity: 1;
            } 
}/*@media min641*/


@media screen and (max-width:640px){ /*project*/
                /*640px 이하 (640포함)*/
                        .project{
                            margin: 108px 0 0 0;
                        }
                        .project .wrapper{
                            display: block; 
                            /*display에서 다른 값을 주면 flex가 해지됨
                            tit/list좌우 정렬 */
                            justify-content: space-between;
                            align-items: flex-start; /* tit의 높이를 존재하는 만큼만 주기 위해서*/
                        }   
                        .project .tit{
                            position: relative;
                            /*sticky를 해제하기 위해서 다른 속성을 줌*/
                            top: auto; 
                            /*auto = top값을 지정하지 않은 것 처럼 취소하는 값..0이랑은 다름
                              0을 줘도 되지만, auto를 많이 사용함*/
                        }
                        .project .tit p{
                            font-size: 20px;
                        }
                        .project .tit p br{
                            display: none; /* 줄바꿈 삭제 */
                        }
                        .project .tit h2{
                            color: #354325;
                            margin: 0 0 6px 0;
                        }
                        .project .list{
                            width: auto; 
                            /* block요소 이기 때문에 100%들어감.
                               margin이 들어가기 때문에 auto로 적용해야함*/
                        }
                        .project .list ul{
                            gap: 20px 16px;/* 위아래 , 좌우 */
                            margin: 24px 0 0 0; /*???*/
                        }
                        .project .list ul li{
                            width: calc(50% - 8px);
                            /* 100% / 한줄에 보일 li 갯수 = 100% / 2 = 50% 
                            한줄에 있는 여백의 총합 / 한줄에 보일 li의 갯수 = 16px / 2 = 8px*/
                        }
                        .project .list ul li:nth-child(even){ 
                            /*even - 짝수 , odd - 홀수 */
                            transform: none; /*짝수를 위로 올린 이동값을 취소 하는것*/
                        }
                        .project .list ul li a{
                            display: block;
                            position: relative; /* txt 정렬의 기준*/
                        }
                        .project .list ul li a .photo{
                            border-radius: 5px; /*모바일에서는 라운드를 pc형 의 반만 주는것이 좋음*/
                            height: 100px; /*photo의 라운드가 잘리는것을 해결하는 방법 (여백때문에 짤린거 복원됨)*/
                        }
                        .project .list ul li a .txt{
                            /* absolute ->해제 */
                            position: relative; 
                            left: auto;
                            bottom: auto;
                            width: auto;
                            padding: 13px 0 0 0;
                            color: #1d1d1d;
                        }
                        .project .list ul li a .txt p{ /*??????????*/
                            margin: -70px 0;
                        }
                        .project .list ul li a .txt h3{
                            font-family: 'Gmarket Sans';
                            font-weight: 500;
                            color: #1d1d1d;
                            font-size: 17px;
                        }
                        .project .list ul li a .txt h3 br{
                            display: none; /*줄바꿈 삭제*/
                        }
}/*@media*/

.news{
    margin: 119px 0 0 0;
    padding: 86px 0 120px 0;
    background-color: #ECEEE3;
}
.news .wrapper{
    position: relative; /* more 정렬의 기준*/
}
.news .tit h2{
    color: #354325;
    margin: 0 0 14px 5px;
}
.news .list{
    margin: 60px 0 0 0;
}
.news .list ul li{
    margin: 20px 0 0 0;
}

.news .list ul li:first-child{
    margin-top: 0;
}
.news .list ul li a{
    display: flex; /* subject/date좌우배치*/
    justify-content: space-between;/*양쪽끝*/
    border: 1px solid #354325;
    padding: 20px 54px;
    align-items: center;
    transition: 0.5s;
}
.news .list ul li a .subject{
    display: flex; /*strong/h3 좌우 배치*/
    justify-content: space-between; /*좌우 양끝*/
    align-items: center;
    width: calc(100% - 130px);
}
.news .list ul li a .subject strong{
    display: block; /* flex으로 좌우 배치 한 경우에는 block 안줘도 됨.*/
    padding: 4px 19px;
    background-color: #354325;
    color:#fff
}
.news .list ul li a .subject h3{
    font-family: 'Gmarket Sans';
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.05em;
    color: #1d1d1d;
    font-size: 17px;
    width: calc(100% - 116px);
    /* 1줄 제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news .list ul li a .date{
    color: #555555;
    width: 130px; /* 글자 넓이 + 제목과의 여백*/
    text-align: right;
}
.news .more{
    position: absolute; /*wrapper를 기준으로 정렬*/
    right: 0;
    top: 55px;
    padding: 8px 41px 8px 22px;
    background-color: #354325;
    border-radius: 25px;
    color: #fff;
}
.news .more::after{
    content: ""; /*필수값*/
    position: absolute; /* more를 기준으로 정렬 */
    right: 16px;
    top: 17px;
    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_23_1294' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect x='0.5' y='0.5' width='14' height='14' fill='%23D9D9D9' stroke='%233CFF49'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_23_1294)'%3E%3Cpath d='M9.6875 1.8877C10.3329 1.8877 10.8982 2.02853 11.3838 2.31055L11.5869 2.44043C12.05 2.76285 12.4143 3.16616 12.6787 3.65137L12.7852 3.86426C12.8566 4.01731 12.8619 4.17286 12.8008 4.33105C12.7395 4.48935 12.6325 4.60422 12.4795 4.67578C12.3647 4.72934 12.2484 4.7456 12.1309 4.72461L12.0127 4.69141C11.8938 4.64536 11.7994 4.57338 11.7295 4.47559L11.668 4.37012C11.503 4.00353 11.2695 3.71625 10.9678 3.50977L10.834 3.42676C10.4677 3.21749 10.0856 3.1123 9.6875 3.1123C9.26621 3.1123 8.87677 3.21654 8.51953 3.4248L8.36816 3.52051C8.07025 3.72434 7.80155 3.96389 7.5625 4.23828L7.33398 4.52344L7.33301 4.52441C7.29482 4.58551 7.24844 4.63386 7.19336 4.66895L7.13574 4.69922C7.05404 4.73496 6.96708 4.75293 6.875 4.75293C6.80603 4.75293 6.73993 4.74176 6.67676 4.71875L6.61523 4.69238C6.55389 4.66171 6.50097 4.62207 6.45703 4.57422L6.41602 4.52441V4.52344L6.1875 4.23828C5.98827 4.0096 5.76843 3.80565 5.52832 3.62598L5.38184 3.52051C4.98402 3.24841 4.54405 3.1123 4.0625 3.1123C3.54011 3.1123 3.07975 3.27112 2.68164 3.58789L2.51465 3.7334C2.0799 4.1473 1.8623 4.66874 1.8623 5.29688C1.8623 5.55612 1.9039 5.81815 1.98633 6.08301L2.08203 6.34863C2.1919 6.61544 2.36674 6.91249 2.60547 7.24023L2.86523 7.57812C3.14682 7.9262 3.50466 8.31813 3.93848 8.75391L4.39746 9.2041C5.04348 9.82407 5.86711 10.5722 6.86719 11.4473L6.875 11.4541L6.88281 11.4473L8.27344 10.2285L8.27441 10.2275C8.36626 10.1435 8.46941 10.0943 8.58398 10.0791L8.70215 10.0752C8.86588 10.0854 9.00385 10.1464 9.11621 10.2588C9.23869 10.3813 9.29711 10.532 9.29199 10.7109C9.28809 10.8451 9.24848 10.9601 9.17285 11.0566L9.08594 11.1465L7.69531 12.3809L7.69434 12.3818C7.60958 12.4588 7.51608 12.5212 7.41406 12.5693L7.30859 12.6133C7.16403 12.6649 7.01931 12.6904 6.875 12.6904C6.7667 12.6904 6.65824 12.6765 6.5498 12.6475L6.44141 12.6133C6.33348 12.5747 6.23424 12.5186 6.14355 12.4453L6.05566 12.3662V12.3652L5.29492 11.6973L4.42188 10.9434C3.95757 10.5454 3.50929 10.1255 3.07715 9.68359L2.64941 9.2334C2.1579 8.70088 1.73213 8.1465 1.37207 7.57031L1.22168 7.32227C0.832035 6.65727 0.637695 5.98189 0.637695 5.29688C0.637695 4.38204 0.92471 3.61145 1.49902 2.98438L1.61816 2.86035C2.27192 2.2118 3.08643 1.8877 4.0625 1.8877C4.53482 1.8877 4.98736 1.97458 5.41992 2.14941L5.60449 2.23047C6.09211 2.4588 6.51238 2.78027 6.86523 3.19531L6.875 3.20703L6.88477 3.19531C7.19353 2.83213 7.55388 2.54052 7.96582 2.32031L8.14551 2.23047C8.63343 2.00208 9.14766 1.8877 9.6875 1.8877ZM11.875 5.6377C12.0053 5.6377 12.1194 5.6705 12.2178 5.73633L12.3115 5.81348C12.4289 5.93081 12.4873 6.07606 12.4873 6.25V7.5127H13.75C13.8803 7.5127 13.9944 7.5455 14.0928 7.61133L14.1865 7.68848C14.3039 7.80581 14.3623 7.95106 14.3623 8.125C14.3623 8.25527 14.3295 8.36937 14.2637 8.46777L14.1865 8.56152C14.0692 8.67886 13.9239 8.7373 13.75 8.7373H12.4873V10C12.4873 10.1739 12.4289 10.3192 12.3115 10.4365C12.1942 10.5539 12.0489 10.6123 11.875 10.6123C11.7011 10.6123 11.5558 10.5539 11.4385 10.4365C11.3211 10.3192 11.2627 10.1739 11.2627 10V8.7373H10C9.86973 8.7373 9.75563 8.7045 9.65723 8.63867L9.56348 8.56152C9.44615 8.44419 9.3877 8.29894 9.3877 8.125C9.3877 7.99473 9.4205 7.88063 9.48633 7.78223L9.56348 7.68848C9.68081 7.57114 9.82606 7.5127 10 7.5127H11.2627V6.25C11.2627 6.11973 11.2955 6.00563 11.3613 5.90723L11.4385 5.81348C11.5558 5.69614 11.7011 5.6377 11.875 5.6377Z' fill='white' stroke='white' stroke-width='0.025'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (min-width:641px){ /*pc형 news*/
    /* 641px 이상일때만 (641px 포함 모바일에서는 해당 안됨)*/
                            .news .list ul li a:hover{
                                background-color: #354325;
                                box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
                            }
                            .news .list ul li a:hover .subject strong{
                                border: 1px solid #fff;
                                color:#fff;
                            }
                            .news .list ul li a:hover .subject h3{
                                color: #fff;
                            }
                            .news .list ul li a:hover .date{
                                color: #fff;
                            }
                            .news .more:hover{
                                background-color: #fff;
                                border: 1px solid #354325;
                                color: #354325;
                            }
                            .news .more:hover::after{
                                background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_100_35' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect x='0.5' y='0.5' width='14' height='14' fill='%23D9D9D9' stroke='%233CFF49'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_100_35)'%3E%3Cpath d='M9.6875 1.8877C10.4249 1.8877 11.058 2.0723 11.5869 2.44043C12.05 2.76285 12.4143 3.16616 12.6787 3.65137L12.7852 3.86426C12.8566 4.01731 12.8619 4.17286 12.8008 4.33105C12.7395 4.48935 12.6325 4.60422 12.4795 4.67578C12.3264 4.74721 12.1709 4.75256 12.0127 4.69141C11.8938 4.64536 11.7994 4.57338 11.7295 4.47559L11.668 4.37012C11.4795 3.95127 11.2011 3.63652 10.834 3.42676C10.4677 3.21749 10.0856 3.1123 9.6875 3.1123C9.20595 3.1123 8.76598 3.24841 8.36816 3.52051C8.07025 3.72434 7.80155 3.96389 7.5625 4.23828L7.33398 4.52344L7.33301 4.52441C7.28219 4.60572 7.21649 4.66384 7.13574 4.69922C7.05404 4.73496 6.96708 4.75293 6.875 4.75293C6.78332 4.75293 6.69671 4.73305 6.61523 4.69238C6.55389 4.66171 6.50097 4.62207 6.45703 4.57422L6.41602 4.52441V4.52344L6.1875 4.23828C5.94845 3.96389 5.67975 3.72434 5.38184 3.52051C4.98402 3.24841 4.54405 3.1123 4.0625 3.1123C3.46552 3.1123 2.94925 3.31974 2.51465 3.7334C2.0799 4.1473 1.8623 4.66874 1.8623 5.29688C1.8623 5.64243 1.93565 5.99313 2.08203 6.34863C2.2285 6.70433 2.48989 7.11415 2.86523 7.57812C3.24065 8.04218 3.7515 8.58418 4.39746 9.2041C5.04348 9.82407 5.86711 10.5722 6.86719 11.4473L6.875 11.4541L6.88281 11.4473L8.27344 10.2285L8.27441 10.2275C8.39682 10.1155 8.53918 10.0651 8.70215 10.0752C8.86588 10.0854 9.00385 10.1464 9.11621 10.2588C9.23869 10.3813 9.29711 10.532 9.29199 10.7109C9.28809 10.8451 9.24848 10.9601 9.17285 11.0566L9.08594 11.1465L7.69531 12.3809L7.69434 12.3818C7.58114 12.4846 7.45259 12.5618 7.30859 12.6133C7.16403 12.6649 7.01931 12.6904 6.875 12.6904C6.73069 12.6904 6.58597 12.6649 6.44141 12.6133C6.33348 12.5747 6.23424 12.5186 6.14355 12.4453L6.05566 12.3662V12.3652L5.29492 11.6973C5.02287 11.4604 4.73164 11.2089 4.42188 10.9434C3.80258 10.4125 3.21149 9.84232 2.64941 9.2334C2.08772 8.62484 1.61171 7.98785 1.22168 7.32227C0.832035 6.65727 0.637695 5.98189 0.637695 5.29688C0.637695 4.32082 0.964431 3.5089 1.61816 2.86035C2.27192 2.2118 3.08643 1.8877 4.0625 1.8877C4.60234 1.8877 5.11657 2.00208 5.60449 2.23047C6.09211 2.4588 6.51238 2.78027 6.86523 3.19531L6.875 3.20703L6.88477 3.19531C7.23762 2.78027 7.65789 2.4588 8.14551 2.23047C8.63343 2.00208 9.14766 1.8877 9.6875 1.8877ZM11.875 5.6377C12.0489 5.6377 12.1942 5.69614 12.3115 5.81348C12.4289 5.93081 12.4873 6.07606 12.4873 6.25V7.5127H13.75C13.9239 7.5127 14.0692 7.57114 14.1865 7.68848C14.3039 7.80581 14.3623 7.95106 14.3623 8.125C14.3623 8.29894 14.3039 8.44419 14.1865 8.56152C14.0692 8.67886 13.9239 8.7373 13.75 8.7373H12.4873V10C12.4873 10.1739 12.4289 10.3192 12.3115 10.4365C12.1942 10.5539 12.0489 10.6123 11.875 10.6123C11.7011 10.6123 11.5558 10.5539 11.4385 10.4365C11.3211 10.3192 11.2627 10.1739 11.2627 10V8.7373H10C9.82606 8.7373 9.68081 8.67886 9.56348 8.56152C9.44614 8.44419 9.3877 8.29894 9.3877 8.125C9.3877 7.95106 9.44614 7.80581 9.56348 7.68848C9.68081 7.57114 9.82606 7.5127 10 7.5127H11.2627V6.25C11.2627 6.07606 11.3211 5.93081 11.4385 5.81348C11.5558 5.69614 11.7011 5.6377 11.875 5.6377Z' fill='%23354325' stroke='%23354325' stroke-width='0.025'/%3E%3C/g%3E%3C/svg%3E%0A");
                        }
}/*@media min641*/

@media screen and (max-width:640px){ /*news*/
    /* 640px 보다 작을때만 (640px 포함 모바일모드)*/
                    .news{
                        margin: 55px 0 0 0;
                        padding: 124px 0 126px 0;
                        background-color: #ECEEE3; /*transparent = 투명*/
                    }
                    .news .wrapper{
                        position: relative; /* more 정렬의 기준*/
                    }
                    .news .tit{
                        margin-right: 36px;
                        /* */
                    }
                    .news .tit h2{
                        margin: 0 0 14px 0;
                        font-size: 16px;
                    }
                    .news .tit p{
                        font-size: 20px;
                    }
                    .news .list{
                        margin: 55px 0 0 0;
                    }
                    .news .list ul li{
                        margin: 13px 0 0 0; /* 글자 박스가 있으면 여백을 주는 게 맞고 밑줄만 넣으면 없애야함*/
                    }
                    
                    .news .list ul li:first-child{
                        margin-top: 0;
                    }
                    .news .list ul li:nth-last-child(1),
                    .news .list ul li:nth-last-child(2){
                        display: none; /*마지막에서 첫번째, 두번째 숨김*/
                    }
                    .news .list ul li a{
                        display: block;
                        background-color: #fff;
                        padding: 55px 14px;
                        border: transparent;
                    }
                    .news .list ul li a .subject{
                        display: block; /*flex 해재*/
                        width: auto;
                    }
                    .news .list ul li a .subject strong{
                        display: inline-block; /* flex으로 좌우 배치 한 경우에는 block 안줘도 됨.*/
                        padding: 4px 19px;
                        margin: 0 0 14px 0;
                        background-color: #354325;
                        border-radius: 17px;
                        color:#fff
                    }
                    .news .list ul li a .subject h3{
                        width: auto;
                        /* 1줄 제한 -> 무제한 줄바꿈 으로 변환 */
                        white-space: normal;
                        overflow: visible;
                        margin: 14px 0 6px 0; /*h3의 위아래 여백 주는것*/
                    }
                    .news .list ul li a .date{
                        width: auto; /* 원래 가지고 있던 값으로 돌아가는것 auto*/
                    }
                    .news .more{
                        position: absolute; /*wrapper를 기준으로 정렬*/
                        background-color: transparent; /* transparent색상 투명하게 변경 하는것 */
                        border: 1px solid #354325;
                        right: 0;
                        top: 45px;
                        padding: 0;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                    }
                    .news .more::after{
                        content: ""; /*필수값*/
                        position: absolute; /* more를 기준으로 정렬 */
                        right: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-size: 13px;
                        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_36_4545' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='13' height='13'%3E%3Crect x='0.5' y='0.5' width='12' height='12' fill='%23D9D9D9' stroke='%23354325'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_36_4545)'%3E%3Cpath d='M8.396 1.6377C8.95485 1.63774 9.44431 1.75977 9.86475 2.00391L10.0405 2.11621C10.4419 2.39558 10.7567 2.74552 10.9858 3.16602L11.0796 3.34961C11.1259 3.44888 11.1398 3.5497 11.1216 3.65137L11.0923 3.75293C11.0525 3.8558 10.9904 3.93764 10.9058 3.99805L10.814 4.05078C10.7148 4.09703 10.6147 4.11193 10.5132 4.09375L10.4106 4.06445C10.2739 4.01142 10.1746 3.91849 10.1128 3.78613H10.1138C9.97076 3.4684 9.76792 3.2201 9.50635 3.04102L9.39014 2.96875C9.0725 2.78725 8.74124 2.69635 8.396 2.69629C7.97835 2.69629 7.5965 2.81383 7.25146 3.0498C6.99328 3.22645 6.76041 3.43412 6.55322 3.67188L6.354 3.91992V3.9209C6.31011 3.99104 6.25276 4.04082 6.18311 4.07129C6.11267 4.10207 6.03788 4.11812 5.9585 4.11816C5.87921 4.11816 5.80433 4.09966 5.73389 4.06445C5.69868 4.04685 5.66673 4.0261 5.63818 4.00195L5.56201 3.91992C5.30844 3.57579 5.00974 3.28533 4.66553 3.0498C4.32048 2.81372 3.93867 2.69635 3.521 2.69629C3.0678 2.69629 2.66812 2.83353 2.32275 3.1084L2.17822 3.23438C1.80102 3.59344 1.61279 4.04595 1.61279 4.59082C1.61282 4.89048 1.67631 5.19471 1.80322 5.50293C1.89854 5.73431 2.0494 5.99228 2.25635 6.27637L2.48193 6.56836C2.72598 6.87003 3.0357 7.21027 3.41162 7.58789L3.81006 7.97852C4.36991 8.51578 5.08312 9.16361 5.94971 9.92188L5.9585 9.92871L5.96631 9.92188L7.17139 8.86523C7.2772 8.76824 7.40062 8.72466 7.5415 8.7334C7.64784 8.74004 7.74159 8.77166 7.82275 8.82812L7.89893 8.89258C8.00469 8.99834 8.05563 9.12765 8.05127 9.28223C8.04796 9.39807 8.01391 9.49771 7.94873 9.58105L7.87256 9.65918L6.66748 10.7295C6.59393 10.7963 6.5129 10.8508 6.42432 10.8926L6.3335 10.9297C6.20848 10.9743 6.08326 10.997 5.9585 10.9971C5.86489 10.9971 5.77098 10.9841 5.67725 10.959L5.5835 10.9297C5.49025 10.8964 5.40407 10.8485 5.32568 10.7852L5.24951 10.7158H5.24854C4.84225 10.3547 4.37063 9.9438 3.8335 9.4834C3.29672 9.0233 2.78454 8.52875 2.29736 8.00098C1.93223 7.60538 1.60904 7.19586 1.32764 6.77246L1.06006 6.34473C0.722541 5.76869 0.554236 5.18409 0.554199 4.59082C0.554199 3.85089 0.77091 3.21979 1.20459 2.69727L1.40381 2.48047C1.97006 1.91875 2.6755 1.6377 3.521 1.6377C3.93009 1.63774 4.32212 1.7128 4.69678 1.86426L4.85596 1.93457C5.27858 2.13241 5.64296 2.41078 5.94873 2.77051L5.9585 2.78223L5.96729 2.77051C6.23485 2.45573 6.54776 2.20351 6.90479 2.0127L7.06006 1.93457C7.4827 1.73674 7.92838 1.6377 8.396 1.6377ZM10.2915 4.8877C10.4043 4.8877 10.5033 4.91562 10.5884 4.97266L10.6685 5.04004C10.7697 5.14137 10.8208 5.26675 10.8208 5.41699V6.5127H11.9165C12.0293 6.5127 12.1283 6.54062 12.2134 6.59766L12.2935 6.66504C12.3947 6.76637 12.4458 6.89175 12.4458 7.04199C12.4457 7.19217 12.3947 7.31766 12.2935 7.41895C12.1921 7.5202 12.0667 7.57129 11.9165 7.57129H10.8208V8.66699C10.8207 8.81717 10.7697 8.94266 10.6685 9.04395C10.5671 9.1452 10.4417 9.19629 10.2915 9.19629C10.1787 9.19629 10.0798 9.16746 9.99463 9.11035L9.91455 9.04395C9.81326 8.94266 9.76228 8.81717 9.76221 8.66699V7.57129H8.6665C8.55368 7.57129 8.45475 7.54246 8.36963 7.48535L8.28955 7.41895C8.18826 7.31766 8.13728 7.19217 8.13721 7.04199C8.13721 6.89175 8.1883 6.76637 8.28955 6.66504C8.39091 6.56368 8.51618 6.5127 8.6665 6.5127H9.76221V5.41699C9.76221 5.3042 9.79107 5.20522 9.84814 5.12012L9.91455 5.04004C10.0159 4.93868 10.1412 4.8877 10.2915 4.8877Z' fill='%23354325' stroke='%23354325' stroke-width='0.025'/%3E%3C/g%3E%3C/svg%3E%0A");
                        background-position: center center;
                        background-repeat: no-repeat;
                    }
                    .news .more span{
                        display: none; /* 더보기 글자를 숨겨버림 */
                    }
}/*@media*/

.webzine{
    margin: 179px 0 179px 0;
    position: relative; /* more 정렬의 기준 */
}
.webzine .tit h2{
    margin: 0 0 14px 0;
}
.webzine .list{
    width: calc(50% + 630px);
    margin: 30px 0 0 0;
    position: relative; 
    /*position: relative; 는 공간만 차지 하는것이라 공간 이동이 안되지만 left는 먹힘(?)*/
    left: calc(50% - 630px); /*같은 공식으로 마이너스 해주면 콘텐츠 영역의 가운데에 위치함*/
    overflow: hidden; /* 가로 스크롤바 삭제 (감싸고 있는 넓은 애한테 줘야 적용됨)*/

    padding: 46px 0 18px 0; 
    /*(46px를 준것은 pc형 오버시 줬던 수식  transform: translate(-10px, -10px)
       (overflow: hidden;18px 준것은 그림자 잘리는것을 방지 하기 위해 준 여백)*/
}
    
.webzine .list ul{
    display: flex;
    gap: 25px;
    width: 1610px;
    /*
        li의 넓이 x li의 갯수 + li 의 여백 x li의 갯수
        296 * 5 + 25 * 5 = 1610px / 1,485 + 125 = 1610px
    */ 

}
.webzine .list ul li{
    width: 297px;
}
.webzine .list ul li a{
    display: block;
    background-color: #fff; /*테두리가 없어도 그림자 때문에 줘야함*/
    border-radius: 20px;
    color: #1d1d1d;
    overflow: hidden;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}
.webzine .list ul li a .photo{
    height: 257px;
}
.webzine .list ul li a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s; /* 오버이후 부드럽게 효과 주는 수식 */
}
.webzine .list ul li a .txt{
    padding: 23px 26px 17px 26px; /* 웹진 글자 상자 여백 공간 */
}
.webzine .list ul li a .txt strong{
    color: #354325;
    /* 1줄 제한 -(조건) 넓이가 제한이 되어야 적용이 됨 (block 요소 여야 됨)*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block; /* 1줄 제한의 조건 */
}
.webzine .list ul li a .txt h3{
    margin: 18px 0 14px 0;
    font-size: 20px;
    font-family: 'Gmarket Sans';
    font-weight: 700;
    letter-spacing: -0.05em;

    /* 2줄 제한 - (조건) block 요소여야함. 절대 padding 주면 안됨 .(margin만 가능) 
       1. 행간을 지정한다. (행간을 알면 안줘도 됨.)
       2. 높이 = 행간 x 줄수 = 1.2 * 2 = 2.4 (단위는 "em" )height에 적용 
       "단위 틀리면 적용이 안됨!!"

       2줄 이상 제한 끝에 ... 이 자동으로 생성되지 않음 
       (아직 공식화 되지 않은 핵 수식어. 2줄 제한에서도 ...이 생성 가능 한 코드)
       -display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
       */
       line-height: 1.2;
       height: 2.4em;
       overflow: hidden;
       display:-webkit-box;
       -webkit-line-clamp: 2;
       -webkit-box-orient: vertical;
    
}
.webzine .list ul li a .txt p{
    margin: 0 0 14px 0px;
    line-height: 1.5;
    height: 3em;
    color: #3d3d3d;
    /* 2줄 제한 ... 생성 하는 코드 */
    overflow: hidden;
    display:-webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.webzine .list ul li a .txt .date{
    color: #3d3d3d;
    margin: 0 0 0 140px;
}
.webzine .more{
    position: absolute; /* webzine 을 기준으로 정렬 */
    right: calc(50% - 630px);
    /*
        브라우저 사이즈가 변해도 가운데값은 변하지 않음 
        그 가운데로 부터 wrapper의 사이즈 1260px의 절반(630px)을 
        더 오른쪽으로 이동 하면 됨.
     */
    top: 58px;
    padding: 8px 41px 8px 22px;
    border: 1px solid #354325;
    border-radius: 25px;
    color: #354325;
}
.webzine .more::after{
    content: ""; /*필수값*/
    position: absolute; /* more를 기준으로 정렬 */
    right: 16px;
    top: 16px;
    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_36_4545' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='13' height='13'%3E%3Crect x='0.5' y='0.5' width='12' height='12' fill='%23D9D9D9' stroke='%23354325'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_36_4545)'%3E%3Cpath d='M8.396 1.6377C8.95485 1.63774 9.44431 1.75977 9.86475 2.00391L10.0405 2.11621C10.4419 2.39558 10.7567 2.74552 10.9858 3.16602L11.0796 3.34961C11.1259 3.44888 11.1398 3.5497 11.1216 3.65137L11.0923 3.75293C11.0525 3.8558 10.9904 3.93764 10.9058 3.99805L10.814 4.05078C10.7148 4.09703 10.6147 4.11193 10.5132 4.09375L10.4106 4.06445C10.2739 4.01142 10.1746 3.91849 10.1128 3.78613H10.1138C9.97076 3.4684 9.76792 3.2201 9.50635 3.04102L9.39014 2.96875C9.0725 2.78725 8.74124 2.69635 8.396 2.69629C7.97835 2.69629 7.5965 2.81383 7.25146 3.0498C6.99328 3.22645 6.76041 3.43412 6.55322 3.67188L6.354 3.91992V3.9209C6.31011 3.99104 6.25276 4.04082 6.18311 4.07129C6.11267 4.10207 6.03788 4.11812 5.9585 4.11816C5.87921 4.11816 5.80433 4.09966 5.73389 4.06445C5.69868 4.04685 5.66673 4.0261 5.63818 4.00195L5.56201 3.91992C5.30844 3.57579 5.00974 3.28533 4.66553 3.0498C4.32048 2.81372 3.93867 2.69635 3.521 2.69629C3.0678 2.69629 2.66812 2.83353 2.32275 3.1084L2.17822 3.23438C1.80102 3.59344 1.61279 4.04595 1.61279 4.59082C1.61282 4.89048 1.67631 5.19471 1.80322 5.50293C1.89854 5.73431 2.0494 5.99228 2.25635 6.27637L2.48193 6.56836C2.72598 6.87003 3.0357 7.21027 3.41162 7.58789L3.81006 7.97852C4.36991 8.51578 5.08312 9.16361 5.94971 9.92188L5.9585 9.92871L5.96631 9.92188L7.17139 8.86523C7.2772 8.76824 7.40062 8.72466 7.5415 8.7334C7.64784 8.74004 7.74159 8.77166 7.82275 8.82812L7.89893 8.89258C8.00469 8.99834 8.05563 9.12765 8.05127 9.28223C8.04796 9.39807 8.01391 9.49771 7.94873 9.58105L7.87256 9.65918L6.66748 10.7295C6.59393 10.7963 6.5129 10.8508 6.42432 10.8926L6.3335 10.9297C6.20848 10.9743 6.08326 10.997 5.9585 10.9971C5.86489 10.9971 5.77098 10.9841 5.67725 10.959L5.5835 10.9297C5.49025 10.8964 5.40407 10.8485 5.32568 10.7852L5.24951 10.7158H5.24854C4.84225 10.3547 4.37063 9.9438 3.8335 9.4834C3.29672 9.0233 2.78454 8.52875 2.29736 8.00098C1.93223 7.60538 1.60904 7.19586 1.32764 6.77246L1.06006 6.34473C0.722541 5.76869 0.554236 5.18409 0.554199 4.59082C0.554199 3.85089 0.77091 3.21979 1.20459 2.69727L1.40381 2.48047C1.97006 1.91875 2.6755 1.6377 3.521 1.6377C3.93009 1.63774 4.32212 1.7128 4.69678 1.86426L4.85596 1.93457C5.27858 2.13241 5.64296 2.41078 5.94873 2.77051L5.9585 2.78223L5.96729 2.77051C6.23485 2.45573 6.54776 2.20351 6.90479 2.0127L7.06006 1.93457C7.4827 1.73674 7.92838 1.6377 8.396 1.6377ZM10.2915 4.8877C10.4043 4.8877 10.5033 4.91562 10.5884 4.97266L10.6685 5.04004C10.7697 5.14137 10.8208 5.26675 10.8208 5.41699V6.5127H11.9165C12.0293 6.5127 12.1283 6.54062 12.2134 6.59766L12.2935 6.66504C12.3947 6.76637 12.4458 6.89175 12.4458 7.04199C12.4457 7.19217 12.3947 7.31766 12.2935 7.41895C12.1921 7.5202 12.0667 7.57129 11.9165 7.57129H10.8208V8.66699C10.8207 8.81717 10.7697 8.94266 10.6685 9.04395C10.5671 9.1452 10.4417 9.19629 10.2915 9.19629C10.1787 9.19629 10.0798 9.16746 9.99463 9.11035L9.91455 9.04395C9.81326 8.94266 9.76228 8.81717 9.76221 8.66699V7.57129H8.6665C8.55368 7.57129 8.45475 7.54246 8.36963 7.48535L8.28955 7.41895C8.18826 7.31766 8.13728 7.19217 8.13721 7.04199C8.13721 6.89175 8.1883 6.76637 8.28955 6.66504C8.39091 6.56368 8.51618 6.5127 8.6665 6.5127H9.76221V5.41699C9.76221 5.3042 9.79107 5.20522 9.84814 5.12012L9.91455 5.04004C10.0159 4.93868 10.1412 4.8877 10.2915 4.8877Z' fill='%23354325' stroke='%23354325' stroke-width='0.025'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (min-width:641px){ /*pc 형 webzine*/
    /************************ *마우스 오버시 효과 ****************************/
                .webzine .list ul li:hover a .photo img{
                    transform: scale3d(1.2, 1.2, 1);
                }
                .webzine .list ul li:hover a{
                    transform: translate(-10px, -10px);
                    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.25);
                }
}/*@media pc641*/


@media screen and (max-width:640px){ /*모바일 webzine*/
                    .webzine{
                        margin: 0 0 124px 0;
                        padding: 120px 0 124px 0;
                        background-color: #354325;
                    }
                    .webzine .tit{
                        margin-right: 55px; /* 브라우저 사이즈가 줄어들어도 아이콘이 중첩되지 않고 비워놓고 줄이바뀜*/
                    }
                    .webzine .tit h2{
                        margin: 0 0 10px 0;
                        font-size: 16px;
                        color: #ECEEE3;
                    }
                    .webzine .tit p{
                        font-size: 25px;
                        color: #fff;
                    }
                    .webzine .list{
                        width: 100%; /* position속성이 있는 요소에는 넓이 auto 주면 안됨.*/
                        left: 0; 
                        padding: 20px 0 10px 20px; /* 35px 0 10px <- 그림자가 없으면 없애도 됨 0 */    
                        overflow-x: auto; 
                        /*overflow-x 좌우 auto
                          list안에 있는 요소가 list보다 넓이가 더 크면
                          그때만 가로 스크롤바가 생김 ( /디바이스 툴바 선택 해야함/모바일 모드에서만 사라지는것임.)*/
                    }   
                    .webzine .list ul{
                        gap: 10px;
                        width: 1215px;
                        /*
                            li의 넓이 x li의 갯수 + li 의 여백 x li의 갯수
                            233 * 5 + 10 * 5 = 1165px / 1115 + 50 = 1165px
                        */ 
                    }
                    .webzine .list ul li{
                        width: 233px;
                    }
                    .webzine .list ul li a{
                        border-radius: 10px;
                    }
                    .webzine .list ul li a .photo{
                        height: 220px;
                    }
                    .webzine .list ul li a .txt{
                        padding: 19px; /* 웹진 글자 상자 여백 공간 */
                    }
                    .webzine .list ul li a .txt h3{
                        margin: 13px 0 4px 0;
                        font-size: 16px;
                    }
                    .webzine .list ul li a .txt p{
                        margin: 0 0 8px 0px;
                    }
                    .webzine .list ul li a .txt .date{
                        margin: 0;
                    }
                    .webzine .more{
                        right: 30px;
                        top: 148px;
                        border: 1px solid #ECEEE3;
                        border-radius: 50%; /* 동그라미 만들기 */
                        padding: 0;
                        width: 30px;
                        height: 30px;
                    }
                    .webzine .more::after{
                        right: 6px;
                        top: 8px;
                        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_36_4545' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='13' height='13'%3E%3Crect x='0.5' y='0.5' width='12' height='12' fill='%23D9D9D9' stroke='%23354325'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_36_4545)'%3E%3Cpath d='M8.396 1.6377C8.95485 1.63774 9.44431 1.75977 9.86475 2.00391L10.0405 2.11621C10.4419 2.39558 10.7567 2.74552 10.9858 3.16602L11.0796 3.34961C11.1259 3.44888 11.1398 3.5497 11.1216 3.65137L11.0923 3.75293C11.0525 3.8558 10.9904 3.93764 10.9058 3.99805L10.814 4.05078C10.7148 4.09703 10.6147 4.11193 10.5132 4.09375L10.4106 4.06445C10.2739 4.01142 10.1746 3.91849 10.1128 3.78613H10.1138C9.97076 3.4684 9.76792 3.2201 9.50635 3.04102L9.39014 2.96875C9.0725 2.78725 8.74124 2.69635 8.396 2.69629C7.97835 2.69629 7.5965 2.81383 7.25146 3.0498C6.99328 3.22645 6.76041 3.43412 6.55322 3.67188L6.354 3.91992V3.9209C6.31011 3.99104 6.25276 4.04082 6.18311 4.07129C6.11267 4.10207 6.03788 4.11812 5.9585 4.11816C5.87921 4.11816 5.80433 4.09966 5.73389 4.06445C5.69868 4.04685 5.66673 4.0261 5.63818 4.00195L5.56201 3.91992C5.30844 3.57579 5.00974 3.28533 4.66553 3.0498C4.32048 2.81372 3.93867 2.69635 3.521 2.69629C3.0678 2.69629 2.66812 2.83353 2.32275 3.1084L2.17822 3.23438C1.80102 3.59344 1.61279 4.04595 1.61279 4.59082C1.61282 4.89048 1.67631 5.19471 1.80322 5.50293C1.89854 5.73431 2.0494 5.99228 2.25635 6.27637L2.48193 6.56836C2.72598 6.87003 3.0357 7.21027 3.41162 7.58789L3.81006 7.97852C4.36991 8.51578 5.08312 9.16361 5.94971 9.92188L5.9585 9.92871L5.96631 9.92188L7.17139 8.86523C7.2772 8.76824 7.40062 8.72466 7.5415 8.7334C7.64784 8.74004 7.74159 8.77166 7.82275 8.82812L7.89893 8.89258C8.00469 8.99834 8.05563 9.12765 8.05127 9.28223C8.04796 9.39807 8.01391 9.49771 7.94873 9.58105L7.87256 9.65918L6.66748 10.7295C6.59393 10.7963 6.5129 10.8508 6.42432 10.8926L6.3335 10.9297C6.20848 10.9743 6.08326 10.997 5.9585 10.9971C5.86489 10.9971 5.77098 10.9841 5.67725 10.959L5.5835 10.9297C5.49025 10.8964 5.40407 10.8485 5.32568 10.7852L5.24951 10.7158H5.24854C4.84225 10.3547 4.37063 9.9438 3.8335 9.4834C3.29672 9.0233 2.78454 8.52875 2.29736 8.00098C1.93223 7.60538 1.60904 7.19586 1.32764 6.77246L1.06006 6.34473C0.722541 5.76869 0.554236 5.18409 0.554199 4.59082C0.554199 3.85089 0.77091 3.21979 1.20459 2.69727L1.40381 2.48047C1.97006 1.91875 2.6755 1.6377 3.521 1.6377C3.93009 1.63774 4.32212 1.7128 4.69678 1.86426L4.85596 1.93457C5.27858 2.13241 5.64296 2.41078 5.94873 2.77051L5.9585 2.78223L5.96729 2.77051C6.23485 2.45573 6.54776 2.20351 6.90479 2.0127L7.06006 1.93457C7.4827 1.73674 7.92838 1.6377 8.396 1.6377ZM10.2915 4.8877C10.4043 4.8877 10.5033 4.91562 10.5884 4.97266L10.6685 5.04004C10.7697 5.14137 10.8208 5.26675 10.8208 5.41699V6.5127H11.9165C12.0293 6.5127 12.1283 6.54062 12.2134 6.59766L12.2935 6.66504C12.3947 6.76637 12.4458 6.89175 12.4458 7.04199C12.4457 7.19217 12.3947 7.31766 12.2935 7.41895C12.1921 7.5202 12.0667 7.57129 11.9165 7.57129H10.8208V8.66699C10.8207 8.81717 10.7697 8.94266 10.6685 9.04395C10.5671 9.1452 10.4417 9.19629 10.2915 9.19629C10.1787 9.19629 10.0798 9.16746 9.99463 9.11035L9.91455 9.04395C9.81326 8.94266 9.76228 8.81717 9.76221 8.66699V7.57129H8.6665C8.55368 7.57129 8.45475 7.54246 8.36963 7.48535L8.28955 7.41895C8.18826 7.31766 8.13728 7.19217 8.13721 7.04199C8.13721 6.89175 8.1883 6.76637 8.28955 6.66504C8.39091 6.56368 8.51618 6.5127 8.6665 6.5127H9.76221V5.41699C9.76221 5.3042 9.79107 5.20522 9.84814 5.12012L9.91455 5.04004C10.0159 4.93868 10.1412 4.8877 10.2915 4.8877Z' fill='%23ECEEE3' stroke='%23354325' stroke-width='0.025'/%3E%3C/g%3E%3C/svg%3E%0A");
                        background-position: center center;
                        background-repeat: no-repeat;
                    }
                    .webzine .more span{
                        display: none;
                    }
}/*@media*/

.service{
    margin: 244px 0 0 0;
    padding: 137px 0 210px 0;
    background-color: #ECEEE3;
}
.service .tit h2{
    color: #354325;
    margin: 0 0 10px 0;
}
.service .list{
    margin: 70px 0 0 0;
}
.service .list ul{
    display: flex;
    justify-content: space-between;
}
.service .list ul li{
    width: calc(33.33% - 19px) ;
    /*
        100% / 한줄에 나올 li의 갯수 - 한줄에 li의 한줄에 존재 하는 여백의 총합 / 한줄에 나올 li의 갯수
        100 / 3 = 33.33% (28+28)/3 =18.6
    */
}
.service .list ul li a{
    display: block;
    background-color: #354325;
    padding: 23px 0 17px 45px;
    line-height: 1.2;
    letter-spacing: -0.05em;
    position: relative; /*after 정렬의 기준*/
    transition: 0.5s; 
    /*transition: transform, box-shadow 0.5s; 
    밑에 효과를 준것을 그대로 복사해서 붙여 넣으면 제한 할 수 있음 .*/
}
.service .list ul li a::after{
    content: ""; /*필수값*/
    position: absolute; /* more를 기준으로 정렬 */
    right: 34px;
    top: 27px;
    width: 38px;
    height: 38px;
    border: 1px solid #ECEEE3;
    border-radius: 50px;
    background-size: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_23_2766' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_23_2766)'%3E%3Cpath d='M11 11.825V21C11 21.2833 11.0958 21.5208 11.2875 21.7125C11.4792 21.9042 11.7167 22 12 22C12.2833 22 12.5208 21.9042 12.7125 21.7125C12.9042 21.5208 13 21.2833 13 21V11.825L14.9 13.7C15.0833 13.8833 15.3125 13.9792 15.5875 13.9875C15.8625 13.9958 16.1 13.9 16.3 13.7C16.4833 13.5167 16.575 13.2833 16.575 13C16.575 12.7167 16.4833 12.4833 16.3 12.3L12.7 8.7C12.5 8.5 12.2667 8.4 12 8.4C11.7333 8.4 11.5 8.5 11.3 8.7L7.7 12.3C7.51667 12.4833 7.42083 12.7125 7.4125 12.9875C7.40417 13.2625 7.5 13.5 7.7 13.7C7.88333 13.8833 8.11667 13.975 8.4 13.975C8.68333 13.975 8.91667 13.8833 9.1 13.7L11 11.825ZM12 4C9.76667 4 7.875 4.775 6.325 6.325C4.775 7.875 4 9.76667 4 12C4 12.55 4.05417 13.0917 4.1625 13.625C4.27083 14.1583 4.43333 14.675 4.65 15.175C4.76667 15.4583 4.80417 15.7417 4.7625 16.025C4.72083 16.3083 4.59167 16.5583 4.375 16.775C4.175 16.975 3.92917 17.0208 3.6375 16.9125C3.34583 16.8042 3.125 16.5917 2.975 16.275C2.65833 15.5917 2.41667 14.8958 2.25 14.1875C2.08333 13.4792 2 12.75 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.025 5.825 4.925 4.925C5.825 4.025 6.88333 3.3125 8.1 2.7875C9.31667 2.2625 10.6167 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 12.75 21.9208 13.4875 21.7625 14.2125C21.6042 14.9375 21.3583 15.6417 21.025 16.325C20.875 16.625 20.6542 16.825 20.3625 16.925C20.0708 17.025 19.825 16.975 19.625 16.775C19.425 16.575 19.2958 16.3333 19.2375 16.05C19.1792 15.7667 19.2083 15.4917 19.325 15.225C19.5583 14.7083 19.7292 14.1792 19.8375 13.6375C19.9458 13.0958 20 12.55 20 12C20 9.76667 19.225 7.875 17.675 6.325C16.125 4.775 14.2333 4 12 4Z' fill='%23ECEEE3' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;

}
.service .list ul li a span{ /*h3,p태그는 display: block;을 줘야함. 줄바꿈이 필요 없으니까*/
    display: block;
    color: #fff;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.05em;
}
.service .list ul li a strong{
    display: block;
    color: #fff;
    font-weight: 700;
    margin: 2px 0 0 0;
    line-height: 1.2;
    letter-spacing: -0.05em;
}

@media screen and (min-width:641px){ /* pc 형 service*/
    /************************ *마우스 오버시 효과 ****************************/
                    .service .list ul li:hover a{
                        background-color: #fff;
                        color: #354325;
                        box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
                        transform: translate(-10px, 10px);
                    }
                    .service .list ul li a:hover span{ 
                        color: #354325;
                    }
                    .service .list ul li a:hover strong{
                        color: #354325;
                    }
                    .service .list ul li a:hover::after{
                        border: 1px solid #354325;
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_23_2766' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_23_2766)'%3E%3Cpath d='M11 11.825V21C11 21.2833 11.0958 21.5208 11.2875 21.7125C11.4792 21.9042 11.7167 22 12 22C12.2833 22 12.5208 21.9042 12.7125 21.7125C12.9042 21.5208 13 21.2833 13 21V11.825L14.9 13.7C15.0833 13.8833 15.3125 13.9792 15.5875 13.9875C15.8625 13.9958 16.1 13.9 16.3 13.7C16.4833 13.5167 16.575 13.2833 16.575 13C16.575 12.7167 16.4833 12.4833 16.3 12.3L12.7 8.7C12.5 8.5 12.2667 8.4 12 8.4C11.7333 8.4 11.5 8.5 11.3 8.7L7.7 12.3C7.51667 12.4833 7.42083 12.7125 7.4125 12.9875C7.40417 13.2625 7.5 13.5 7.7 13.7C7.88333 13.8833 8.11667 13.975 8.4 13.975C8.68333 13.975 8.91667 13.8833 9.1 13.7L11 11.825ZM12 4C9.76667 4 7.875 4.775 6.325 6.325C4.775 7.875 4 9.76667 4 12C4 12.55 4.05417 13.0917 4.1625 13.625C4.27083 14.1583 4.43333 14.675 4.65 15.175C4.76667 15.4583 4.80417 15.7417 4.7625 16.025C4.72083 16.3083 4.59167 16.5583 4.375 16.775C4.175 16.975 3.92917 17.0208 3.6375 16.9125C3.34583 16.8042 3.125 16.5917 2.975 16.275C2.65833 15.5917 2.41667 14.8958 2.25 14.1875C2.08333 13.4792 2 12.75 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.025 5.825 4.925 4.925C5.825 4.025 6.88333 3.3125 8.1 2.7875C9.31667 2.2625 10.6167 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 12.75 21.9208 13.4875 21.7625 14.2125C21.6042 14.9375 21.3583 15.6417 21.025 16.325C20.875 16.625 20.6542 16.825 20.3625 16.925C20.0708 17.025 19.825 16.975 19.625 16.775C19.425 16.575 19.2958 16.3333 19.2375 16.05C19.1792 15.7667 19.2083 15.4917 19.325 15.225C19.5583 14.7083 19.7292 14.1792 19.8375 13.6375C19.9458 13.0958 20 12.55 20 12C20 9.76667 19.225 7.875 17.675 6.325C16.125 4.775 14.2333 4 12 4Z' fill='%23354325' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
                    }
}/*@media pc641*/

@media screen and (max-width:640px){ /* 모바일 service*/
                        .service{
                            margin: 96px 0 0 0;
                            padding: 15px 0 0 0;
                            background-color: #fff;
                        }
                        .service .tit p{
                            font-size: 20px;
                        }
                        .service .tit h2{
                            color: #354325;
                            margin: 0 0 10px 0;
                        }
                        .service .list{
                            margin: 44px 0 0 0;
                        }
                        .service .list ul{
                            display: block;
                        }
                        .service .list ul li{
                            width: auto;
                            margin: 0 0 10px 0;
                        }
                        .service .list ul li:last-child{ /* :last-child 는 li 밖에 적용이 안됨 */
                            margin-bottom: 0;
                        }
                        .service .list ul li a{
                            padding: 30px 50px 30px 40px;
                            letter-spacing: -0.05em;
                            position: relative; /*after 정렬의 기준*/
                            transition: 0.5s; 
                            font-weight: 500;
                            height: 100%;
                            /*transition: transform, box-shadow 0.5s; 
                            밑에 효과를 준것을 그대로 복사해서 붙여 넣으면 제한 할 수 있음 .*/
                        }
                        .service .list ul li a::after{
                            right: 30px;
                            top: 30px;
                            width: 25px;
                            height: 25px;
                            background-size: 17px;
                            border-radius: 25px;
                            transform: translate(-50%);
                            /* 기준이 되는 a 높이의 위아래 가운데*/
                        
                        }
                        .service .list ul li a span{ /*h3,p태그는 display: block;을 줘야함. 줄바꿈이 필요 없으니까*/
                            display: none; /* 글자 없애기*/
                        }
                        .service .list ul li a strong{
                            font-size: 16px;
                        }                    
}/*@media*/





footer{
    margin: 2000px 0 0 0;
}