/*모든페이지에 공통으로 들어가는 기본 스타일*/
html, body{
    font-family: "dela-regular", "Paperlogy", sans-serif;
    /* 앞에 쓴 서체를 적용하고 지원이 안되면 두번째 서체를 사용 */
    font-size: 17px;
    line-height: 1.5; /*배수*/
    color: #1d1d1d;
    word-break: keep-all; /* 스페이스 기준 =단어별로 줄바꿈*/
    word-wrap: break-word; 
    /*단어가 너무 긴 경우 강제로 줄바꿈을 주는 경우*/
    background-color: #fff;
}

.wrapper{
    width: 1260px; /*1260*/
    margin: 0 auto; /*가운데*/
}
#wrap{
    /*
        1260 + 24(왼) + 24(오) = 1308 [동양생명 스타일]
        1260 + 30(왼) + 30(오) = 1320 [네이버스타일]
        1260 + 30 + 30 = 1320 을유문화사 개편 사이트 스타일 (왼쪽여백30 오른쪽여백30 최솟값)
    */
    position: relative; /*header 정렬의 기준*/
    overflow-x: hidden;  /* 가로 스크롤바 삭제 */
    width: 100%; /* 안전빵으로 주는 편 */
}
@media screen and (max-width:1386px){  /* wrapper 가 해지되는 사이즈 */
    .wrapper{
        width: auto; 
        /* %로 넓이 조정하는 방법 width: auto;로두고
        1260 / 0.05 = 63 + 63(양싸이드) = 126 + 1260 = 1386 <--브레이크 포인트*/
        margin: 0 5%; /* 0.05 */ 
        /* 퍼센트로 주기 싫으면 원하는 넓이를 px로 주면 됨
        ex) margin: 0 24px; 일때 
        24 + 24 = 48 + 1260 = 1308 px를 넓이로 주면 됨. */
    }
}
@media screen and (max-width:768px){
    /*브라우저 넓이가 640px 이하에서만 작동 (유지하는 서식은 지움)*/
    html, body {
        font-size: 16px;
    }
}

/*글자를 숨겨야 하는 경우 blind클래스를 적용*/
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    color: transparent;
}

.txt_upper{ /* 소문자 -> 대문자로 바꾸는 서식 만든거 */
    text-transform: uppercase;
}

.skip_nav{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000; /* 맨위로 */
}
.skip_nav a{
    display: block;
    text-align: center;
    padding: 5px 0;
    background-color: #1d1d1d;
    color: #08AE42;
    font-family: 'Paperlogy';
    position: absolute;
    left: 0;
    top: -1000px;
    width: 100%;
}
.skip_nav a:focus{
    top: 0;
}

/* css 변수 내맘대로 커스텀 하는거*/
:root{
    --header-h: 100px; /* header의 높이 */
    --header-h-m: -100px; /* header 높이의 반대값 */
    --tit-color: #fff;
    --base-color:#1d1d1d;
    --point-color:#08AE42;
    --bold-weight: 800;
    --line-height: 1.2;
    --tit-size: 2.94rem;  /* 50/ 17 = 2.94 */
    --sub-tit-size: 1.76rem; /* 30/17 = 1.76 */
    --display-size: 60px;
}
@media screen and (max-width:1024px){
    :root{
        --header-h: 90px; /* header의 높이 */
        --header-h-m: -90px;
        --tit-size: 2.64rem;  /* 45/ 17 = 2.64 */
        --sub-tit-size: 1.76rem; /* 30/17 = 1.76 */
        --display-size: 50px;
    }
}
@media screen and (max-width:768px){
    :root{
        --header-h: 65px; /* header의 높이 */
        --header-h-m: -65px;
        --tit-size: 1.87rem;  /* 30/ 16 = 2.94 */
        --sub-tit-size: 1.25rem; /* 20/16 = 1.25 */
        --display-size: 30px;
    }
}

/* 글자를 드레그 해서 선택 했을때 색이 변하는 수식 */
::selection {
    color: #08AE42;
    background-color: #1d1d1d;
}
 /* 스크롤바 색상 변경 할 수 있는 방법 */