 /* header와 footer 같이 모든 페이지 공통사항 저장 */

header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    padding: 0 2.94em; /* 로고 왼쪽 여백과 오른쪽 마이페이지 여백 50 */
    height: var(--header-h);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo a{
    display: block;
    width: 167px;
    height: 40px;
    background: url(../images/common/logo_w.png) no-repeat center center / contain;
}
@media screen and (min-width:1025px){ /* 1024 이상 pc 버전에서만 적용 */
    header .gnb .gnb_open,
    header .gnb .gnb_close{
        display: none;
    }
    header .gnb .gnb_wrap ul.degth1{
        display: flex;
    }
    header .gnb .gnb_wrap ul.degth1 > li{
        width: 146px; /* 146px 하위 메뉴중 가장 긴 글자를 기준으로 만든 넓이 */
    }
    header .gnb .gnb_wrap ul.degth1 > li > a{
        display: block;
        line-height: var(--line-height);
        color: var(--tit-color);
        font-size: 1.47rem; /* 25px */
        text-align: center;
        font-weight: 400;
    }
    header .utill{
        display: flex;
        gap: 17px;
    }
    header .utill .mypage, /** 수정해야함!!!!!!!!!!! **/
    header .lang .lang_open{
        color: #fff;
        mix-blend-mode: difference;
        border-bottom: 1px solid #fff;
        font-family: 'dela-regular';
    }
    header .utill .search_open{
        display: block;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg style='mix-blend-mode:difference'%3E%3Cmask id='mask0_78_8' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_78_8)'%3E%3Cpath d='M19.6 21L13.3 14.7C12.8 15.1 12.225 15.4167 11.575 15.65C10.925 15.8833 10.2333 16 9.5 16C7.68333 16 6.14583 15.3708 4.8875 14.1125C3.62917 12.8542 3 11.3167 3 9.5C3 7.68333 3.62917 6.14583 4.8875 4.8875C6.14583 3.62917 7.68333 3 9.5 3C11.3167 3 12.8542 3.62917 14.1125 4.8875C15.3708 6.14583 16 7.68333 16 9.5C16 10.2333 15.8833 10.925 15.65 11.575C15.4167 12.225 15.1 12.8 14.7 13.3L21 19.6L19.6 21ZM9.5 14C10.75 14 11.8125 13.5625 12.6875 12.6875C13.5625 11.8125 14 10.75 14 9.5C14 8.25 13.5625 7.1875 12.6875 6.3125C11.8125 5.4375 10.75 5 9.5 5C8.25 5 7.1875 5.4375 6.3125 6.3125C5.4375 7.1875 5 8.25 5 9.5C5 10.75 5.4375 11.8125 6.3125 12.6875C7.1875 13.5625 8.25 14 9.5 14Z' fill='white'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    /**** 하얀색 배경일때 class="bg_w" *****/
    body.fp-responsive.fixed header{
        background-color: #fff;
    }
    body.fp-responsive header.fixed .logo a,
    body.bg_w header .logo a{
        background: url(../images/common/logo.png) no-repeat center center / contain;
    }
    body.fp-responsive header.fixed .gnb .gnb_wrap ul.degth1 > li > a,
    body.bg_w header .gnb .gnb_wrap ul.degth1 > li > a{
        color: #1d1d1d;
    }
    body.bg_w header .utill .search_open{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg style='mix-blend-mode:difference'%3E%3Cmask id='mask0_78_8' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_78_8)'%3E%3Cpath d='M19.6 21L13.3 14.7C12.8 15.1 12.225 15.4167 11.575 15.65C10.925 15.8833 10.2333 16 9.5 16C7.68333 16 6.14583 15.3708 4.8875 14.1125C3.62917 12.8542 3 11.3167 3 9.5C3 7.68333 3.62917 6.14583 4.8875 4.8875C6.14583 3.62917 7.68333 3 9.5 3C11.3167 3 12.8542 3.62917 14.1125 4.8875C15.3708 6.14583 16 7.68333 16 9.5C16 10.2333 15.8833 10.925 15.65 11.575C15.4167 12.225 15.1 12.8 14.7 13.3L21 19.6L19.6 21ZM9.5 14C10.75 14 11.8125 13.5625 12.6875 12.6875C13.5625 11.8125 14 10.75 14 9.5C14 8.25 13.5625 7.1875 12.6875 6.3125C11.8125 5.4375 10.75 5 9.5 5C8.25 5 7.1875 5.4375 6.3125 6.3125C5.4375 7.1875 5 8.25 5 9.5C5 10.75 5.4375 11.8125 6.3125 12.6875C7.1875 13.5625 8.25 14 9.5 14Z' fill='%231d1d1d'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }
    body.bg_w header .utill .mypage,
    body.bg_w header .lang .lang_open{
        mix-blend-mode: difference;
        border-bottom: 1px solid #1d1d1d;
    }
    body.bg_w header .utill .mypage, /** 수정해야함!!!!!!!!!!! **/
    body.bg_w header .lang .lang_open{
        color: #1d1d1d;
        mix-blend-mode: difference;
        border-bottom: 1px solid #1d1d1d;
        font-family: 'dela-regular';
    }
}/* media */
@media screen and (max-width:1024px){
    /* 1024 이하 모바일 버전 */
    header{
        padding-right: 20px; /* 오른쪽 여백 안들어감 */
        padding-left: 20px;
    }
    header .logo a{
        width: 121px;
        height: 29px;
    }
    header .gnb .gnb_open{
        display: block;
        align-items: center;
        width: 30px;
        height: 30px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_58_2961' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_58_2961)'%3E%3Cpath d='M6.21875 18.75C5.86458 18.75 5.57292 18.6302 5.34375 18.3906C5.11458 18.151 5 17.8542 5 17.5C5 17.1458 5.11979 16.849 5.35938 16.6094C5.59896 16.3698 5.89583 16.25 6.25 16.25H23.7812C24.1354 16.25 24.4271 16.3698 24.6562 16.6094C24.8854 16.849 25 17.1458 25 17.5C25 17.8542 24.8802 18.151 24.6406 18.3906C24.401 18.6302 24.1042 18.75 23.75 18.75H6.21875ZM6.21875 23.75C5.86458 23.75 5.57292 23.6302 5.34375 23.3906C5.11458 23.151 5 22.8542 5 22.5C5 22.1458 5.11979 21.849 5.35938 21.6094C5.59896 21.3698 5.89583 21.25 6.25 21.25H23.7812C24.1354 21.25 24.4271 21.3698 24.6562 21.6094C24.8854 21.849 25 22.1458 25 22.5C25 22.8542 24.8802 23.151 24.6406 23.3906C24.401 23.6302 24.1042 23.75 23.75 23.75H6.21875ZM6.21875 13.75C5.86458 13.75 5.57292 13.6302 5.34375 13.3906C5.11458 13.151 5 12.8542 5 12.5C5 12.1458 5.11979 11.849 5.35938 11.6094C5.59896 11.3698 5.89583 11.25 6.25 11.25H23.7812C24.1354 11.25 24.4271 11.3698 24.6562 11.6094C24.8854 11.849 25 12.1458 25 12.5C25 12.8542 24.8802 13.151 24.6406 13.3906C24.401 13.6302 24.1042 13.75 23.75 13.75H6.21875ZM6.21875 8.75C5.86458 8.75 5.57292 8.63021 5.34375 8.39062C5.11458 8.15104 5 7.85417 5 7.5C5 7.14583 5.11979 6.84896 5.35938 6.60938C5.59896 6.36979 5.89583 6.25 6.25 6.25H23.7812C24.1354 6.25 24.4271 6.36979 24.6562 6.60938C24.8854 6.84896 25 7.14583 25 7.5C25 7.85417 24.8802 8.15104 24.6406 8.39062C24.401 8.63021 24.1042 8.75 23.75 8.75H6.21875Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_close,
    header .gnb .gnb_wrap,
    header .utill{
        display: none;
    }

    /******** header에 fixed 클래스가 추가 되었을때 ********/
    header{
        background-color: #fff;
    }
    header.fixed .logo a{
        background: url(../images/common/logo.png) no-repeat center center / contain;
    }
    header .gnb .gnb_open{
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_58_2961' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_58_2961)'%3E%3Cpath d='M6.21875 18.75C5.86458 18.75 5.57292 18.6302 5.34375 18.3906C5.11458 18.151 5 17.8542 5 17.5C5 17.1458 5.11979 16.849 5.35938 16.6094C5.59896 16.3698 5.89583 16.25 6.25 16.25H23.7812C24.1354 16.25 24.4271 16.3698 24.6562 16.6094C24.8854 16.849 25 17.1458 25 17.5C25 17.8542 24.8802 18.151 24.6406 18.3906C24.401 18.6302 24.1042 18.75 23.75 18.75H6.21875ZM6.21875 23.75C5.86458 23.75 5.57292 23.6302 5.34375 23.3906C5.11458 23.151 5 22.8542 5 22.5C5 22.1458 5.11979 21.849 5.35938 21.6094C5.59896 21.3698 5.89583 21.25 6.25 21.25H23.7812C24.1354 21.25 24.4271 21.3698 24.6562 21.6094C24.8854 21.849 25 22.1458 25 22.5C25 22.8542 24.8802 23.151 24.6406 23.3906C24.401 23.6302 24.1042 23.75 23.75 23.75H6.21875ZM6.21875 13.75C5.86458 13.75 5.57292 13.6302 5.34375 13.3906C5.11458 13.151 5 12.8542 5 12.5C5 12.1458 5.11979 11.849 5.35938 11.6094C5.59896 11.3698 5.89583 11.25 6.25 11.25H23.7812C24.1354 11.25 24.4271 11.3698 24.6562 11.6094C24.8854 11.849 25 12.1458 25 12.5C25 12.8542 24.8802 13.151 24.6406 13.3906C24.401 13.6302 24.1042 13.75 23.75 13.75H6.21875ZM6.21875 8.75C5.86458 8.75 5.57292 8.63021 5.34375 8.39062C5.11458 8.15104 5 7.85417 5 7.5C5 7.14583 5.11979 6.84896 5.35938 6.60938C5.59896 6.36979 5.89583 6.25 6.25 6.25H23.7812C24.1354 6.25 24.4271 6.36979 24.6562 6.60938C24.8854 6.84896 25 7.14583 25 7.5C25 7.85417 24.8802 8.15104 24.6406 8.39062C24.401 8.63021 24.1042 8.75 23.75 8.75H6.21875Z' fill='%231d1d1d'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
}/* media */

/* footer!!! */
footer{
    /*background: url(../images/main/footer_bg.jpg) no-repeat center center /cover;*/
    background-color: #1d1d1d;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Paperlogy';
    padding: 0 0 150px 0;
}
footer .footer_top{
    position: relative; /* before 정렬의 기준 */
    border-bottom: 1px solid #08AE42;
    padding: 37px 0 27px 0;
}
footer .footer_top::before{ /* 가운데 선 긋기 */
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #08AE42;
}
footer .footer_top .wrapper{
    display: flex;
    gap: 95px;
}
footer .footer_top .item{
    width: calc(50% - 47.5px); /* 50% - 사이 여백 반값  */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px; /* 사이즈를 줄일때 글자끼리 충돌안나게 여백을 주는것임 */
}
footer .footer_top .item h2{
    font-size: 30px;
    color: var(--point-color);
    font-weight: var(--bold-weight);
    line-height: var(--line-height);
    margin: 0 0 23px 0;
}
footer .footer_top .item a{
    display: block;
    border: 1px solid #08AE42;
    border-radius: 30px;
    color: #fff;
    padding: 11px 15px 11px 50px;
    position: relative; /* before 정렬의 기준 */
}
footer .footer_top .item a::before{
    content: "";
    position: absolute;
    left: 16px;
    top: 14px;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
footer .footer_top .item.news a::before{
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_58_2738' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_58_2738)'%3E%3Cpath d='M3 20C2.45 20 1.97917 19.8042 1.5875 19.4125C1.19583 19.0208 1 18.55 1 18V6C1 5.45 1.19583 4.97917 1.5875 4.5875C1.97917 4.19583 2.45 4 3 4H21C21.55 4 22.0208 4.19583 22.4125 4.5875C22.8042 4.97917 23 5.45 23 6V18C23 18.55 22.8042 19.0208 22.4125 19.4125C22.0208 19.8042 21.55 20 21 20H3ZM3 18H21V6H3V18ZM3.5 15H4.75V11.5L7.3 15H8.5V9H7.25V12.5L4.75 9H3.5V15ZM9.5 15H13.5V13.75H11V12.65H13.5V11.4H11V10.25H13.5V9H9.5V15ZM15.5 15H19.5C19.7833 15 20.0208 14.9042 20.2125 14.7125C20.4042 14.5208 20.5 14.2833 20.5 14V9H19.25V13.5H18.15V10H16.9V13.5H15.75V9H14.5V14C14.5 14.2833 14.5958 14.5208 14.7875 14.7125C14.9792 14.9042 15.2167 15 15.5 15Z' fill='%2308AE42'/%3E%3C/g%3E%3C/svg%3E%0A");
}
footer .footer_top .item.sponsor a::before{ 
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_58_2741' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_58_2741)'%3E%3Cpath d='M5.925 21C5.54167 21 5.17083 20.8667 4.8125 20.6C4.45417 20.3333 4.21667 20.0083 4.1 19.625C3.68333 18.225 3.34167 17.0125 3.075 15.9875C2.80833 14.9625 2.59583 14.0625 2.4375 13.2875C2.27917 12.5125 2.16667 11.825 2.1 11.225C2.03333 10.625 2 10.05 2 9.5C2 7.96667 2.53333 6.66667 3.6 5.6C4.66667 4.53333 5.96667 4 7.5 4H12.5C12.95 3.4 13.5208 2.91667 14.2125 2.55C14.9042 2.18333 15.6667 2 16.5 2C16.9167 2 17.2708 2.14583 17.5625 2.4375C17.8542 2.72917 18 3.08333 18 3.5C18 3.6 17.9875 3.7 17.9625 3.8C17.9375 3.9 17.9083 3.99167 17.875 4.075C17.8083 4.25833 17.7458 4.44167 17.6875 4.625C17.6292 4.80833 17.5833 5.00833 17.55 5.225L19.825 7.5H21C21.2833 7.5 21.5208 7.59583 21.7125 7.7875C21.9042 7.97917 22 8.21667 22 8.5V13.75C22 13.9667 21.9375 14.1583 21.8125 14.325C21.6875 14.4917 21.5167 14.6167 21.3 14.7L19.175 15.4L17.925 19.575C17.7917 20.0083 17.55 20.3542 17.2 20.6125C16.85 20.8708 16.45 21 16 21H14C13.45 21 12.9792 20.8042 12.5875 20.4125C12.1958 20.0208 12 19.55 12 19H10C10 19.55 9.80417 20.0208 9.4125 20.4125C9.02083 20.8042 8.55 21 8 21H5.925ZM6 19H8V17H14V19H16L17.55 13.85L20 13.025V9.5H19L15.5 6C15.5 5.66667 15.5208 5.34167 15.5625 5.025C15.6042 4.70833 15.6667 4.4 15.75 4.1C15.2667 4.23333 14.8417 4.4625 14.475 4.7875C14.1083 5.1125 13.8417 5.51667 13.675 6H7.5C6.53333 6 5.70833 6.34167 5.025 7.025C4.34167 7.70833 4 8.53333 4 9.5C4 10.1833 4.175 11.3542 4.525 13.0125C4.875 14.6708 5.36667 16.6667 6 19ZM16 11C16.2833 11 16.5208 10.9042 16.7125 10.7125C16.9042 10.5208 17 10.2833 17 10C17 9.71667 16.9042 9.47917 16.7125 9.2875C16.5208 9.09583 16.2833 9 16 9C15.7167 9 15.4792 9.09583 15.2875 9.2875C15.0958 9.47917 15 9.71667 15 10C15 10.2833 15.0958 10.5208 15.2875 10.7125C15.4792 10.9042 15.7167 11 16 11ZM12 9C12.2833 9 12.5208 8.90417 12.7125 8.7125C12.9042 8.52083 13 8.28333 13 8C13 7.71667 12.9042 7.47917 12.7125 7.2875C12.5208 7.09583 12.2833 7 12 7H9C8.71667 7 8.47917 7.09583 8.2875 7.2875C8.09583 7.47917 8 7.71667 8 8C8 8.28333 8.09583 8.52083 8.2875 8.7125C8.47917 8.90417 8.71667 9 9 9H12Z' fill='%2308AE42'/%3E%3C/g%3E%3C/svg%3E%0A");
}

/* 구독 버튼 hover 됐을때 item hover! */
footer .footer_top .item:hover a{
    display: block;
    border: 1px solid #08AE42;
    background-color: #08AE42;
    color: #1d1d1d;
    font-weight: var(--bold-weight);
}
footer .footer_top .item:hover.news a::before{
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_58_2738' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_58_2738)'%3E%3Cpath d='M3 20C2.45 20 1.97917 19.8042 1.5875 19.4125C1.19583 19.0208 1 18.55 1 18V6C1 5.45 1.19583 4.97917 1.5875 4.5875C1.97917 4.19583 2.45 4 3 4H21C21.55 4 22.0208 4.19583 22.4125 4.5875C22.8042 4.97917 23 5.45 23 6V18C23 18.55 22.8042 19.0208 22.4125 19.4125C22.0208 19.8042 21.55 20 21 20H3ZM3 18H21V6H3V18ZM3.5 15H4.75V11.5L7.3 15H8.5V9H7.25V12.5L4.75 9H3.5V15ZM9.5 15H13.5V13.75H11V12.65H13.5V11.4H11V10.25H13.5V9H9.5V15ZM15.5 15H19.5C19.7833 15 20.0208 14.9042 20.2125 14.7125C20.4042 14.5208 20.5 14.2833 20.5 14V9H19.25V13.5H18.15V10H16.9V13.5H15.75V9H14.5V14C14.5 14.2833 14.5958 14.5208 14.7875 14.7125C14.9792 14.9042 15.2167 15 15.5 15Z' fill='%231d1d1d'/%3E%3C/g%3E%3C/svg%3E%0A");
}
footer .footer_top .item:hover.sponsor a::before{ 
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_58_2741' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_58_2741)'%3E%3Cpath d='M5.925 21C5.54167 21 5.17083 20.8667 4.8125 20.6C4.45417 20.3333 4.21667 20.0083 4.1 19.625C3.68333 18.225 3.34167 17.0125 3.075 15.9875C2.80833 14.9625 2.59583 14.0625 2.4375 13.2875C2.27917 12.5125 2.16667 11.825 2.1 11.225C2.03333 10.625 2 10.05 2 9.5C2 7.96667 2.53333 6.66667 3.6 5.6C4.66667 4.53333 5.96667 4 7.5 4H12.5C12.95 3.4 13.5208 2.91667 14.2125 2.55C14.9042 2.18333 15.6667 2 16.5 2C16.9167 2 17.2708 2.14583 17.5625 2.4375C17.8542 2.72917 18 3.08333 18 3.5C18 3.6 17.9875 3.7 17.9625 3.8C17.9375 3.9 17.9083 3.99167 17.875 4.075C17.8083 4.25833 17.7458 4.44167 17.6875 4.625C17.6292 4.80833 17.5833 5.00833 17.55 5.225L19.825 7.5H21C21.2833 7.5 21.5208 7.59583 21.7125 7.7875C21.9042 7.97917 22 8.21667 22 8.5V13.75C22 13.9667 21.9375 14.1583 21.8125 14.325C21.6875 14.4917 21.5167 14.6167 21.3 14.7L19.175 15.4L17.925 19.575C17.7917 20.0083 17.55 20.3542 17.2 20.6125C16.85 20.8708 16.45 21 16 21H14C13.45 21 12.9792 20.8042 12.5875 20.4125C12.1958 20.0208 12 19.55 12 19H10C10 19.55 9.80417 20.0208 9.4125 20.4125C9.02083 20.8042 8.55 21 8 21H5.925ZM6 19H8V17H14V19H16L17.55 13.85L20 13.025V9.5H19L15.5 6C15.5 5.66667 15.5208 5.34167 15.5625 5.025C15.6042 4.70833 15.6667 4.4 15.75 4.1C15.2667 4.23333 14.8417 4.4625 14.475 4.7875C14.1083 5.1125 13.8417 5.51667 13.675 6H7.5C6.53333 6 5.70833 6.34167 5.025 7.025C4.34167 7.70833 4 8.53333 4 9.5C4 10.1833 4.175 11.3542 4.525 13.0125C4.875 14.6708 5.36667 16.6667 6 19ZM16 11C16.2833 11 16.5208 10.9042 16.7125 10.7125C16.9042 10.5208 17 10.2833 17 10C17 9.71667 16.9042 9.47917 16.7125 9.2875C16.5208 9.09583 16.2833 9 16 9C15.7167 9 15.4792 9.09583 15.2875 9.2875C15.0958 9.47917 15 9.71667 15 10C15 10.2833 15.0958 10.5208 15.2875 10.7125C15.4792 10.9042 15.7167 11 16 11ZM12 9C12.2833 9 12.5208 8.90417 12.7125 8.7125C12.9042 8.52083 13 8.28333 13 8C13 7.71667 12.9042 7.47917 12.7125 7.2875C12.5208 7.09583 12.2833 7 12 7H9C8.71667 7 8.47917 7.09583 8.2875 7.2875C8.09583 7.47917 8 7.71667 8 8C8 8.28333 8.09583 8.52083 8.2875 8.7125C8.47917 8.90417 8.71667 9 9 9H12Z' fill='%231d1d1d'/%3E%3C/g%3E%3C/svg%3E%0A");
}
/****************************************/

footer .footer_bottom{
    padding: 66px 0 67px 0;
}
footer .footer_bottom .wrapper{
    display: flex;
    gap: 53px;
    position: relative; /* sns 정렬의 기준 */
}
footer .footer_bottom .sns{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
}
footer .footer_bottom .f_logo img{
    width: 113px; /* 높이는 안줌 */
}
footer .footer_bottom .sns ul li{
    margin-bottom: 8px; 
}
footer .footer_bottom .sns ul li a{
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    padding: 7px 12px 7px 70px;
    position: relative; /* before 정렬의 기준 */
}
footer .footer_bottom .sns ul li a::before{
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    left: 25px;
    top: 9px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
/* .footer_bottom .sns ul li a 오버 했을때 !! */
footer .footer_bottom .sns ul li a:hover{
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-color: #fff;
    color: #1d1d1d;
    position: relative; /* before 정렬의 기준 */
}
/***********************************************/
footer .footer_bottom .sns ul li.blog a::before{
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='17' viewBox='0 0 19 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 0V17H12.6243L6.37568 8.44153V17H0V0H6.37568L12.6243 8.90253V0H19Z' fill='%236BBC44'/%3E%3C/svg%3E%0A");
}
footer .footer_bottom .sns ul li.facebook a::before{
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.1783 23H13.2822L11.5032 22.4134L9.73691 23H5.82174C2.60799 23 0 20.392 0 17.1783V5.82173C0 2.60798 2.60799 0 5.82174 0H17.1783C20.392 0 23 2.60798 23 5.82173V17.1783C23 20.392 20.392 23 17.1783 23Z' fill='%23337FFF'/%3E%3Cpath d='M9.72396 8.99703V11.4966H6.8418V14.7805H9.72396V22.9934H13.2757V14.7805H15.9219L16.4257 11.4966H13.2757V9.36687C13.2757 8.46779 13.7156 7.5942 15.1249 7.5942H16.5596V4.8013C16.5596 4.8013 15.2588 4.57812 14.0153 4.57812C11.4201 4.57812 9.72396 6.15312 9.72396 8.99703Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .footer_bottom .sns ul li.kakao a::before{
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_58_2766)'%3E%3Cpath d='M23 17.8826C23 20.709 20.7089 23 17.8823 23H5.11707C2.29106 23 0 20.709 0 17.8826V5.11743C0 2.291 2.29106 0 5.11707 0H17.8829C20.7095 0 23.0006 2.291 23.0006 5.11743V17.8826H23Z' fill='%23FFEB00'/%3E%3Cpath d='M11.4278 4.33008C6.85874 4.33008 3.15527 7.24121 3.15527 10.8329C3.15527 13.1701 4.72435 15.2188 7.07975 16.3655C6.9064 17.0076 6.45307 18.692 6.36252 19.0522C6.24994 19.4993 6.52694 19.4934 6.70863 19.3738C6.851 19.2796 8.97527 17.8427 9.89205 17.2226C10.3901 17.296 10.903 17.3351 11.4278 17.3351C15.9968 17.3351 19.7003 14.424 19.7003 10.8329C19.7003 7.2418 15.9968 4.33008 11.4278 4.33008Z' fill='%233C1E1E'/%3E%3Cpath d='M5.65658 9.63528H6.50843C6.50843 9.63528 6.51379 11.9606 6.50902 12.5026C6.51021 12.8982 7.39483 12.9036 7.39364 12.5085L7.39781 9.66549C7.39781 9.66549 7.68315 9.66726 8.24489 9.66785C8.77388 9.66785 8.77447 8.84042 8.24489 8.83983C7.6486 8.83983 5.65479 8.82324 5.65479 8.82324C5.155 8.82383 5.15678 9.63528 5.65598 9.63528' fill='%23FFEB00'/%3E%3Cpath d='M9.73206 9.78574L10.2056 11.2617H9.21797L9.73206 9.78574ZM9.2013 9.09394C8.99161 9.55297 8.23507 11.719 7.98368 12.2941C7.80199 12.7093 8.58534 13.0481 8.76703 12.6329L8.9374 12.0406H10.4958C10.4958 12.0406 10.4421 12.0649 10.6488 12.608C10.8162 13.0469 11.6252 12.7425 11.4578 12.303C11.2189 11.6746 10.3909 9.41437 10.2402 9.09394C10.1711 8.94586 9.9209 8.83984 9.67964 8.83984C9.47949 8.83984 9.2841 8.9127 9.2013 9.09394Z' fill='%23FFEB00'/%3E%3Cpath d='M11.7555 9.22937C11.7573 9.96559 11.7597 12.3389 11.7597 12.3389C11.7597 12.3389 11.6912 12.8104 12.0981 12.8104C12.5049 12.8104 13.4074 12.8062 13.8077 12.8062C14.208 12.8062 14.2057 11.9598 13.8059 11.9598C13.4062 11.9598 12.6753 11.9557 12.6753 11.9557C12.6753 11.9557 12.6789 9.76065 12.6777 9.22759C12.6765 8.96994 12.4472 8.84082 12.2172 8.84082C11.9873 8.84082 11.7555 8.97053 11.7561 9.22996' fill='%23FFEB00'/%3E%3Cpath d='M14.3148 9.11248C14.3237 9.43528 14.3047 12.3553 14.3047 12.5715C14.3047 12.9126 15.1792 12.912 15.1792 12.5709C15.1792 12.1746 15.1792 11.4218 15.1792 11.4218L15.4359 11.2169L16.5582 12.7397C16.7852 13.0376 17.4994 12.4992 17.2725 12.2019L16.0805 10.6406C16.0805 10.6406 16.8894 9.77052 17.2081 9.45541C17.394 9.2718 16.8185 8.69432 16.6321 8.87911C16.4516 9.0568 15.1845 10.3184 15.1845 10.3184C15.1845 10.3184 15.1959 9.52649 15.1845 9.08819C15.1798 8.92176 14.9749 8.8418 14.7652 8.8418C14.5406 8.8418 14.3106 8.93419 14.3154 9.11188' fill='%23FFEB00'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_58_2766'%3E%3Crect width='23' height='23' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .footer_bottom .sns ul li.instargram a::before{
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.5888 4.09961C16.8462 4.09961 16.2393 4.70657 16.2393 5.44913C16.2393 6.19169 16.8462 6.79865 17.5888 6.79865C18.3313 6.79865 18.9383 6.19169 18.9383 5.44913C18.9383 4.70657 18.3313 4.09961 17.5888 4.09961Z' fill='url(%23paint0_linear_58_2775)'/%3E%3Cpath d='M11.5901 5.83105C8.46488 5.83105 5.92725 8.37513 5.92725 11.4939C5.92725 14.6126 8.47134 17.1567 11.5901 17.1567C14.7088 17.1567 17.2529 14.6126 17.2529 11.4939C17.2529 8.37513 14.7088 5.83105 11.5901 5.83105ZM11.5901 15.1292C9.58841 15.1292 7.96121 13.502 7.96121 11.5003C7.96121 9.49866 9.58841 7.87148 11.5901 7.87148C13.5918 7.87148 15.2189 9.49866 15.2189 11.5003C15.2189 13.502 13.5918 15.1292 11.5901 15.1292Z' fill='url(%23paint1_linear_58_2775)'/%3E%3Cpath d='M16.091 23H6.90905C3.09939 23 0 19.9006 0 16.091V6.90904C0 3.09938 3.09939 0 6.90905 0H16.091C19.9006 0 23 3.09938 23 6.90904V16.091C23 19.9006 19.9006 23 16.091 23ZM6.90259 2.15665C4.28748 2.15665 2.15665 4.28748 2.15665 6.90259V16.0845C2.15665 18.6996 4.28748 20.8304 6.90259 20.8304H16.0845C18.6996 20.8304 20.8304 18.6996 20.8304 16.0845V6.90259C20.8304 4.28748 18.6996 2.15665 16.0845 2.15665H6.90259Z' fill='url(%23paint2_linear_58_2775)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_58_2775' x1='7.0509' y1='-4.63676' x2='27.9136' y2='15.3349' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FBE18A'/%3E%3Cstop offset='0.21' stop-color='%23FCBB45'/%3E%3Cstop offset='0.38' stop-color='%23F75274'/%3E%3Cstop offset='0.52' stop-color='%23D53692'/%3E%3Cstop offset='0.74' stop-color='%238F39CE'/%3E%3Cstop offset='1' stop-color='%235B4FE9'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_58_2775' x1='1.16194' y1='1.51774' x2='22.0247' y2='21.4829' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FBE18A'/%3E%3Cstop offset='0.21' stop-color='%23FCBB45'/%3E%3Cstop offset='0.38' stop-color='%23F75274'/%3E%3Cstop offset='0.52' stop-color='%23D53692'/%3E%3Cstop offset='0.74' stop-color='%238F39CE'/%3E%3Cstop offset='1' stop-color='%235B4FE9'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_58_2775' x1='1.11707' y1='1.56261' x2='21.9798' y2='21.5278' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FBE18A'/%3E%3Cstop offset='0.21' stop-color='%23FCBB45'/%3E%3Cstop offset='0.38' stop-color='%23F75274'/%3E%3Cstop offset='0.52' stop-color='%23D53692'/%3E%3Cstop offset='0.74' stop-color='%238F39CE'/%3E%3Cstop offset='1' stop-color='%235B4FE9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}
footer .footer_bottom .sns ul li.youtube a::before{
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='20' viewBox='0 0 28 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28 6.26923C28 2.80298 25.2456 0 21.8569 0H6.14314C2.74662 0 0 2.81088 0 6.26923V13.7307C0 17.197 2.75435 20 6.14314 20H21.8569C25.2534 20 28 17.1891 28 13.7307V6.26923ZM18.7543 10.5567L11.706 14.1176C11.4275 14.2677 10.4913 14.0624 10.4913 13.7465V6.44294C10.4913 6.11921 11.4352 5.91392 11.7137 6.07183L18.4603 9.81445C18.7466 9.98026 19.0406 10.3987 18.7543 10.5567Z' fill='%23FF0000'/%3E%3C/svg%3E%0A");
}
footer .footer_bottom .info_wrap{
    margin: 0 183px 0 0;
}
footer .footer_bottom .f_nav ul{
    display: flex;
    gap: 0 36px;
    flex-wrap: wrap;
}
footer .footer_bottom .f_nav ul li{
    position: relative; /* after 정렬의 기준 */
}
footer .footer_bottom .f_nav ul li::after{
    content: "";
    position: absolute;
    right: -20px;
    top: 8px;
    width: 1px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.4);
}

/* .f_nav ul li 오버했을때 */
footer .footer_bottom .f_nav ul li a:hover{
    color: #08AE42;
    border-bottom: 1px solid #08AE42;
}
/*********************************************/

footer .footer_bottom .f_nav ul li:last-child:after{
    display: none; /* 마지막 짝때기 없애기 */
}
footer .footer_bottom .f_info{
    padding: 35px 0 50px 0;
} 
footer .footer_bottom .f_info span,
footer .footer_bottom .f_info address{
    display: inline-block;
    margin: 0 13px 0 0;
}
footer .footer_bottom .copyright{
    color: rgba(255, 255, 255, 0.4);
}
@media screen and (max-width:1024px){
    footer{
        padding: 0 0 130px 0;
        background-image: none;
        background-color: #1d1d1d;
    }
    footer .footer_top{
        padding: 32px 0 22px 0;
    }
    footer .footer_top .wrapper{
        gap: 85px;
    }
    footer .footer_top .item{
        width: 50%; 
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    footer .footer_top .item h2{
        font-size: 25px;
        margin: 0 0 19px 0;
        text-align: center;
    }
    footer .footer_top .item p{
        display: none;
    }
    footer .footer_top .item a {
        display: block;
        border: 1px solid #08AE42;
        border-radius: 30px;
        color: #fff;
        padding: 37px 32px 10px 32px;
        position: relative;
    }
    footer .footer_top .item a::before{
        left: 50px;
    }
  
    footer .footer_bottom{
        padding: 49px 0 59px 0;
    }
    footer .footer_bottom .wrapper{
        display: block;
    }
    footer .footer_bottom .f_logo{
        text-align: center;
    }
    footer .footer_bottom .f_logo img{
        width: 112px; /* 높이는 안줌 */
    }
    footer .footer_bottom .sns{
        position: relative;
        right: auto;
        top: auto;
    }
    footer .footer_bottom .sns ul{
        display: flex;
        gap: 3px;
        padding: 14px 0 31px 0;
        justify-content: center;
    }
    footer .footer_bottom .sns ul li a{
        border-radius: 50%;
        padding: 0;
        width: 35px;
        height: 35px;
        position: relative; /* before 정렬의 기준 */
        color: transparent;
    }
    footer .footer_bottom .sns ul li a::before{
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-size: 17px;
    }
    footer .footer_bottom .info_wrap{
        margin: 0;
    }

    footer .footer_bottom .f_nav ul li::after{
        content: "";
        position: absolute;
        right: -20px;
        top: 8px;
        width: 1px;
        height: 10px;
        background-color: rgba(255, 255, 255, 0.4);
    }
    footer .footer_bottom .f_info{
        padding: 35px 0 40px 0;
    } 
    footer .footer_bottom .f_info span,
    footer .footer_bottom .f_info address{
        margin: 0 10px 0 0;
    }
    footer .footer_bottom .sns ul li a:hover{
        color: transparent;
    }

}/* @media */

footer .Benner1 p {
    font-family: 'dela-regular';
    position: absolute;
    left: -4px;
    bottom: 60px;
    font-size: 80px;
    color: #08AE42;
    background-color: #1d1d1d;
    white-space: nowrap;
    text-transform: uppercase;
    animation-name: Benner1;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes Benner1 {
    0% {left: 0;}
    100% {left: -1240px;}
}
@media screen and (max-width:1024px){
    footer .Benner1 p {
        display: none;
    }
}