/*모든페이지에 공통으로 들어가는 기본 스타일*/
html, body{
    font-family: "Lush_Bold","GmarketSansMedium", sans-serif;
    font-size: 17px;
    line-height: 1.5;
    color: #1d1d1d;
    word-break: keep-all; 
    word-wrap: break-word; 
    overflow-x: hidden;
}

.wrapper{
    width: 1600px; /*1600 = 160+160 320 + 1600 1920*/
    margin: 0 auto; /*가운데*/
}
#wrap{
    position: relative; /*header 정렬의 기준*/
    overflow-x: hidden;  /* 가로 스크롤바 삭제 */
    width: 100%; /* 안전빵으로 주는 편 */
}
@media screen and (max-width:1920px){  /* wrapper 가 해지되는 사이즈 */
    .wrapper{
        width: auto; 
        margin: 0 10%;
    }
}
@media screen and (max-width:768px){
    /*브라우저 넓이가 640px 이하에서만 작동 (유지하는 서식은 지움)*/
    html, body {
        font-size: 16px;
    }
}

/*글자를 숨겨야 하는 경우 blind클래스를 적용*/
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    color: transparent;
}

.txt_upper{ /* 소문자 -> 대문자로 바꾸는 서식 만든거 */
    text-transform: uppercase;
}

/* css 변수 내맘대로 커스텀 하는거*/
:root{
    --header-h: 100px; /* header의 높이 */
    --header-h-m: -100px; /* header 높이의 반대값 */
    --tit-color: #1d1d1d;
    --base-color:#FAE8EC;
    --point-color:#EB3C87;
    --bold-weight: 800;
    --tit-font-size: 2.94rem;  /* 50/ 17 = 2.94 */
    --min-font-size: 1rem;
    --line-height: 1.2;
    --font-family-G: 'GmarketSansMedium';
}
@media screen and (max-width:1024px){
    :root{
        --header-h: 90px; /* header의 높이 */
        --header-h-m: -90px;
        --tit-font-size: 2.35rem;  /* 40/ 17 = 2.35 */
    }
}
@media screen and (max-width:768px){
    :root{
        --header-h: 65px; /* header의 높이 */
        --header-h-m: -65px;
        --tit-font-size: 1.87rem;  /* 30/ 16 = 2.94 */
    }
}

/* 글자를 드레그 해서 선택 했을때 색이 변하는 수식 */
::selection {
    color: #fff;
    background-color: #1d1d1d;
}
