/*모든페이지에 공통으로 들어가는 기본 스타일*/
html, body{
    font-family: "HelveticaNeue-Bold","Pretendard", sans-serif;
    /* 앞에 쓴 서체를 적용하고 지원이 안되면 두번째 서체를 사용 */
    font-size: 17px;
    line-height: 1.5; /*배수*/
    color: #fff;
    word-break: keep-all; /* 스페이스 기준 =단어별로 줄바꿈*/
    word-wrap: break-word; 
    /*단어가 너무 긴 경우 강제로 줄바꿈을 주는 경우*/
    background-color: #000; /* 블랜딩 모드를 주기 위해 넣은거임 */
}
.wrapper{
    width: 1260px; /*1260*/
    margin: 0 auto; /*가운데*/
}
#wrap{
    /*
        1260 + 24(왼) + 24(오) = 1308 [동양생명 스타일]
        1260 + 30(왼) + 30(오) = 1320 [네이버스타일]
        1260 + 30 + 30 = 1320 을유문화사 개편 사이트 스타일 (왼쪽여백30 오른쪽여백30 최솟값)
    */
    position: relative; /*header 정렬의 기준*/
    overflow-x: hidden;  /* 가로 스크롤바 삭제 */
    width: 100%; /* 안전빵으로 주는 편 */
}
@media screen and (max-width:1386px){ 
    .wrapper{
        width: auto; 
        /* %로 넓이 조정하는 방법 width: auto;로두고
        1260 / 0.05 = 63 + 63(양싸이드) = 126 + 1260 = 1386 <--브레이크 포인트*/
        margin: 0 5%; /* 0.05 */ 
        /* 퍼센트로 주기 싫으면 원하는 넓이를 px로 주면 됨
        ex) margin: 0 24px; 일때 
        24 + 24 = 58 + 1260 = 1308 px를 넓이로 주면 됨. */
    }
}
@media screen and (max-width:768px){
    /*브라우저 넓이가 640px 이하에서만 작동 (유지하는 서식은 지움)*/
    body {
        font-size: 16px;
    }
}

/*글자를 숨겨야 하는 경우 blind클래스를 적용*/
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    color: transparent;
}

.skip_nav{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000; /* 맨위로 */
}
.skip_nav a{
    display: block;
    text-align: center;
    padding: 5px 0;
    background-color: #F0E7C6;
    color: #1d1d1d;
    font-family: 'TTHakgyoansimTtwimteulR';
    position: absolute;
    left: 0;
    top: -1000px;
    width: 100%;
}
.skip_nav a:focus{
    top: 0;
}

/* css 변수 */
:root{
    --header-h: 100px; /* header의 높이 */
    --header-h-m: -100px; /* header 높이의 반대값 */
    --tit-color: #fff;
    --base-color:#1d1d1d;
    --point-color:#ED1C24;
    --bold-weight:800;
    --tit-font-size: 2.94rem;  /* 50/ 17 = 2.94 */
    --tit-ico: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 5.95855C0 6.16898 0.0295412 6.38311 0.114475 6.58246C0.483751 7.49064 1.41064 8.04811 2.59232 7.57556C2.87666 7.46111 10.7053 4.30832 10.7053 4.30832C10.7053 4.30832 7.62186 12.1238 7.50739 12.4155C7.05687 13.5341 7.59601 14.5493 8.51551 14.8927C8.71861 14.9665 8.9291 15.0034 9.13959 14.9997C9.88553 14.9961 10.5465 14.553 10.8678 13.6744C10.9195 13.5415 14.7747 2.95712 14.8597 2.6987C14.9077 2.55103 15 2.19662 15 1.94927C15 1.42503 14.8043 0.930331 14.4313 0.55746C14.062 0.188281 13.5783 0 13.0576 0C12.8102 0 12.6034 0.0443015 12.2932 0.14398C12.1086 0.203049 2.16765 3.90222 1.31832 4.21972C0.465291 4.53721 0 5.21281 0 5.95855Z' fill='%23ED1C24'/%3E%3C/svg%3E%0A");
    --line-height: 1.2;
}
@media screen and (max-width:1024px){
    :root{
        --header-h: 65px; /* header의 높이 */
        --header-h-m: -65px;
    }
}
@media screen and (max-width:768px){
    :root{
        --tit-font-size: 1.87rem;  /* 30/ 16 = 2.94 */
    }
}

/* 글자를 드레그 해서 선택 했을때 색이 변하는 수식 */
::selection {
    color: #fff;
    background-color: #ED1C24;
}