

/* 회사소개 > CEO 인사말 페이지 css */

.ctn_ceo{
   position: relative; /* bofore 정렬의 기준 */ 
}
.ctn_ceo::before{
    content: "";
    position: absolute;
    left: 5.58em;
    top: 0;
    width: calc(100% - 11.17em); /* 100 - 5.58*2 (양쪽여백 합친거) */
    height: 23.52em;
    border-radius: 1.17em;
    background-color: #a60000;
    z-index: 0;
}
.ctn_ceo .wrapper{
    position: relative; /* photo 정렬의 기준 */
}
.ctn_ceo .ceo_tit {
    padding: 5.18em 0 0 40.71%;
    color: #fff;
}
.ctn_ceo .ceo_tit strong{
    display: block;
    color: #fff;
}
.ctn_ceo .ceo_tit h2{
    font-size: var(--tit-font-size);
    font-weight: var(--bold-weight);
    line-height: var(--line-height);
    color: #fff;
    margin: 0.32em 0 0.32em 0;
}
.ctn_ceo .ceo_tit p{
    color: #fff;
}
.ctn_ceo .photo{
    content: "";
    position: absolute;
    left: 0;
    top: 5.18em;
    width: 35.71%;
    height: 60.11%;
    border-radius: 1.17em;
    overflow: hidden;
    box-shadow: 10px 10px 10px 0 rgb(0, 0, 0, 0.25);
}
.ctn_ceo .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctn_ceo .ceo_detail{
    margin: 8.24em 0 8.2em 40.71%;
}
.ctn_ceo .ceo_detail .sign{
    display: flex;
    margin: 1.5em 0 0 0;
    gap: 2em;
    align-items: center;
}
@media screen and (max-width:1530px){ /* ceo 인삿말 빨간 박스 사이즈 깨지지 않는 해상도 사이즈 */    
            .ctn_ceo::before{
                left: 20px; 
                top: 0;
                /* 브라우저 양쪽 끝 고정 넓이 */
                width: calc(100% - 40px); /* 100 - 5.58*2 (양쪽여백 합친거) */
            }
            .ctn_ceo .wrapper{
                margin: 0 40px; /* 사진의 양 옆 여백을 미리 준것 */
            }
            .ctn_ceo .ctn_ceo{
                padding-left: 40%;
            }
            .ctn_ceo .ceo_detail{
                margin-left: 40%;
            }
            .ctn_ceo .ceo_tit h2{
                font-size: 45px;
            }
}
@media screen and (max-width:768px){
    .ctn_ceo::before{
        display: none;
    }
    .ctn_ceo .wrapper{
        margin: 0 20px; /* 사진의 양 옆 여백을 미리 준것 */
    }
    .ctn_ceo .ceo_tit{
        background-color: #A60000;
        border-radius: 0.62em;
        padding: 3.68em 1.37em 5.56em 1.18em;
    }
    .ctn_ceo .ceo_detail{
        margin-left: 42%;
    }
    .ctn_ceo .wrapper{
        position: relative; /* photo 정렬의 기준 */
    }
    .ctn_ceo .ceo_tit {
        padding: 3.68em 1.37em 5.56em 1.18em;
    }
    .ctn_ceo .ceo_tit h2{
         font-size: 30px;
         margin: 0.73em 0 0.73em 0;
    }
    .ctn_ceo .ceo_tit p{
         color: #fff;
    }
    .ctn_ceo .photo{
        position: relative;
        left: auto;
        top: auto;
        width: 100%;
        height: 30em; /* 480px */
        border-radius: 0.62em;
        box-shadow: 10px 10px 10px 0 rgb(0, 0, 0, 0.1);
        margin: 2.5em 0 2.93em 0;
    }
    .ctn_ceo .photo img{
        object-position: center top;
    }
    .ctn_ceo .ceo_detail{
        margin: 8.24em 0 8.2em 0;
    }
    .ctn_ceo .ceo_detail .sign{
        flex-direction: column;
        margin: 3.7em 0 2em 0;
    }
    .ctn_ceo p{
        font-size: 16px;
    }
}
/* ## CEO end ## ## CEO end ## ## CEO end ## ## CEO end ##*/

/* (map start)!! 찾아오시는길 > 회사소개 25.06.10 평가시험 */
.ctn_map .map{
    position: relative;
    left: calc(50% - 630px);
    width: calc(50% + 630px);
}
.ctn_map .map iframe{
    width: 100%;
    height: 41.17em; /* 700px */
    border: 0;
}
@media screen and (max-width:1386px){ /* wrapper 가 풀리는 사이즈 1386px */
    .ctn_map .map{
        left: 20px;
        width: calc(100% - 20px);
    }
}

.ctn_map .wrapper{
    position: relative;
}

.ctn_map .map_detial{
    display: flex;
    justify-content: space-between;
}

.ctn_map .map_detial .map_address h2,
.ctn_map .map_call h2,
.ctn_map .map_pbt h2{
    font-size: 1.76em;
    font-weight: var(--bold-weight);
    line-height: var(--line-height);
}
.ctn_map .map_detial .map_address{
    margin: 1em 0 3.33em 0; /* 30 0 100 0 */
}
.ctn_map .map_detial .link{
    display: flex;
}
.ctn_map .map_detial .link .map_link01,
.ctn_map .map_detial .link .map_link02{
    position: relative;
    margin: 1em 5.35em 4.41em 0;
    border: 1px solid #1d1d1d;
    padding: 0.82em 1.1em 0.82em 2.88em;
    display: block;
    border-radius: 2.35em;
    font-weight: var(--bold-weight);
}
.ctn_map .map_detial .link .map_link01::before{
    content: "";
    position: absolute;
    left: 6px;
    top: 7px;
    width: 38px;
    height: 38px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='19' cy='19' r='19' fill='%236BBC44'/%3E%3Cg clip-path='url(%23clip0_137_5)'%3E%3Cpath d='M28 10V28H21.961L16.039 18.9381V28H10V10H16.039L21.961 19.4262V10H28Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_137_5'%3E%3Crect width='18' height='18' fill='white' transform='translate(10 10)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.ctn_map .map_detial .link .map_link02::before{
    content: "";
    position: absolute;
    left: 6px;
    top: 7px;
    width: 38px;
    height: 38px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='19' cy='19' r='19' fill='%23F9E000'/%3E%3Cg clip-path='url(%23clip0_137_6)'%3E%3Cpath d='M18.5013 7.00091C23.7512 6.99727 27.9922 11.2585 28 16.5309C28.0036 18.9214 27.0307 20.9634 25.5643 22.7049C22.8901 25.8806 20.5504 29.2246 19.2729 33.2383C19.1576 33.6007 18.9858 34.0122 18.4922 33.9997C17.9552 33.986 17.8108 33.5248 17.6834 33.1344C16.4846 29.4619 14.4818 26.2891 11.9509 23.4077C10.4465 21.6949 9.24003 19.7214 9.03759 17.4032C8.54405 11.7537 12.968 6.92363 18.5013 7.00091ZM15.2725 16.6212C15.2852 18.3656 16.8062 19.8914 18.5165 19.8756C20.2415 19.8599 21.7399 18.329 21.7332 16.5897C21.7265 14.8523 20.2053 13.3284 18.4853 13.3364C16.7685 13.3443 15.2599 14.8869 15.2725 16.6212V16.6212Z' fill='%23007DFD'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_137_6'%3E%3Crect width='19' height='27' fill='white' transform='matrix(-1 0 0 1 28 7)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.map_call {
    display: flex;
    border-top: 1px solid #A60000;
    position: relative;
    padding: 65px 0 0 0;
}
.ctn_map .call_wrap ul li{
    display: flex;
    align-items: center;
    margin: 0 0 0 500px;
    gap: 42px;
}
.ctn_map .map_call .call_wrap ul li strong{
    margin: 63px 42px 65px 0;
    font-size: 25px;
    font-weight: var(--bold-weight);
}
.ctn_map .map_call .call_wrap ul li p{
    margin: 63px 42px 65px 0;
    font-weight: 400;
    font-family: 'Pretendard';
}
.ctn_map .call_wrap .call_tit{
    display: flex;
}
.ctn_map .call_wrap .call_tit strong{
    gap: 65px;
    font-size: 20px;
    font-weight: var(--bold-weight);
}
.ctn_map span{
    color: #767676;
    margin: 27px 0 67px 0 ;
}
.ctn_map .art{
    position: absolute;
    color: #242A5C;
    border: 1px solid #242A5C;
    padding: 8px 48px 8px 12px;
    border-radius: 40px;
    margin: 29px 0 67px 0;
    left: 0;
    bottom: 290px;
}
.ctn_map .art::after{
    content: "";
    position: absolute;
    right: 14px;
    bottom: 9px;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_135_562' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_135_562)'%3E%3Cpath d='M4.42247 17.0837C4.0015 17.0837 3.64518 16.9378 3.35352 16.6462C3.06185 16.3545 2.91602 15.9982 2.91602 15.5772V4.42345C2.91602 4.00248 3.06185 3.64616 3.35352 3.35449C3.64518 3.06283 4.0015 2.91699 4.42247 2.91699H9.05372C9.23109 2.91699 9.37963 2.97685 9.49935 3.09658C9.61893 3.21616 9.67872 3.36463 9.67872 3.54199C9.67872 3.71935 9.61893 3.86783 9.49935 3.98741C9.37963 4.10713 9.23109 4.16699 9.05372 4.16699H4.42247C4.35831 4.16699 4.29956 4.19373 4.24622 4.2472C4.19275 4.30053 4.16602 4.35928 4.16602 4.42345V15.5772C4.16602 15.6414 4.19275 15.7001 4.24622 15.7535C4.29956 15.8069 4.35831 15.8337 4.42247 15.8337H15.5762C15.6404 15.8337 15.6991 15.8069 15.7525 15.7535C15.8059 15.7001 15.8327 15.6414 15.8327 15.5772V10.946C15.8327 10.7686 15.8925 10.62 16.0123 10.5003C16.1318 10.3807 16.2803 10.321 16.4577 10.321C16.635 10.321 16.7835 10.3807 16.9031 10.5003C17.0228 10.62 17.0827 10.7686 17.0827 10.946V15.5772C17.0827 15.9982 16.9368 16.3545 16.6452 16.6462C16.3535 16.9378 15.9972 17.0837 15.5762 17.0837H4.42247ZM15.8327 5.04512L8.53789 12.3401C8.42247 12.4554 8.2774 12.5144 8.10268 12.5172C7.9281 12.5198 7.78039 12.4608 7.65956 12.3401C7.53886 12.2193 7.47852 12.0729 7.47852 11.901C7.47852 11.729 7.53886 11.5826 7.65956 11.4618L14.9546 4.16699H12.291C12.1137 4.16699 11.9652 4.10713 11.8456 3.98741C11.7259 3.86783 11.666 3.71935 11.666 3.54199C11.666 3.36463 11.7259 3.21616 11.8456 3.09658C11.9652 2.97685 12.1137 2.91699 12.291 2.91699H16.3294C16.5442 2.91699 16.7234 2.98887 16.8671 3.13262C17.0108 3.27623 17.0827 3.45546 17.0827 3.67032V7.70866C17.0827 7.88602 17.0228 8.03449 16.9031 8.15408C16.7835 8.2738 16.635 8.33366 16.4577 8.33366C16.2803 8.33366 16.1318 8.2738 16.0123 8.15408C15.8925 8.03449 15.8327 7.88602 15.8327 7.70866V5.04512Z' fill='%23242A5C'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.map_wrapper{
    margin: 100px 0 65px 0;
    display: flex;
    border-top: 1px solid #A60000;
}
.map_wrapper .map_pbt h2{
    margin-top: 56px;
}

.map_wrapper .pbt_wrap li{
    display: flex;
    align-items: center;
    margin: 56px 0px 22px 500px;
    gap: 20px;
}
.map_wrapper .pbt_wrap li strong{
    font-size: 25px;
    font-weight: var(--bold-weight);
}
.map_wrapper .pbt_wrap li p{
    font-weight: 400;
    font-family: 'Pretendard';
}

@media screen and (max-width:1024px){
    .ctn_map .map{
        position: relative;
        left: calc(100% - 360px);
        width: calc(100% + 360px);
    }
    .ctn_map .map iframe{
        width: 100%;
        height: 21.17em; /* 700px */
    }
            .ctn_map .map_detial .map_address h2,
            .ctn_map .map_call h2,
            .ctn_map .map_pbt h2{
                font-size: 1.5em;
                font-weight: var(--bold-weight);
                line-height: var(--line-height);
            }
            .ctn_map .map_detial .map_address{
                margin: 0.5em 0 2em 0;
            }
            .ctn_map .map_detial .link .map_link01,
            .ctn_map .map_detial .link .map_link02{
                position: relative;
                margin: 0.5em 3.35em 2.41em 0;
                border: 1px solid #1d1d1d;
            }
            .map_call {
                padding: 50px 0 0 0;
            }
            .ctn_map .call_wrap ul li{
                margin: 0 0 0 300px;
                gap: 22px;
            }
            .ctn_map .map_call .call_wrap ul li strong{
                margin: 43px 22px 45px 0;
                font-size: 20px;
            }
            .ctn_map .map_call .call_wrap ul li p{
                margin: 43px 22px 45px 0;
                font-weight: 400;
                font-family: 'Pretendard';
            }
            .ctn_map span{
                color: #767676;
                margin: 27px 0 67px 0 ;
            }
            .ctn_map .art{
                margin: 40px 0 67px 0;
                bottom: auto;
            }
            .map_wrapper{
                margin: 80px 0 65px 0;
            }
            .map_wrapper .map_pbt h2{
                margin-top: 50px;
            }
            .map_wrapper .pbt_wrap li{
                display: flex;
                align-items: center;
                margin: 56px 0px 22px 300px;
                gap: 20px;
            }
            .map_wrapper .pbt_wrap li strong{
                font-size: 20px;
                font-weight: var(--bold-weight);
            }
}
@media screen and (max-width:768px){

            .ctn_map .map_detial .map_address h2,
            .ctn_map .map_call h2,
            .ctn_map .map_pbt h2{
                font-size: 30px;
            }
            .ctn_map .map_detial .map_address h2 br{
                display: none;
            }
            .ctn_map .map_detial .map_address{
                margin: 20px 0 50px 0; /* 30 0 100 0 */
            }
            .ctn_map .map_detial .link .map_link01,
            .ctn_map .map_detial .link .map_link02{
                margin: 5em 1.35em 2.41em 0;
                border: 1px solid #1d1d1d;
                padding: 0.32em 1em 0.32em 2.88em;
            }
            .map_call {
                display: flex;
                border-top: 1px solid #A60000;
                position: relative;
                padding: 65px 0 0 0;
            }
            .ctn_map .call_wrap ul li{
                display: flex;
                align-items: center;
                margin: 0 0 0 50px;
                gap: 5px;
            }
            .ctn_map .map_call .call_wrap ul li strong{
                margin: 63px 42px 65px 0;
                font-size: 25px;
                font-weight: var(--bold-weight);
            }
            .ctn_map .map_call .call_wrap ul li p{
                margin: 63px 42px 65px 0;
                font-weight: 400;
                font-family: 'Pretendard';
            }
            .ctn_map .call_wrap .call_tit{
                display: flex;
            }
            .ctn_map .call_wrap .call_tit strong{
                gap: 65px;
                font-size: 20px;
                font-weight: var(--bold-weight);
            }
            .ctn_map span{
                color: #767676;
                margin: 27px 0 67px 0 ;
            }
            .ctn_map .art{
                position: absolute;
                color: #242A5C;
                border: 1px solid #242A5C;
                padding: 8px 48px 8px 12px;
                border-radius: 40px;
                margin: 29px 0 67px 0;
                bottom: auto;
            }
            .ctn_map .art::after{
                content: "";
                position: absolute;
                right: 14px;
                bottom: 9px;
                width: 24px;
                height: 24px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_135_562' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_135_562)'%3E%3Cpath d='M4.42247 17.0837C4.0015 17.0837 3.64518 16.9378 3.35352 16.6462C3.06185 16.3545 2.91602 15.9982 2.91602 15.5772V4.42345C2.91602 4.00248 3.06185 3.64616 3.35352 3.35449C3.64518 3.06283 4.0015 2.91699 4.42247 2.91699H9.05372C9.23109 2.91699 9.37963 2.97685 9.49935 3.09658C9.61893 3.21616 9.67872 3.36463 9.67872 3.54199C9.67872 3.71935 9.61893 3.86783 9.49935 3.98741C9.37963 4.10713 9.23109 4.16699 9.05372 4.16699H4.42247C4.35831 4.16699 4.29956 4.19373 4.24622 4.2472C4.19275 4.30053 4.16602 4.35928 4.16602 4.42345V15.5772C4.16602 15.6414 4.19275 15.7001 4.24622 15.7535C4.29956 15.8069 4.35831 15.8337 4.42247 15.8337H15.5762C15.6404 15.8337 15.6991 15.8069 15.7525 15.7535C15.8059 15.7001 15.8327 15.6414 15.8327 15.5772V10.946C15.8327 10.7686 15.8925 10.62 16.0123 10.5003C16.1318 10.3807 16.2803 10.321 16.4577 10.321C16.635 10.321 16.7835 10.3807 16.9031 10.5003C17.0228 10.62 17.0827 10.7686 17.0827 10.946V15.5772C17.0827 15.9982 16.9368 16.3545 16.6452 16.6462C16.3535 16.9378 15.9972 17.0837 15.5762 17.0837H4.42247ZM15.8327 5.04512L8.53789 12.3401C8.42247 12.4554 8.2774 12.5144 8.10268 12.5172C7.9281 12.5198 7.78039 12.4608 7.65956 12.3401C7.53886 12.2193 7.47852 12.0729 7.47852 11.901C7.47852 11.729 7.53886 11.5826 7.65956 11.4618L14.9546 4.16699H12.291C12.1137 4.16699 11.9652 4.10713 11.8456 3.98741C11.7259 3.86783 11.666 3.71935 11.666 3.54199C11.666 3.36463 11.7259 3.21616 11.8456 3.09658C11.9652 2.97685 12.1137 2.91699 12.291 2.91699H16.3294C16.5442 2.91699 16.7234 2.98887 16.8671 3.13262C17.0108 3.27623 17.0827 3.45546 17.0827 3.67032V7.70866C17.0827 7.88602 17.0228 8.03449 16.9031 8.15408C16.7835 8.2738 16.635 8.33366 16.4577 8.33366C16.2803 8.33366 16.1318 8.2738 16.0123 8.15408C15.8925 8.03449 15.8327 7.88602 15.8327 7.70866V5.04512Z' fill='%23242A5C'/%3E%3C/g%3E%3C/svg%3E%0A");
            }

            .map_wrapper{
                margin: 100px 0 65px 0;
                display: flex;
                border-top: 1px solid #A60000;
            }
            .map_wrapper .map_pbt h2{
                margin-top: 56px;
            }

            .map_wrapper .pbt_wrap li{
                display: flex;
                align-items: center;
                margin: 56px 0px 22px 50px;
                gap: 20px;
            }
            .map_wrapper .pbt_wrap li strong{
                font-size: 25px;
                font-weight: var(--bold-weight);
            }
            .map_wrapper .pbt_wrap li p{
                font-weight: 400;
                font-family: 'Pretendard';
            }
}
/** ## map end ## ## map end ## ## map end ## ## map end ## **/

/* (history start!!)연혁 > 회사소개 ###### */
.ctn_history{
    margin: 0 0 13.52em 0; /* 하단 여백 230px */
    font-family: 'Pretendard';
}
.ctn_history .his_tit{
    margin: 2.35em 0 3.23em 0; /* 상단에 내가 준 여백 40px 하단 55*/
    text-align: center;
    align-items: center;
}
.ctn_history .his_tit h2{
    color: #A60000;
    margin: 0 0 0.58em 0; /* 0 0 10px 0 */
}
.ctn_history .his_tit strong{
    font-size: 2.64rem; /* 45px */
    line-height: var(--line-height);
    font-weight: var(--bold-weight);
}
.ctn_history .his_photo .photo{
    overflow: hidden;
    height: 20.58em; /* 350px */

/* his_photo active ( 사진이 커지는 애니메이션 넣기 위한 값을 주기 위해 ) */

    width: 30%; /* 퍼센트로 주는것이 좋음 */
    margin: 0 auto; /* 사진을 가운데로 보내기위한 여백값 */
    transition: 0.5s;
}
.ctn_history .his_photo.active .photo{
    width: 100%;
}/* his_photo active 애니메이션값 끝 */

.ctn_history .his_photo .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctn_history .his_year_group{
    margin: 8.82em 0 10.17em 0; /* 150 0 173 0 */
    display: flex;
    justify-content: space-between;
    /* gap: 50px; */
}
.ctn_history .his_year_group.reverse{ /* 반대 방향인애들 */
    flex-direction: row-reverse; /* 가로 반전 */
}

.ctn_history .his_year_group .year_tit{ 
    max-width: 23.76em; /* 사진의 높이 404px */
    width: 35%;
}
.ctn_history .his_year_group .year_cont{
    max-width: 37.11em; /* 짝때기 부터 wrapper까지의 넓이 631px */
    width: 55%;
    /* margin: 47px 0 0 0; 상단에 여백이 좌우 글자가있는 높이가 다를 경우 주면됨.*/
    padding: 0 0 0 89px;
    /* border-left: 2px solid #D9D9D9; 이것을 풀어주면 밑에처럼 됨*/
    border-width: 0 0 0 2px;
    border-style: solid;
    border-color: #ededed;
    position: relative; /* before,after 정렬의 기준 */
}
.ctn_history .his_year_group .year_cont::before{
    content: "";
    position: absolute;
    left: -2px; /* 선의 두께 만큼 밖으로 나가야됨 */
    top: 0;
    width: 2px; /* 선의 두께 border 두께 */
    height: 21px; /* 동그라미 안에 숨을때까지 높이를 줌 */
    background-color: #fff;
}

.ctn_history .his_year_group .year_tit h3{
    font-size: 60px;
    font-weight: var(--bold-weight);
    line-height: var(--line-height);
}
.ctn_history .his_year_group .year_tit p{
    color: #3d3d3d;
    margin: 1.76em 0 2.47em 0; /* 30px 0 42px 0 */
}
.ctn_history .his_year_group .year_tit .photo{
    overflow: hidden;
    border-radius: 1.17em; /* 20px */
    height: 27.70em; /* 사진의 높이 471px */
}
.ctn_history .his_year_group .year_tit .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctn_history .his_year_group .year_cont h4{
    font-size: 25px;
    font-weight: var(--bold-weight);
    /* margin: 2em 0 0.56em 0; /* 50 0 14 0 */
    color: #A60000;
    margin: 0 0 14px 0;
    position: relative; /* before정렬의 기준 */
}
.ctn_history .his_year_group .year_cont h4::before{
    content: "";
    position: absolute;
    left: -95px;
    top: 12px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #A60000;
    z-index: 10;
}
.ctn_history .his_year_group .year_cont ul + h4{ /* 인접형제선택자 */
    margin-top: 50px;
}

.ctn_history .his_year_group .year_cont > *:last-child{
    position: relative;
}
.ctn_history .his_year_group .year_cont > *:last-child::before{
    content: "";
    position: absolute;
    left: -5.35em;
    bottom: -15px; /* ???*/
    width: 2px; /* 선의 두께 와 동일하게 하던 더 크게 하던*/
    height: calc(133%);
    background-color: #fff;
}
.ctn_history .his_year_group .year_cont ul li{ 
    /* 하단 여백이 중첩 되어버림 */
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}
.ctn_history .his_year_group .year_cont ul li strong{
    display: block;
    color: #3d3d3d;
    font-weight: var(--bold-weight);
}
.ctn_history .his_year_group .year_cont ul li span{
    display: block;
    /* 100% - 112px strong 태그 에서 span 가기전 까지의 넓이 112px를 빼줌*/
    width: calc(100% - 6.58em);
}
.ctn_history .his_nav{
    /* position: fixed; 무조건 body를 기준으로 정렬 하게됨. 그럼 body안에서 고정되서 움직여도 그 자리에 있음 */
    position: fixed; /* stiky는 overflow:hidden 이 있으면 때려죽어도 안됨. */
    left: 50%;
    transform: translateX(-50%);
    bottom: -5em; /* 자연스럽게 아래에서 올라오게 하기 위해 -85px*/
    z-index: 99; /* header 바로 아랫값 */
    max-width: 1260px; /* wrapper 싸이즈 */
    width: calc(100% - 20px);
    background-color: #F4F4F4;
    border-radius: 2.94em; /* 50px */
    padding: 0.82em 3.82em; /* 미리 상하 좌우 여백을 줘야 됨 14px 65px*/
    transition: 0.5s;
}
.ctn_history .his_nav.active{
    bottom: 1.17em; /* 20 */
}
.ctn_history .his_nav ul{
    display: flex;
    overflow-y: hidden; /* 가로 스크롤바 삭제 ( 가로 스크롤바가 생기면 위아래 스크롤바가 생기기 때문 ) */
    overflow-x: auto; /* 넘치면 세로 스크롤바 생기도록 하기 위해 auto */
}
.ctn_history .his_nav ul li{
    width: 25%; /* 4개의 버튼이 있으니까 4/1 */ 
}
.ctn_history .his_nav ul li button{
    display: block;
    text-align: center;
    align-items: center;
    /* button태그는 display:block;을 줘도 꽉차게 안들어가고 글자 크기만큼만 들어감.
    (내가 준 여백 안들어감.) 그래서 넓이를 100%로 채워줘야 됨. */
    width: 90%; 
    margin: 0 5%; 
    font-size: 1.17rem; /*20*/
    font-weight: var(--bold-weight);
    padding: 0.47em 1.76em 0.47em 1.76em; /* 8 0(최소30) 8 0(최소30) 최소값 미리주기*/ 
    border-radius: 1.76em; /* 30 */
    white-space: nowrap; /* 줄바꿈 금지!!!(모바일에서 두줄되는것 방지하기 위해) */
}
.ctn_history .his_nav ul li.active button{
    background-color: #A60000;
    color: #fff;
}

@media screen and (min-width:769px){ /* revers(반전되는것만) pc 버전*/
    /* ########### 좌우반대 reverse의 경우 ############*/
    .ctn_history .his_year_group.reverse{ /* 반대 방향인애들 */
        flex-direction: row-reverse; /* 가로 반전 */
    }
    .ctn_history .his_year_group.reverse .year_cont h4::before{
        left: auto; /* auto를 안주면 동시에 적용되서 적용이 안됨 */
        right: -95px;
    }
    .ctn_history .his_year_group.reverse .year_cont{
        text-align: right;
        padding-right: 89px;
        padding-left: 0;
        border-width: 0 2px 0 0;
    }
    .ctn_history .his_year_group.reverse .year_cont ul li{
        flex-direction: row-reverse; /* 좌우반전 */
    }
    .ctn_history .his_year_group.reverse .year_cont::before{
        left: auto;
        right: -2px;/* 반대 방향으로 줌 */
    }
    .ctn_history .his_year_group.reverse .year_cont > *:last-child::before{
        left: auto;
        right: -5.35em;
    }
    .ctn_history .his_year_group.reverse .year_cont.last > ul:last-child::before{ 
        /* 마지막꺼 길이가 안들어가서 내가 임의로 이름 주고 만든거 */
        left: auto;
        right: -5.35em; /* 위에 left 값이랑 동일 하게 주면 됨  */
        bottom: -14.41em; /* -245 */
        height: calc(1200%);
    }
}/* media reverse pc버전 */

@media screen and (max-width:768px){
                .ctn_history{
                    margin: 0 0 8.68em 0; /* 하단 여백 139px */
                }
                .ctn_history .his_tit{
                    margin: 1.25em 0 2.81em 0; /* 상단에 내가 준 여백 20px 하단 45*/
                }
                .ctn_history .his_tit h2{
                    margin: 0 0 0.43em 0; /* 0 0 7px 0 */
                }
                .ctn_history .his_tit strong{
                    font-size: 1.87rem; /* 30px */
                }
                .ctn_history .his_photo .photo{
                    height: 8.75em; /* 140px */
                }
                .ctn_history .his_year_group{
                    margin: 6.75em 0 6.75em 0; /* 108 0 108 0 */
                    display: block; /* 위아래로 들어갈것이기 때문에 flex 해제 */
                    /* gap: 50px; */
                }
                .ctn_history .his_year_group .year_cont{
                    max-width: 19.56em; /* 짝때기 부터 wrapper까지의 넓이 313 */
                    width: auto; /*!!*/
                    /* margin: 47px 0 0 0; 상단에 여백이 좌우 글자가있는 높이가 다를 경우 주면됨.*/
                    padding: 45px 0 0 30px; 
                }
                .ctn_history .his_year_group .year_cont::before{
                    content: "";
                    position: absolute;
                    left: -2px;
                    top: 0;
                    width: 2px;
                    height: 63px; /* 동그라미 안에 숨을때까지 높이를 줌 */
                    background-color: #fff; /*????????????????????????????????????*/
                }
                
                .ctn_history .his_year_group .year_tit h3{
                    font-size: 1.87rem; /* 30px */
                }
                .ctn_history .his_year_group .year_tit br,
                .ctn_history .his_year_group.reverse .year_tit br{
                    display: none;
                }
                .ctn_history .his_year_group .year_tit .photo{ 
                    display: none; /* 사진 안나옴 */
                }
                .ctn_history .his_year_group .year_tit p{
                    display: none;
                }
                .ctn_history .his_year_group .year_cont h4::before{
                    left: -36px;
                }
                .ctn_history .his_year_group .year_cont ul + h4{ /* 인접형제선택자 */
                    margin-top: 25px;
                }
                .ctn_history .his_year_group .year_cont > *:last-child::before{
                    left: -2em;
                    bottom: -0.05em;
                    height: calc(114%);
                    background-color: #fff;
                }
                .ctn_history .his_year_group .year_cont ul li{ 
                    /* 하단 여백이 중첩 되어버림 */
                    display: flex;
                    justify-content: space-between;
                    margin: 15px 0;
                }
                .ctn_history .his_year_group .year_cont ul li strong{
                    display: block;
                    color: #3d3d3d;
                    font-weight: var(--bold-weight);
                }
                .ctn_history .his_year_group .year_cont ul li span{
                    display: block;
                    /* 100% - 112px strong 태그 에서 span 가기전 까지의 넓이 112px를 빼줌*/
                    width: calc(100% - 6.58em);
                }
                .ctn_history .his_year_group.reverse .year_cont.last > ul:last-child::before{ 
                    /* 마지막꺼 길이가 안들어가서 내가 임의로 이름 주고 만든거 */
                    left: -32px;
                    bottom: 0px;
                    height: calc(266%);
                    background-color: #fff;
                }
                /* 하단의 nav 태그  */
                .ctn_history .his_nav{
                    padding: 0.75em 3.25em; /* 미리 상하 좌우 여백을 줘야 됨 12px 52px*/
                }
                .ctn_history .his_nav ul::-webkit-scrollbar{ 
                    /* 가로스크롤바 완전히 삭제 하는 방법 */
                    display: none;        
                }
                .ctn_history .his_nav ul li{
                    width: auto;
                }
                .ctn_history .his_nav ul li button{
                    width: 100%; 
                    margin: 0; 
                    font-size: 1rem; /*16*/
                }    
}

/*######## 재무정보 > IR > 금호건설 table 코딩 #########*/
.contents{
    min-height: 20em;
}
.contents .table_wrap table{
    /* 테이블은 콘텐츠 만큼 넓이를 주지 않으면 꽉차게 나오지 않음 */
    width: 100%;
    border-collapse: collapse; /* 칸 에준 border값을 적용시키기 위한 값 */
    border-top: 2px solid #A60000;
}
/* caption은 시각장애인에게 설명하기 위해 웹접근성 상 표기 하는 것이기때문에
   안보이게 없앨것임 */
.contents .table_wrap table caption{
    display: none;
}
/* ↓모든 칸의 기본 요소. 필요한 공통요소가 있다면 여기에 넣으면 됨.!!! */
.contents .table_wrap table th,
.contents .table_wrap table td{
    border: 1px solid rgba(166, 0, 0, 0.3);
    padding: 0.94em 1.41em; /* 표 블럭 하나의 최소의 여백. 16 75*/
    font-family: 'Pretendard';
    text-align: center;
}
/*** 상단의 제목칸 ↓ ***/
.contents .table_wrap table thead th,
.contents .table_wrap table thead td{
    background-color: rgba(166, 0, 0, 0.2);
    font-size: 20px;
    font-weight: var(--bold-weight);
}
/* 표의 양옆 사이드 줄 없애는 방법 ↓ */

/* td,th중에 먼저 오는것이 어떤게 될지 모르니까 혹시몰라 
둘다 first-child, last-child를 적용시키는것임*/
.contents .table_wrap table th:first-child, 
.contents .table_wrap table td:first-child{
    border-left-width: 0;
}
.contents .table_wrap table th:last-child, 
.contents .table_wrap table td:last-child{
    border-right-width: 0;
}
/**************************************/
.contents .table_wrap table tbody td{
    color: #666666;
}

@media screen and (max-width:768px){
    .contents .table_wrap{
        overflow-x: auto;
        overflow-y: hidden;
    }
    .contents .table_wrap table{
        min-width: 700px; /* 찌그러지는거 방지 하기 위해 */
    }
    /* ↓모든 칸의 기본 요소. 필요한 공통요소가 있다면 여기에 넣으면 됨.!!! */
    .contents .table_wrap table th,
    .contents .table_wrap table td{
        padding: 0.64em 1em; 
    }
    .contents .table_wrap table thead th,
    .contents .table_wrap table thead td{
        font-size: 17px;
    }
}/* media */


/*######## 상담신청 > 금호뉴스 > 홍보센터 ##########*/
.ctn_notice{
    margin: 8.82em 0 6.47em 0; /* 150 0 110 0 */
}
.ctn_notice h2{
    font-size: 30px;
    font-weight: var(--bold-weight);
    color: #1d1d1d;
    line-height: var(--line-height);
    margin-bottom: 44px;
}
.ctn_notice h2{
    font-family: 'Pretendard';
}
.ctn_notice .agree_box{
    border: 2px solid #A60000;
    padding: 2.11em 2.23em; /* 36 38 */
    height: 16.17em; /* 275 */
    overflow-x: hidden;
    overflow-y: auto;
    word-break: normal;
}
.ctn_notice .agree_chk{
    margin: 40px 0 171px 0; /* 40 0 171 0 */
    display: flex;
    justify-content: center;
    gap: 2.35em; /* 40 */
}
.ctn_notice .agree_chk .item input[type="radio"]{ /* 라디오 체크박스 삭제 */
    display: none;
}
.ctn_notice .agree_chk .item label{
    position: relative; /* before 정렬의 기준 */
    padding-left: 0.76em; /* 13px */
    cursor: pointer; /* 마우스 포인터 손바닥으로 바꾸는것 */
}
.ctn_notice .agree_chk .item label::before{
    content: "";
    position: absolute;
    left: -16px;
    top: -1px;
    width: 1em; /*17*/
    height: 1em; /*17*/
    border: 1px solid #1d1d1d;
    border-radius: 50%;
}
/* 라디오 체그박스를 선택한 경우...label을 */
.ctn_notice .agree_chk .item input[type="radio"]:checked + label::before{
    border-color: #A60000;
    background-color: #A60000;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_196_137' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='10' height='10'%3E%3Crect width='10' height='10' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_196_137)'%3E%3Cpath d='M3.97872 6.3125L7.50997 2.78125C7.59331 2.69792 7.69053 2.65625 7.80164 2.65625C7.91275 2.65625 8.00997 2.69792 8.09331 2.78125C8.17664 2.86458 8.21831 2.96354 8.21831 3.07813C8.21831 3.19271 8.17664 3.29167 8.09331 3.375L4.27039 7.20833C4.18706 7.29167 4.08984 7.33333 3.97872 7.33333C3.86761 7.33333 3.77039 7.29167 3.68706 7.20833L1.89539 5.41667C1.81206 5.33333 1.77213 5.23437 1.7756 5.11979C1.77907 5.00521 1.82247 4.90625 1.90581 4.82292C1.98914 4.73958 2.0881 4.69792 2.20268 4.69792C2.31727 4.69792 2.41622 4.73958 2.49956 4.82292L3.97872 6.3125Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.ctn_notice .regist{
    border-top: 2px solid #A60000;
}
.ctn_notice .regist .item{
    border-bottom: 1px solid rgba(166, 0, 0, 0.4);
    display: flex;
    gap: 1.41em; /* 24px */
}
.ctn_notice .regist .item label{
    max-width: 14.85em; /* 297 */
    width: 25%;
    font-size: 1.17em; /* 20 */
    font-weight: var(--bold-weight);
    text-align: center;
    background-color: rgba(166, 0, 0, 0.2);
    padding: 1.5em 0 0 0;
}
.ctn_notice .regist .item select,
.ctn_notice .regist .item input,
.ctn_notice .regist .item textarea{
    margin: 1.5em 0; /* 30 */
    border: 1px solid #A60000;
    border-radius: 0.25em; /* 5 */
    min-width: 2.4em; /* 상자의 최소높이 48 */
    padding: 0.4em 1em; /* 상자안의 글자가쓸때 잘 보이게 여백 조금 줌 */
}
.ctn_notice .regist .item .w100{
    min-width: calc(100% - 20.23em);
    width: calc(75% - 1em);
}
.ctn_notice .regist .item .w70{
    max-width: 41.29em; /* 702 */
    width: calc(75% - 1em);
}
.ctn_notice .regist .item textarea{
    resize: none; /* 상자 늘어나는거 막기 위해서 */
}
.ctn_notice .regist .item input::placeholder{
    color: rgba(166, 0, 0, 0.6);
}
.ctn_notice .btn_wrap{
    margin: 25px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.ctn_notice .btn_wrap .cancel,
.ctn_notice .btn_wrap .ok{
    width: 190px;
    height: 52px;
    text-align: center;
    font-size: 20px;
    font-weight: var(--bold-weight);
    padding-top: 12px;
    line-height: calc(52px - 12px);
}
.ctn_notice .btn_wrap .cancel{
    background-color: #ddd;
}
.ctn_notice .btn_wrap .ok{
    background-color: #A60000;
    color: #fff;
}
@media screen and (max-width:768px){
    .ctn_notice{
        margin: 3em 0 6.5em 0; /* 48 0 104 0 */
    }
    .ctn_notice h2{
        font-size: 1.56rem; /* 25 */
        margin-bottom: 1.2em; /* 30 */
    }
    .ctn_notice .agree_box{
        padding: 2.11em 2.23em; /* 30 20 */
        height: 16.17em; /* 275 */
        overflow-x: hidden;
        overflow-y: auto;
    }
    .ctn_notice .agree_chk{
        margin: 1.87em 0 1.25em 0; /* 40 0 171 0 */
    }
    .ctn_notice .regist .item{
        border-bottom: 0;
        display: block;
    }
    .ctn_notice .regist .item label{
        max-width: none;
        width: auto;
        padding: 1em 0 0.67em 0;
        background-color: transparent;
        text-align: left;
        display: block;
    }
    .ctn_notice .regist .item select,
    .ctn_notice .regist .item input,
    .ctn_notice .regist .item textarea{
        margin: 0; 
        min-width: 2em; /* 상자의 최소높이 48 */
    }
    .ctn_notice .regist .item .w100{
        min-width: calc(100% - 20.23em);
        width: calc(75% - 1em);
    }
    .ctn_notice .regist .item .w70{
        max-width: 41.29em; /* 702 */
        width: calc(75% - 1em);
    }
    .ctn_notice .regist .item textarea{
        resize: none; /* 상자 늘어나는거 막기 위해서 */
    }
    .ctn_notice .regist .item input::placeholder{
        color: rgba(166, 0, 0, 0.6);
    }
    .ctn_notice .btn_wrap{
        margin: 20px 0 0 0;
        display: flex;
        justify-content: space-between;
    }
    .ctn_notice .btn_wrap .cancel,
    .ctn_notice .btn_wrap .ok{
        width: 152px;
        height: 39px;
        font-size: 16px;
        padding-top: 9px;
        line-height: calc(39px - 9px);
    }
    .ctn_notice .btn_wrap .cancel{
        background-color: #ddd;
    }
    .ctn_notice .btn_wrap .ok{
        background-color: #A60000;
        color: #fff;
    }
}/* media */