/*웹 폰드를 선언*/
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(../font/Pretendard-Bold.woff2) format('woff2'), url(../font/Pretendard-Bold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../font/Pretendard-Regular.woff2) format('woff2'), url(../font/Pretendard-Regular.woff) format('woff');
}

@font-face{
    font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../font/Pretendard-Regular.woff2) format('woff2'), url(../font/Pretendard-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Special Gothic Expanded One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/specialgothicexpandedone/v2/IurO6Zxk74-YaYk1r3HOet4g75ENmBxUmOK61tA0Iu5QlpF_GhU.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
.special-gothic-expanded-one-regular {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'HelveticaNeue-Bold';
    font-weight: 800;
    font-style: normal;
	src: local('HelveticaNeue-Bold'), url(../font/HelveticaNeue-Bold.woff2) format('woff2')
}
@font-face{
    font-family: 'HelveticaNeue';
    font-weight: 400;
    font-style: normal;
	src: local('HelveticaNeue-Medium'), url(../font/HelveticaNeue-Medium.woff2) format('woff2')
}
@font-face {
    font-family: "PP Editorial Old";
    font-weight: 400;
    font-style: normal;
	src: local('PP Editorial Old'), url(../font/PP\ Editorial\ Old.woff2) format('woff2')
}