@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css); /* header와 footer 같이 모든 페이지 공통사항 저장 */


.visual{
    position: relative; /* ctrl_wrap,scroll_down정렬의 기준 */
}
.visual .swiper-slide .photo{
    overflow: hidden;
    height: 100dvh; /* 모바일까지 고려한 브라우저 높이 100% */
    min-height: 29.41em; /* 최소 높이 */
}
.visual .swiper-slide .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 배경 이미지 확대 fade in */
    transition: 1.5s;
}
.visual .swiper-slide .txt{
    overflow: hidden;
}
.visual .swiper-slide .txt_wrap .txt.mobile{
    display: none;
}
.visual .swiper-slide.swiper-slide-active .photo img{
    /* 배경 이미지 확대 fade in 확대 값 주는법 */
    transform: scale3d(1.2, 1.2, 1); /* 1.2배 1.2배 마지막값 1 */
}
.visual .swiper-slide .txt_wrap{
    position: absolute; /* swiper-slide을 기준으로 정렬 */
    left: 0;
    bottom: 38%; /* 380px / 100 */
    width: 100%;
    text-align: center;
}
.visual .swiper-slide .txt_wrap h3{
    color: #ED1C24;
    font-size: 1.76rem; /* 30px / 17 =  */
    line-height: var(--line-height); /* 행간을 1로 줘서 없애버리면 짤리는 느낌을 더 강조해서 줄 수 있음 */
    font-family: 'Special Gothic Expanded One';
    text-transform: uppercase;
    /* 제목 글자가 위로 올라오는 애니메이션을 주기 위한 조건 */
    white-space: nowrap; /* 1줄로 표현 */
    transform: translateY(100%);
    /* 100% -> 0%으로 애니메이션 */
    transition: 0.5s;
    transition-delay: 0.5s;
    /*animation-name: visual_txt;
    animation-duration: 0.5s;
    animation-iteration-count: 1;*/
}
.visual .swiper-slide .txt_wrap .txt p{
    font-size: 2.94rem; /*50px / 17 = */
    line-height: var(--line-height);
    font-family: 'Special Gothic Expanded One';
    text-transform: uppercase;
    /* 제목 글자가 위로 올라오는 애니메이션을 주기 위한 조건 */
    white-space: nowrap; /* 1줄로 표현 */
    transform: translateY(100%);
    /* 100% -> 0%으로 애니메이션 */
    transition: 0.5s;
    transition-delay: 0.5s;
    /*animation-name: visual_txt;
    animation-duration: 0.5s;
    animation-iteration-count: 1;*/
}
.visual .swiper-slide .txt_wrap .txt.delay1 p{
    transition-delay: 1s;
}
.visual .swiper-slide .txt_wrap .txt.delay2 p{
    transition-delay: 1.2s;
}
.visual .swiper-slide .txt_wrap .txt.delay3 p{
    transition-delay: 1.4s;
}

.visual .swiper-slide.swiper-slide-active .txt_wrap .txt p,
.visual .swiper-slide.swiper-slide-active .txt_wrap h3{
    transform: translateY(0);
   /*animation-name: visual_txt;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;*/
}
@keyframes visual_txt {
    0%{ transform: translateY(100%); }
    100%{ transform: translateY(0); }
}/* keyframes */


.visual .ctrl_wrap{
    position: absolute; /* visual을 기준으로 기준 */
    left: 46.5%;
    /*left: calc(50% - 630px); (( 50% - 1260/2 ))왼쪽으로 가는법
      right: calc(50% - 630px); 오른쪽으로 가는법*/
    bottom: 23.4%;
    z-index: 10;
    display: flex;
    gap: 10px;
}
.visual .ctrl_wrap button{
    border: 1px solid #fff;
    border-left: 1px solid #fff;
    width: 1.76em;/* 30/ 17 = 1.76rem */
    height: 1.76em;/* 30/ 17 = 1.76rem */
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .ctrl_wrap button:first-child{
    border-left: 1px solid #fff;
}
.visual .ctrl_wrap button.btn_prev{
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_39_210' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='23' height='23'%3E%3Crect x='22.5' y='22.5' width='22.5' height='22.5' transform='rotate(180 22.5 22.5)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_39_210)'%3E%3Cpath d='M16.8281 4.6875L12.1406 11.25L16.8281 17.8125L14.5312 17.8125L9.84375 11.25L14.5312 4.6875L16.8281 4.6875ZM11.25 4.6875L6.5625 11.25L11.25 17.8125L8.95312 17.8125L4.26562 11.25L8.95312 4.6875L11.25 4.6875Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap button.btn_next{
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_39_215' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='23' height='23'%3E%3Crect width='22.5' height='22.5' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_39_215)'%3E%3Cpath d='M5.67187 17.8125L10.3594 11.25L5.67188 4.6875L7.96875 4.6875L12.6562 11.25L7.96875 17.8125L5.67187 17.8125ZM11.25 17.8125L15.9375 11.25L11.25 4.6875L13.5469 4.6875L18.2344 11.25L13.5469 17.8125L11.25 17.8125Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap button.btn_stop{
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_39_204' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect x='0.75' y='0.75' width='22.5' height='22.5' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_39_204)'%3E%3Cpath d='M13.875 18.5625V5.4375H17.625V18.5625H13.875ZM6.375 18.5625V5.4375H10.125V18.5625H6.375Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap button.btn_play{
    display: none; /* 숨김 */
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_39_232' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect x='0.75' y='0.75' width='22.5' height='22.5' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_39_232)'%3E%3Cpath d='M8.25 18.5625V5.4375L18.5625 12L8.25 18.5625Z' fill='%23A60000'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .scroll_down{
    position: absolute; /* visual을 기준으로 정렬 */
    mix-blend-mode: difference; /* 색 반전 표현 방법 */
    left: 49.5%;
    bottom: 5.9%;
    z-index: 10;
    transform: translateX(-50%);
}
.visual .scroll_down::after{
    content: "";
    position: absolute;
    right: 3.17em;/* 54/17 */
    top: 2.23em; /* 38/17 */
    width: 1.41em; /* 24/17 */
    height: 1.41em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_39_200' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect x='24' width='24' height='24' transform='rotate(90 24 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_39_200)'%3E%3Cpath d='M19.15 5L4.85 5C5.13333 4.71667 5.43333 4.45 5.75 4.2C6.06667 3.95 6.39167 3.71667 6.725 3.5L17.275 3.5C17.6083 3.71667 17.9333 3.95 18.25 4.2C18.5667 4.45 18.8667 4.71667 19.15 5ZM21.55 9L2.45 9C2.56667 8.65 2.69583 8.30833 2.8375 7.975C2.97917 7.64167 3.14167 7.31667 3.325 7L20.675 7C20.8583 7.31667 21.0208 7.64167 21.1625 7.975C21.3042 8.30833 21.4333 8.65 21.55 9ZM2.825 16L21.175 16C20.3917 17.7667 19.1833 19.2083 17.55 20.325C15.9167 21.4417 14.0667 22 12 22C9.93333 22 8.08333 21.4417 6.45 20.325C4.81666 19.2083 3.60833 17.7667 2.825 16ZM2 12C2 11.8333 2.00417 11.6667 2.0125 11.5C2.02083 11.3333 2.03333 11.1667 2.05 11L21.95 11C21.9667 11.1667 21.9792 11.3333 21.9875 11.5C21.9958 11.6667 22 11.8333 22 12C22 12.3333 21.9833 12.6667 21.95 13C21.9167 13.3333 21.8667 13.6667 21.8 14L2.2 14C2.13333 13.6667 2.08333 13.3333 2.05 13C2.01667 12.6667 2 12.3333 2 12Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");

    animation-name: scroll_down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
@keyframes scroll_down {
    0%{top: 2.23em}
    50%{top: 3em}
    100%{top: 2.23em}
}

@media screen and (max-width:1024px){
    .visual .swiper-slide .txt_wrap{
        position: absolute; /* swiper-slide을 기준으로 정렬 */
        left: 0;
        bottom: 38%; /* 380px / 100 */
        width: 100%;
        text-align: center;
    }
    .visual .swiper-slide .txt_wrap .txt.mobile{
        display: block;
    }
    .visual .swiper-slide .txt_wrap .txt.pc{
        display: none;
    }
    .visual .swiper-slide .txt_wrap .txt p{
        font-size: 1.76rem; /*30px / 17 = */
        text-align: left;
    }
    .visual .swiper-slide .txt_wrap h3{
        font-size: 1rem; /* 17px / 17 =  */
        text-align: left;
        margin: 0 0 10px 0;
    }
    .visual .ctrl_wrap{
        left: 5%;
    }
}/* 1024 media */

@media screen and (max-width:768px){
                .visual .swiper-slide .txt_wrap .txt.mobile{
                    display: block;
                }
                .visual .swiper-slide .txt_wrap .txt.pc{
                    display: none;
                }
                .visual .swiper-slide.swiper-slide-active .photo img{
                    /* 배경 이미지 확대 fade in 확대 값 주는법 */
                    transform: scale3d(1.2, 1.2, 1); /* 1로 주면 애니메이션 삭제 */
                }
                .visual .swiper-slide .txt_wrap{
                    bottom: 24.11%; /* 217px / 900 * 100 */
                }
                .visual .swiper-slide .txt_wrap h3{
                    font-size: 1rem; /* 16px / 16 =  */
                }
                .visual .swiper-slide .txt_wrap .txt p{
                    font-size: 1.87rem; /*30px / 16 = */
                }
                .visual .ctrl_wrap{
                    left: 5.5%;
                    bottom: 19.4%;
                }
                .visual .ctrl_wrap button.btn_prev{
                    display: none;
                }
                .visual .ctrl_wrap button.btn_next{
                    display: none;
                }
                .visual .scroll_down{
                    position: absolute; /* visual을 기준으로 정렬 */
                    mix-blend-mode: difference; /* 색 반전 표현 방법 */
                    font-size: 16px;
                    left: 49.5%;
                    bottom: 5.9%;
                    z-index: 10;
                    transform: translateX(-50%);
                }
                .visual .scroll_down::after{
                    right: 3.37em;/* 54/16 */
                    top: 2.37em; /* 38/16 */
                    width: 1.25em; /* 20/16 */
                    height: 1.25em;
                }
}
/*tit 제목의 공통 스타일*/
section .tit{
    margin: 3.36em 0 1.6em 0 ; /* 168/50=3.36em 현재 글자 크기를 1em으로 바라보기 때문에*/
    font-size: var(--tit-font-size); /* 50/17 */
    font-weight: var(--bold-weight);
}
section .tit h2{
    margin: 0 0 30px 0;
}
section .tit strong{
    font-size: 1rem; /* 미리 셋팅해둔 사이즈 (17px = 1rem) */
    padding: 0 0.76em 0 0; /* 13/17 */
    display: inline-block; /* 사이즈가 딱 글자 만하게 떨어져야 하기 때문에 */
    position: relative; /* after 정렬의 기준 */
    left: 0.29em; /* 5/17 */
    top: 0.5em;
}
section .tit strong::after{
    content: "";
    position: absolute;
    right: 0;
    top: -0.23em; /* 4/17 */  
    width: 0.88em;/* 15/17 */
    height: 0.88em;
    background: var(--tit-ico);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

}
@media screen and (max-width:768px){
    section .tit{
        margin: 3em 0 0.26em 0; 
    }
}/* media 768  section*/
.biz .list ul{
    display: flex;
}
.biz .list ul li{
    width: 25%; /* 사진이 4개니까 100/4 */
    position: relative; /* txt 정렬의 기준 */
    transition: 0.5s;
}
.biz .list ul li .more{
    display: none;
}
.biz .list ul li .photo{
    overflow: hidden;
    height: 41.29em; /*702/17 여기에 글자크기를 준적이 없으니까 17*/
    position: relative; /* before 정렬의 기준 */
}
.biz .list ul li.on .photo::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%; /* 그라데이션 얼마나 줬는지 */
    background: linear-gradient(0deg,#A60000,rgba(166, 0, 0, 0));
}
.biz .list ul li .photo::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%; /* 그라데이션 얼마나 줬는지 */
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.5s;
}
.biz .list ul li .photo img{ /* 사진을 꽉차게 넣기 위해 */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.biz .list ul li .txt{ /* bottom값이 마이너스면  overflow: hidden을 줘야함 안그러면 버튼 잘려서 눌림 */
    position: absolute;
    left: 1.76em;/* 30/17 */
    bottom: 1.23em; 
    white-space: nowrap; /* 줄바꿈 금지 */
    transition: 0.5s;
}
.biz .list ul li .txt h3{
    font-size: 2.05rem; /* 35/17*/
    margin: 0.26em 0 0.68em 0;
    line-height: var(--line-height);
    font-weight: var(--bold-weight);
}
.biz .list ul li .txt a{
    color: rgba(255, 255, 255, 0.8);
    position: relative; /* after 기준으로 정렬 */
    left: 19px;
    opacity: 0;
    transition: 0.5s;
}
.biz .list ul li .txt a::after{
    content: "";
    position: absolute;
    left: -24px;
    bottom: -1px;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_39_517' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_39_517)'%3E%3Cpath d='M6 20C5.45 20 4.97917 19.8042 4.5875 19.4125C4.19583 19.0208 4 18.55 4 18C4 17.45 4.19583 16.9792 4.5875 16.5875C4.97917 16.1958 5.45 16 6 16C6.55 16 7.02083 16.1958 7.4125 16.5875C7.80417 16.9792 8 17.45 8 18C8 18.55 7.80417 19.0208 7.4125 19.4125C7.02083 19.8042 6.55 20 6 20ZM12 20C11.45 20 10.9792 19.8042 10.5875 19.4125C10.1958 19.0208 10 18.55 10 18C10 17.45 10.1958 16.9792 10.5875 16.5875C10.9792 16.1958 11.45 16 12 16C12.55 16 13.0208 16.1958 13.4125 16.5875C13.8042 16.9792 14 17.45 14 18C14 18.55 13.8042 19.0208 13.4125 19.4125C13.0208 19.8042 12.55 20 12 20ZM18 20C17.45 20 16.9792 19.8042 16.5875 19.4125C16.1958 19.0208 16 18.55 16 18C16 17.45 16.1958 16.9792 16.5875 16.5875C16.9792 16.1958 17.45 16 18 16C18.55 16 19.0208 16.1958 19.4125 16.5875C19.8042 16.9792 20 17.45 20 18C20 18.55 19.8042 19.0208 19.4125 19.4125C19.0208 19.8042 18.55 20 18 20ZM6 14C5.45 14 4.97917 13.8042 4.5875 13.4125C4.19583 13.0208 4 12.55 4 12C4 11.45 4.19583 10.9792 4.5875 10.5875C4.97917 10.1958 5.45 10 6 10C6.55 10 7.02083 10.1958 7.4125 10.5875C7.80417 10.9792 8 11.45 8 12C8 12.55 7.80417 13.0208 7.4125 13.4125C7.02083 13.8042 6.55 14 6 14ZM12 14C11.45 14 10.9792 13.8042 10.5875 13.4125C10.1958 13.0208 10 12.55 10 12C10 11.45 10.1958 10.9792 10.5875 10.5875C10.9792 10.1958 11.45 10 12 10C12.55 10 13.0208 10.1958 13.4125 10.5875C13.8042 10.9792 14 11.45 14 12C14 12.55 13.8042 13.0208 13.4125 13.4125C13.0208 13.8042 12.55 14 12 14ZM18 14C17.45 14 16.9792 13.8042 16.5875 13.4125C16.1958 13.0208 16 12.55 16 12C16 11.45 16.1958 10.9792 16.5875 10.5875C16.9792 10.1958 17.45 10 18 10C18.55 10 19.0208 10.1958 19.4125 10.5875C19.8042 10.9792 20 11.45 20 12C20 12.55 19.8042 13.0208 19.4125 13.4125C19.0208 13.8042 18.55 14 18 14ZM6 8C5.45 8 4.97917 7.80417 4.5875 7.4125C4.19583 7.02083 4 6.55 4 6C4 5.45 4.19583 4.97917 4.5875 4.5875C4.97917 4.19583 5.45 4 6 4C6.55 4 7.02083 4.19583 7.4125 4.5875C7.80417 4.97917 8 5.45 8 6C8 6.55 7.80417 7.02083 7.4125 7.4125C7.02083 7.80417 6.55 8 6 8ZM12 8C11.45 8 10.9792 7.80417 10.5875 7.4125C10.1958 7.02083 10 6.55 10 6C10 5.45 10.1958 4.97917 10.5875 4.5875C10.9792 4.19583 11.45 4 12 4C12.55 4 13.0208 4.19583 13.4125 4.5875C13.8042 4.97917 14 5.45 14 6C14 6.55 13.8042 7.02083 13.4125 7.4125C13.0208 7.80417 12.55 8 12 8ZM18 8C17.45 8 16.9792 7.80417 16.5875 7.4125C16.1958 7.02083 16 6.55 16 6C16 5.45 16.1958 4.97917 16.5875 4.5875C16.9792 4.19583 17.45 4 18 4C18.55 4 19.0208 4.19583 19.4125 4.5875C19.8042 4.97917 20 5.45 20 6C20 6.55 19.8042 7.02083 19.4125 7.4125C19.0208 7.80417 18.55 8 18 8Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
}   
/******************* 마우스를 오버했을때 on 클래스 **********************/

@media screen and (min-width:1025px){/* 1025px 까지만 적용 되는 biz효과 pc*/
    .biz .list ul li:hover{
        width: 50%;
    }
    .biz .list ul li:hover .txt{
        bottom: 3.11em;/* 53 / 17 */
    }
    .biz .list ul li:hover .txt a{
        opacity: 1;
    }
    .biz .list ul:hover li:not(:hover) .photo::before{ /* :not() 는 css로만 할 수 있음 */
        opacity: 0;
        background: linear-gradient(0deg,#A60000,rgba(166, 0, 0, 0));
    }
    .biz .list ul:hover li:not(:hover) .photo::after{ /* :not() 는 css로만 할 수 있음 */
        opacity: 1;
    }
} /* media */
@media screen and (max-width:1024px){ /* 1024px 이하에서 적용되는 biz효과 mobile */
                .biz .tit h2{
                    margin: 0 0 30px 0;
                }
                .biz .list ul{
                    display: block;
                }
                .biz .list ul li{
                    width: auto; /* 사진이 4개니까 100/4 */
                }
                /*.biz .list ul li + li{ /* 두번째 li부터 라는 말(인접형제선택자) // 밑 여백을 주기위해서 넣는것
                    margin-top: 1px;
                }*/
                .biz .list ul li .more{
                    display: block;
                    position: absolute; /* li를 기준으로 정렬 */
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 101;
                }
                .biz .list ul li .photo{
                    height: 14.37em; /*230/16*/
                }
                .biz .list ul li.on .photo::before{
                    height: 100%; /* 그라데이션 얼마나 줬는지 */
                    background: rgba(0, 0, 0, 0.5);
                }
                .biz .list ul li .photo::after{
                    display: none;
                }
                .biz .list ul li .txt{ /* bottom값이 마이너스면  overflow: hidden을 줘야함 안그러면 버튼 잘려서 눌림 */
                    left: 1em;/* 30/17 */
                    bottom: 0.06em; 
                    white-space: nowrap; /* 줄바꿈 금지 */
                    transition: 0.5s;
                }
                .biz .list ul li .txt h3{
                    font-size: 1.25rem; /* 20/16*/
                    margin: 0.26em 0 1.56em 0;
                    line-height: var(--line-height);
                    font-weight: var(--bold-weight);
                }
                .biz .list ul li .txt a{
                    display: none;
                }
                .biz .list ul li .txt a::after{
                    content: "";
                    position: absolute;
                    left: -24px;
                    bottom: -1px;
                    width: 24px;
                    height: 24px;
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_39_517' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_39_517)'%3E%3Cpath d='M6 20C5.45 20 4.97917 19.8042 4.5875 19.4125C4.19583 19.0208 4 18.55 4 18C4 17.45 4.19583 16.9792 4.5875 16.5875C4.97917 16.1958 5.45 16 6 16C6.55 16 7.02083 16.1958 7.4125 16.5875C7.80417 16.9792 8 17.45 8 18C8 18.55 7.80417 19.0208 7.4125 19.4125C7.02083 19.8042 6.55 20 6 20ZM12 20C11.45 20 10.9792 19.8042 10.5875 19.4125C10.1958 19.0208 10 18.55 10 18C10 17.45 10.1958 16.9792 10.5875 16.5875C10.9792 16.1958 11.45 16 12 16C12.55 16 13.0208 16.1958 13.4125 16.5875C13.8042 16.9792 14 17.45 14 18C14 18.55 13.8042 19.0208 13.4125 19.4125C13.0208 19.8042 12.55 20 12 20ZM18 20C17.45 20 16.9792 19.8042 16.5875 19.4125C16.1958 19.0208 16 18.55 16 18C16 17.45 16.1958 16.9792 16.5875 16.5875C16.9792 16.1958 17.45 16 18 16C18.55 16 19.0208 16.1958 19.4125 16.5875C19.8042 16.9792 20 17.45 20 18C20 18.55 19.8042 19.0208 19.4125 19.4125C19.0208 19.8042 18.55 20 18 20ZM6 14C5.45 14 4.97917 13.8042 4.5875 13.4125C4.19583 13.0208 4 12.55 4 12C4 11.45 4.19583 10.9792 4.5875 10.5875C4.97917 10.1958 5.45 10 6 10C6.55 10 7.02083 10.1958 7.4125 10.5875C7.80417 10.9792 8 11.45 8 12C8 12.55 7.80417 13.0208 7.4125 13.4125C7.02083 13.8042 6.55 14 6 14ZM12 14C11.45 14 10.9792 13.8042 10.5875 13.4125C10.1958 13.0208 10 12.55 10 12C10 11.45 10.1958 10.9792 10.5875 10.5875C10.9792 10.1958 11.45 10 12 10C12.55 10 13.0208 10.1958 13.4125 10.5875C13.8042 10.9792 14 11.45 14 12C14 12.55 13.8042 13.0208 13.4125 13.4125C13.0208 13.8042 12.55 14 12 14ZM18 14C17.45 14 16.9792 13.8042 16.5875 13.4125C16.1958 13.0208 16 12.55 16 12C16 11.45 16.1958 10.9792 16.5875 10.5875C16.9792 10.1958 17.45 10 18 10C18.55 10 19.0208 10.1958 19.4125 10.5875C19.8042 10.9792 20 11.45 20 12C20 12.55 19.8042 13.0208 19.4125 13.4125C19.0208 13.8042 18.55 14 18 14ZM6 8C5.45 8 4.97917 7.80417 4.5875 7.4125C4.19583 7.02083 4 6.55 4 6C4 5.45 4.19583 4.97917 4.5875 4.5875C4.97917 4.19583 5.45 4 6 4C6.55 4 7.02083 4.19583 7.4125 4.5875C7.80417 4.97917 8 5.45 8 6C8 6.55 7.80417 7.02083 7.4125 7.4125C7.02083 7.80417 6.55 8 6 8ZM12 8C11.45 8 10.9792 7.80417 10.5875 7.4125C10.1958 7.02083 10 6.55 10 6C10 5.45 10.1958 4.97917 10.5875 4.5875C10.9792 4.19583 11.45 4 12 4C12.55 4 13.0208 4.19583 13.4125 4.5875C13.8042 4.97917 14 5.45 14 6C14 6.55 13.8042 7.02083 13.4125 7.4125C13.0208 7.80417 12.55 8 12 8ZM18 8C17.45 8 16.9792 7.80417 16.5875 7.4125C16.1958 7.02083 16 6.55 16 6C16 5.45 16.1958 4.97917 16.5875 4.5875C16.9792 4.19583 17.45 4 18 4C18.55 4 19.0208 4.19583 19.4125 4.5875C19.8042 4.97917 20 5.45 20 6C20 6.55 19.8042 7.02083 19.4125 7.4125C19.0208 7.80417 18.55 8 18 8Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
                }   
}/* media */
.news .list{
    position: relative;
    /* left: calc(50% - 630px); /* 50% - 화면 넓이의 반땡 1260/2*/
    /* width: calc(50% + 630px - 24px); 이렇게 주면 화면 밖으로 나가는 슬라이드가 됨 */ 
    width: 1260px;
    margin: 0 auto; 
}
@media screen and (max-width:1386px){ /* wrapper가 해지되는 싸이즈 */
    .news .list{
        position: relative;
        width: calc(100% - 48px);
        margin: 0 auto; 
        left: 5%;
    }
}
/*.news .list .swiper{
    /* overflow: visible; hidden을 해제 ( swiper가 밖으로 나가는 경우에만 이렇게 줘야함 ) 
}*/
/*.news .list .swiper-slide{
    /*width: 30.70em; /* 522/17 swiper 사진이 wrapper 밖으로 나가는 경우에만 넓이를 주면됨
}*/
.news .list .swiper-slide a{
    display: block;
}
.news .list .swiper-slide a .date{
    display: block;
    font-size: var(--tit-font-size);
    border-top: 1px solid #fff;
    padding: 1.18em 0 0.5em 0; /* 59/50 , 25/50 */
    line-height: var(--line-height);
    position: relative; /* before 정렬의 기준 */
}
.news .list .swiper-slide a .date::before{ /*????????????*/
    content: "";
    position: absolute;
    left: 0;
    top: -0.11em;
    width: 0; /* 선의 길이 */
    height: 2px;
    background-color: #A60000;
    border-radius: 10px;
    transition: 0.5s;
}
.news .list .swiper-slide a:hover .date::before{/*????????????*/
    width: 100%;
}
.news .list .swiper-slide a h3{
    line-height: var(--line-height);
    font-size: 1.76rem; /* 30/17 rem */
    margin: 0 0 0.5em 0;
    font-weight: var(--bold-weight);

    /* 2줄제한 */
    height: 2.4em; /* 행간 * 줄수 (단위는 em) */
    overflow: hidden;
    
    /* 길어서 짤리면 ...추가 */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; /* 줄수 */

    word-break: normal; /* 단어별로 줄바꾸는 것을 해지하는것 */
}
.news .list .swiper-slide a p{
    /* 3 줄제한 */
    height: 4.5em;
    overflow: hidden;

    /* 길어서 짤리면 ...추가 */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; /* 줄수 */
    
    word-break: normal; /* 단어별로 줄바꾸는 것을 해지하는것 */

    margin: 1.47em 0 1.47em 0; /* 25/17 */
}
.news .list .swiper-slide a .photo{
    overflow: hidden;
    height: 12.88em; /* 219 / 17 */
}
.news .list .swiper-slide a .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.news .list .swiper-slide a:hover .photo img{
    transform: scale3d(1.2, 1.2, 1); /* 사진 자연스럽게 확대 하는 방법 */
}
.news .ctrl_wrap{
    margin: 3.17em 0 0 0;
}
.news .ctrl_wrap .wrapper{
    display: flex;
    justify-content: space-between;
}
.news .ctrl_wrap .group1{
    position: relative;
    width: calc(100% - 25.17em); /* 전체 넓이 % - 오른쪽 고정값(view more랑 숫자들)을 빼는것(428px) */
}
.news .ctrl_wrap .group1 .swiper-scrollbar{
    position: absolute;
    left: 0;
    bottom: 50%;
    transform: translateY(50%);
    z-index: 50;
    width: 100%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
}
.news .ctrl_wrap .group1 .swiper-scrollbar .swiper-scrollbar-drag{
    height: 5px;
    position: relative;
    background: #A60000;
    border-radius: 10px;
}
/* 넘어가는 숫자 디자인 시작 */
.news .ctrl_wrap .group2{ 
    display: flex;
    align-items: center;
    gap: 0.29em; 
}
.news .ctrl_wrap .group2 .count{ /* 숫자 가운데 슬라이스 색상 변경 */
    color: #A60000;
    bottom: auto;
    left: auto;
    width: auto;
    padding: 0 0.94em 0 0;
}
.news .ctrl_wrap .group2 .count .swiper-pagination-current{ /* 앞에 숫자 */
    color: #A60000;
    font-weight: var(--bold-weight);
}
.news .ctrl_wrap .group2 .count .swiper-pagination-total{ /* 뒤에 숫자 */
    color: #A60000;
    font-weight: var(--bold-weight);
}
/* 끝 */
.news .ctrl_wrap .btn_prev,
.news .ctrl_wrap .btn_next{
    display: block;
    width: 1.41em;
    height: 1.41em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_39_407' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_39_407)'%3E%3Cpath d='M10 22L0 12L10 2L11.775 3.775L3.55 12L11.775 20.225L10 22Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.news .ctrl_wrap .btn_next{
    transform: rotate(180deg);
}
.news .ctrl_wrap .more{
    display: block;
    position: relative;
    padding: 0 0 0 2.11em;
    color: rgba(255, 255, 255, 0.8);
    font-weight: var(--bold-weight);
}
.news .ctrl_wrap .more::before{ /* 왼쪽에 아이콘이 들어가니까 before */
    content: "";
    position: absolute;
    left: 0.45em;
    top: 0;
    width: 1.41em;
    height: 1.41em;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_39_404' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_39_404)'%3E%3Cpath d='M6 20C5.45 20 4.97917 19.8042 4.5875 19.4125C4.19583 19.0208 4 18.55 4 18C4 17.45 4.19583 16.9792 4.5875 16.5875C4.97917 16.1958 5.45 16 6 16C6.55 16 7.02083 16.1958 7.4125 16.5875C7.80417 16.9792 8 17.45 8 18C8 18.55 7.80417 19.0208 7.4125 19.4125C7.02083 19.8042 6.55 20 6 20ZM12 20C11.45 20 10.9792 19.8042 10.5875 19.4125C10.1958 19.0208 10 18.55 10 18C10 17.45 10.1958 16.9792 10.5875 16.5875C10.9792 16.1958 11.45 16 12 16C12.55 16 13.0208 16.1958 13.4125 16.5875C13.8042 16.9792 14 17.45 14 18C14 18.55 13.8042 19.0208 13.4125 19.4125C13.0208 19.8042 12.55 20 12 20ZM18 20C17.45 20 16.9792 19.8042 16.5875 19.4125C16.1958 19.0208 16 18.55 16 18C16 17.45 16.1958 16.9792 16.5875 16.5875C16.9792 16.1958 17.45 16 18 16C18.55 16 19.0208 16.1958 19.4125 16.5875C19.8042 16.9792 20 17.45 20 18C20 18.55 19.8042 19.0208 19.4125 19.4125C19.0208 19.8042 18.55 20 18 20ZM6 14C5.45 14 4.97917 13.8042 4.5875 13.4125C4.19583 13.0208 4 12.55 4 12C4 11.45 4.19583 10.9792 4.5875 10.5875C4.97917 10.1958 5.45 10 6 10C6.55 10 7.02083 10.1958 7.4125 10.5875C7.80417 10.9792 8 11.45 8 12C8 12.55 7.80417 13.0208 7.4125 13.4125C7.02083 13.8042 6.55 14 6 14ZM12 14C11.45 14 10.9792 13.8042 10.5875 13.4125C10.1958 13.0208 10 12.55 10 12C10 11.45 10.1958 10.9792 10.5875 10.5875C10.9792 10.1958 11.45 10 12 10C12.55 10 13.0208 10.1958 13.4125 10.5875C13.8042 10.9792 14 11.45 14 12C14 12.55 13.8042 13.0208 13.4125 13.4125C13.0208 13.8042 12.55 14 12 14ZM18 14C17.45 14 16.9792 13.8042 16.5875 13.4125C16.1958 13.0208 16 12.55 16 12C16 11.45 16.1958 10.9792 16.5875 10.5875C16.9792 10.1958 17.45 10 18 10C18.55 10 19.0208 10.1958 19.4125 10.5875C19.8042 10.9792 20 11.45 20 12C20 12.55 19.8042 13.0208 19.4125 13.4125C19.0208 13.8042 18.55 14 18 14ZM6 8C5.45 8 4.97917 7.80417 4.5875 7.4125C4.19583 7.02083 4 6.55 4 6C4 5.45 4.19583 4.97917 4.5875 4.5875C4.97917 4.19583 5.45 4 6 4C6.55 4 7.02083 4.19583 7.4125 4.5875C7.80417 4.97917 8 5.45 8 6C8 6.55 7.80417 7.02083 7.4125 7.4125C7.02083 7.80417 6.55 8 6 8ZM12 8C11.45 8 10.9792 7.80417 10.5875 7.4125C10.1958 7.02083 10 6.55 10 6C10 5.45 10.1958 4.97917 10.5875 4.5875C10.9792 4.19583 11.45 4 12 4C12.55 4 13.0208 4.19583 13.4125 4.5875C13.8042 4.97917 14 5.45 14 6C14 6.55 13.8042 7.02083 13.4125 7.4125C13.0208 7.80417 12.55 8 12 8ZM18 8C17.45 8 16.9792 7.80417 16.5875 7.4125C16.1958 7.02083 16 6.55 16 6C16 5.45 16.1958 4.97917 16.5875 4.5875C16.9792 4.19583 17.45 4 18 4C18.55 4 19.0208 4.19583 19.4125 4.5875C19.8042 4.97917 20 5.45 20 6C20 6.55 19.8042 7.02083 19.4125 7.4125C19.0208 7.80417 18.55 8 18 8Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width:768px){
        .news .list .swiper-slide{
            width: 14em; /* 224/16 = 14em*/
        }
        .news .list .swiper-slide a .date{
            padding: 1.23em 0 0.66em 0; /* 37/30 , 20/30 */
        }
        .news .list .swiper-slide a h3{
            font-size: 1.87rem; 
            margin: 0 0 0.73em 0;
        }
        .news .list .swiper-slide a p{    
            margin: 1.37em 0 2.31em 0; /* 22  37 */
        }
        .news .list .swiper-slide a .photo{
            height: 8.75em; /* 140 / 16 */
        }
        .news .ctrl_wrap{
            margin: 2.87em 0 0 0; /* 46 /16 */
        }
        .news .ctrl_wrap .group1{
            position: relative;
            width: calc(100% - 7.43em); /* 전체 넓이 % - 오른쪽 고정값(view more랑 숫자들)을 빼는것(183px) */
            left: 0;
        }
        .news .ctrl_wrap .group1 .swiper-scrollbar{
            position: absolute;
            left: -1.31em;
            bottom: 50%;
            transform: translateY(50%);
            z-index: 50;
            width: 100%;
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.3);
        }
        /* 넘어가는 숫자 디자인 시작 */
        .news .ctrl_wrap .group2{ 
            gap: 0.31em; /*5*/
        }
        .news .ctrl_wrap .group2 .count{ /* 숫자 가운데 슬라이스 색상 변경 */
            display: none;
        }
        /* 끝 */
        .news .ctrl_wrap .btn_prev,
        .news .ctrl_wrap .btn_next{
            display: none;
        }
        .news .ctrl_wrap .more{
            padding: 0 0 0 2.11em;
            right: 0.75em; /* 12 */
        }
}/*media*/

.service .list{
    background: url(../images/main/service01.jpg) no-repeat center center / cover;
    text-align: center;
    height: 29.41em;/* 500 */
    display: flex; /* ul을 list 의 높이에 위아래 가운데 정렬 */
    align-items: center;
}
.service .list[data-bg="bg1"] {
    background-image: url(../images/main/service02.jpg);
}
.service .list[data-bg="bg2"] {
    background-image: url(../images/main/service03.jpg);
}
.service .list[data-bg="bg3"] {
    background-image: url(../images/main/service04.jpg);
}
.service .list ul{
    display: flex;
    width: 100%; /* list 가 flex의 영향으로 넓이가 필요 */
    align-items: center;
}
.service .list ul li{
    width: 33.34%; /* 100% 의 3등분 */
    position: relative;
}
.service .list ul li + li::before{
    content: "";
    position: absolute;
    left: 0;
    top: 1.41em;
    width: 1px;
    height: 13.41em;
    background-color: rgba(255, 255, 255, 0.6);

}
.service .list ul li a{
    display: block;
    /* 좌우넓이 고정값=px을 주거나 %를 계산해서 적용하면됨. 글자 밖에 상자 있는 경우에만 적용하면 됨 %,px 둘다 가능*/
    margin: 0 15%; /* 상자 넓이 130px / 640 * 100 = 20.31% 여기서 절반을 나누면 원하는 사이즈 나옴. */
    padding: 4.82em 0 5em 0;
    border-radius: 10px;
    border: 1px solid #fff;
    backdrop-filter: blur(10px);
}
.service .list ul li a h3{
    font-size: 2.64rem;
    line-height: var(--line-height);
    margin: 0.05em 0 0.77em 0;
}
.service .list ul li a .more{
    display: inline-block;
    padding: 0 0 0 0.23em;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
}
.service .list ul li a .more::before{
    content: "";
    position: absolute;
    left: -1.35em; /* -23 */
    top: 0;
    width: 1.41em;
    height: 1.41em;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_39_404' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_39_404)'%3E%3Cpath d='M6 20C5.45 20 4.97917 19.8042 4.5875 19.4125C4.19583 19.0208 4 18.55 4 18C4 17.45 4.19583 16.9792 4.5875 16.5875C4.97917 16.1958 5.45 16 6 16C6.55 16 7.02083 16.1958 7.4125 16.5875C7.80417 16.9792 8 17.45 8 18C8 18.55 7.80417 19.0208 7.4125 19.4125C7.02083 19.8042 6.55 20 6 20ZM12 20C11.45 20 10.9792 19.8042 10.5875 19.4125C10.1958 19.0208 10 18.55 10 18C10 17.45 10.1958 16.9792 10.5875 16.5875C10.9792 16.1958 11.45 16 12 16C12.55 16 13.0208 16.1958 13.4125 16.5875C13.8042 16.9792 14 17.45 14 18C14 18.55 13.8042 19.0208 13.4125 19.4125C13.0208 19.8042 12.55 20 12 20ZM18 20C17.45 20 16.9792 19.8042 16.5875 19.4125C16.1958 19.0208 16 18.55 16 18C16 17.45 16.1958 16.9792 16.5875 16.5875C16.9792 16.1958 17.45 16 18 16C18.55 16 19.0208 16.1958 19.4125 16.5875C19.8042 16.9792 20 17.45 20 18C20 18.55 19.8042 19.0208 19.4125 19.4125C19.0208 19.8042 18.55 20 18 20ZM6 14C5.45 14 4.97917 13.8042 4.5875 13.4125C4.19583 13.0208 4 12.55 4 12C4 11.45 4.19583 10.9792 4.5875 10.5875C4.97917 10.1958 5.45 10 6 10C6.55 10 7.02083 10.1958 7.4125 10.5875C7.80417 10.9792 8 11.45 8 12C8 12.55 7.80417 13.0208 7.4125 13.4125C7.02083 13.8042 6.55 14 6 14ZM12 14C11.45 14 10.9792 13.8042 10.5875 13.4125C10.1958 13.0208 10 12.55 10 12C10 11.45 10.1958 10.9792 10.5875 10.5875C10.9792 10.1958 11.45 10 12 10C12.55 10 13.0208 10.1958 13.4125 10.5875C13.8042 10.9792 14 11.45 14 12C14 12.55 13.8042 13.0208 13.4125 13.4125C13.0208 13.8042 12.55 14 12 14ZM18 14C17.45 14 16.9792 13.8042 16.5875 13.4125C16.1958 13.0208 16 12.55 16 12C16 11.45 16.1958 10.9792 16.5875 10.5875C16.9792 10.1958 17.45 10 18 10C18.55 10 19.0208 10.1958 19.4125 10.5875C19.8042 10.9792 20 11.45 20 12C20 12.55 19.8042 13.0208 19.4125 13.4125C19.0208 13.8042 18.55 14 18 14ZM6 8C5.45 8 4.97917 7.80417 4.5875 7.4125C4.19583 7.02083 4 6.55 4 6C4 5.45 4.19583 4.97917 4.5875 4.5875C4.97917 4.19583 5.45 4 6 4C6.55 4 7.02083 4.19583 7.4125 4.5875C7.80417 4.97917 8 5.45 8 6C8 6.55 7.80417 7.02083 7.4125 7.4125C7.02083 7.80417 6.55 8 6 8ZM12 8C11.45 8 10.9792 7.80417 10.5875 7.4125C10.1958 7.02083 10 6.55 10 6C10 5.45 10.1958 4.97917 10.5875 4.5875C10.9792 4.19583 11.45 4 12 4C12.55 4 13.0208 4.19583 13.4125 4.5875C13.8042 4.97917 14 5.45 14 6C14 6.55 13.8042 7.02083 13.4125 7.4125C13.0208 7.80417 12.55 8 12 8ZM18 8C17.45 8 16.9792 7.80417 16.5875 7.4125C16.1958 7.02083 16 6.55 16 6C16 5.45 16.1958 4.97917 16.5875 4.5875C16.9792 4.19583 17.45 4 18 4C18.55 4 19.0208 4.19583 19.4125 4.5875C19.8042 4.97917 20 5.45 20 6C20 6.55 19.8042 7.02083 19.4125 7.4125C19.0208 7.80417 18.55 8 18 8Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}