@import url(common.css);
@import url(font.css);
@import url(default.css);

header{
    position: absolute; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    height: var(--header-h);
    padding: 0 80px; /* 좌우 여백 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .txt1,
header .txt2{
    font-size: 30px;
    font-family: var(--font-family-p);
}
header .txt1 span{
    margin: 0 90px;
}
header .txt1 p{
    text-align: right;
} 
header .txt2 p{
    margin: 0 0 0 100px;
}
header .txt2 span{
    margin: 0 95px;
}
.visual{
    background: url(../images/visual.png)no-repeat center center /cover;
}
.infor .photo{
    width: 100%;
}
.infor .tit{
    color: #1d1d1d;
}